{% extends "base.html" %}
{% load i18n thumbnail compress static %}

{# This could be made part of a "main template" if the UI \
    is similar for multiple "categories" #}

{% block title %}{{ member.get_print_name }}{% endblock %}

{% block head %}
<meta property="og:title" content="{{ member.get_print_name }}" />
<meta property="og:type" content="politician" />
{% thumbnail member.photo "64x96" as photo %}
<meta property="og:image" content="http://{{ fb_host }}{{ photo.url }}" />
{% endthumbnail %}
<meta property="og:url" content="http://{{ fb_host }}{{ member.get_absolute_url }}" />
{% endblock %}

{% block content %}

{% compress js %}
<!-- Backbone models -->
<script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
{% endcompress %}
{% compress js %}
<!-- Feed-specific views etc. -->
<script type="text/coffeescript" src="{% static "js/feed.coffee" %}"></script>
{% endcompress %}

<script type="text/javascript">
member = new Member({{ member_json|safe }});
</script>

<div class="row">

	<div class="span3 member-leftbar">
		{% block member_leftbar %}

		<div class="member-base-info">
			{% thumbnail member.photo "128x192" as photo %}
			<img class="member-portrait" src="{{photo.url}}" />
			{% endthumbnail %}
			{% thumbnail member.party.logo "55x55" format="PNG" as logo %}
			<img class="member-party-logo" src="{{ logo.url }}"/>
			{% endthumbnail %}
		
			<h4 class="member-name">
				{{ member.get_print_name }}
			</h4>
			<h4 class="member-district">
				{{ member.current_district.long_name }}
			</h4>
		</div>

		<a href="{% url 'parliament.views.show_member' member=member.url_name %}">
			{% trans "Recent activity" %}
		</a>
		<a href="{% url 'parliament.views.show_member' member=member.url_name page='basic-info' %}">
			{% trans "Basic information" %}
		</a>
	</div>
	{% endblock %}

	<div class="span6 member-content-span">
		<div class="member-content">
			{% block member_content %}
			{% endblock %}
		</div>
	</div>

	<div class="span3 member-rightbar">
		{% block member_rightbar %}
		<div>Search here?</div>
		<div style="height: 200px">
			Feed?
		</div>
		<div>And some some logos?</div>
		{% endblock %}
	</div>

<script type="text/template" id="activity-item-template">
    <a class="icon" href="#">
        <i class="icon-<%= icon %>"></i>
    </a>
    <div class="text">
        <header class="clearfix">
            <h4 class="heading">
                <%= action %>
                <% if (target.name) { %>
                    <%= target.name %>
                <% } %>
            </h4>
            <div class="time"><%= time_ago %></div>
        </header>
        <div class="summary"><%= target.text %></div>
    </div>
</script>

</div> <!-- row -->

{% endblock %}
