{% extends "base_j.html" %}
{% load i18n thumbnail comments opinions %}

{# This could be made part of a "main template" if the UI \
    is similar for multiple "categories" #}

{% block head %}
<meta property="og:title" content="{{ member.get_print_name }}" />
<meta property="og:type" content="politician" />
{% thumbnail member.photo "64x96" as photo %}
<meta property="og:image" content="http://{{ fb_host }}{{ photo.url }}" />
{% endthumbnail %}
<meta property="og:url" content="http://{{ fb_host }}{{ member.get_absolute_url }}" />

{% endblock %}

{% block content %}
<div class="row">

	<div class="span3 member-leftbar">
		{% block member_leftbar %}

		<div class="member-base-info">
			{% thumbnail member.photo "128x192" as photo %}
			<img class="member-portrait" src="{{photo.url}}" />
			{% endthumbnail %}
			{% thumbnail member.party.logo "55x55" as logo %}
			<img class="member-party-logo" src="{{ logo.url }}" />
			{% endthumbnail %}
		
			<h4 class="member-name">
				{{ member.get_print_name }}
			</h4>
			<h4 class="member-district">
				{{ member.current_district.long_name }}
			</h4>
		</div>

		<a href="{% url 'parliament.views.show_member' member.url_name %}">
			{% trans "Recent activity" %}
		</a>
		<a href="{% url 'parliament.views.member_basic_info' member.url_name %}">
			{% trans "Basic information" %}
		</a>
	</div>
	{% endblock %}

	<div class="span6 member-content-span">
		<div class="member-content">
			{% block member_content %}
			{% endblock %}
		</div>
	</div>

	<div class="span3 member-rightbar">
		{% block member_rightbar %}
		<div>Search here?</div>
		<div style="height: 200px">
			Feed?
		</div>
		<div>And some some logos?</div>
		{% endblock %}
	</div>

</div> <!-- row -->

{% endblock %}
