{% extends "base.html" %}
{% load compress static thumbnail i18n %}

{% block title %}{{ member.get_print_name }}{% endblock %}
{% block main_class %}member-details{% endblock %}

{% block head %}
<meta property="og:title" content="{{ member.get_print_name }}" />
<meta property="og:type" content="politician" />
{% thumbnail member.photo "64x96" as photo %}
<meta property="og:image" content="http://{{ fb_host }}{{ photo.url }}" />
{% endthumbnail %}
<meta property="og:url" content="http://{{ fb_host }}{{ member.get_absolute_url }}" />

{% compress js %}
<!-- Backbone models -->
<script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
{% endcompress %}

<script type="text/javascript">
member = new Member({{member_json|safe}});
party_json = {{party_json|safe}};
FEED_ACTIONS = {{feed_actions_json|safe}};
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="member-card">
            <h1>{{member.get_print_name}}</h1>
            <div class="party-district">
                <div class="party-logo">
                    {% thumbnail member.party.logo "48x48" format="PNG" as logo %}
                    <img src="{{logo.url}}" style="margin:{{logo|margin:"48x48"}}" />
                    {% endthumbnail %}
                </div>
                <div class="text">
                    <a href="{{member.party.get_absolute_url}}">{{member.party.full_name}}</a>
                    <span class="district">{{member.get_latest_district.district.name}} vaalipiiri</span>
                </div>
            </div>
            {% thumbnail member.photo "128x192" as photo %}
            <img class="portrait" src="{{photo.url}}" />
            {% endthumbnail %}
            <div class="roles">
                <ul class="minister">
                    {% for ma in member.posts.ministry %}
                    <li>{{ma.label}}</li>
                    {% endfor %}
                </ul>
                <ul class="committee">
                    {% for ca in member.posts.committee %}
                    <li>{{ca.committee.name}}{% if ca.role != 'member' %} (<span class="role-name">{{ca.get_role_display}}</span>){% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <nav class="side-navigation">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href=#>Etusivu</a></li>
                <li><a href=#>Perustiedot</a></li>
                <li class="disabled"><a href=#>Luottamustehtävät</a></li>
                <li class="disabled"><a href=#>Äänestystiedot</a></li>
                <li class="disabled"><a href=#>Tilastot</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-8">
        <div class="filter-feed box">
            <section>
                <h4>On kiinnostunut näistä asioista</h4>
                <div id="member-tag-cloud" class="tag-cloud"></div>
            </section>
            <section>
                <h4>Aktiivisuus</h4>
                <div id="member-activity-graph" class="activity-graph"></div>
            </section>
            <section>
                <div class="feed-filters">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">{% trans "Search" %}</label>
                            <div class="col-lg-6">
                                <input type="text" class="text-search form-control" placeholder="{% trans 'Input text' %}...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">{% trans "Filter" %}</label>
                            <div class="col-lg-11">
                            {% include "_feed_filters.html" %}
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="section activity-feed" class="feed unstyled">
                </ul>
            </section>
        </div>
    </div>
</div>

<script type="text/template" id="activity-item-template">
    <div class="source">
        <a href="#">
            <i class="typcn typcn-<%= FEED_ACTIONS[type].icon %> icon"></i>
            <%= action %>
        </a>
    </div>
    <div class="timestamp"><a href="#"><time datetime="<%= time %>"><%= time_str %></time></a></div>
    <div class="content summary">
        <%= target.text %>
    </div>
</script>

<script type="text/template" id="activity-item-template2">
    <a class="icon" href="#">
        <i class="icon-<%= icon %>"></i>
    </a>
    <div class="text">
        <header class="clearfix">
            <h4 class="heading">
                <%= action %>
                <% if (target.name) { %>
                    <%= target.name %>
                <% } %>
            </h4>
            <div class="time"><%= time_ago %></div>
        </header>
        <div class="summary"><%= target.text %></div>
    </div>
</script>

{% compress css %}
<link href="{% static "css/plots.less" %}" rel="stylesheet" type="text/less" />
{% endcompress %}

<script type="text/javascript" src="{% static "js/vendor/d3.v3.js" %}"></script>
<script type="text/javascript">
    activity_counts = {{ activity_counts_json|safe }}
    activity_types = {{ activity_types_json|safe }}
    activity_weights = {{ activity_type_weights_json|safe }}
    keyword_activity = {{keyword_activity|safe}};
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static "js/plots.coffee" %}"></script>

<script type="text/coffeescript" src="{% static "js/activity_scores.coffee" %}"></script>
{% endcompress %}

{% compress js %}
<!-- Feed-specific views etc. -->
<script type="text/coffeescript" src="{% static "js/feed.coffee" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/coffeescript" src="{% static "js/member.coffee" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/coffeescript">
    graph = new MemberActivityScoresView member:member, el:"#member-activity-graph"
</script>
{% endcompress %}

{% compress js %}
<script type="text/coffeescript">
    tags = ({name: x[0], count: x[1], url: '#'} for x in keyword_activity)
    tags = _.sortBy tags, (x) -> x.name
    $("#member-tag-cloud").tag_cloud tags

    feed_view = new MemberActivityFeedView member

    $("#member-tag-cloud li a").click (ev) ->
        ev.preventDefault()
        if $(this).hasClass 'active'
            feed_view.filter()
            $(this).removeClass 'active'
        else
            kw = $.trim $(@).html()
            feed_view.filter_keyword kw
            $("#member-tag-cloud li a").removeClass 'active'
            $(this).addClass 'active'
</script>
{% endcompress %}

{% endblock %}
