{% extends "base.html" %}
{% load compress static i18n static %}

{% block title %}{% trans "Members of the Parliament" %}{% endblock %}

{% block main_class %}member-list{% endblock %}

{% block content %}
<div class="box">
    <header class="page-heading">
        <h1>{% trans "Members of the Parliament" %}</h1>
    </header>
    <div class="feed-filters">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">{% trans "Search" %}</label>
                <div class="col-lg-6">
                    <input type="text" class="text-search form-control" placeholder="{% trans 'Search with name, party, district' %}...">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">{% trans "Order" %}</label>
                <div class="col-lg-10">
                    <div class="btn-toolbar">
                        <div class="btn-group btn-group-sm member-list-sort-buttons">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <div class="spinner-container"></div>
    <ul class="member-list row">
    </ul>
</div>

<script id="member-list-sort-button-template" type="text/template">
    <button data-col="<%= id %>" class="btn btn-default" type="button"><%= name %></button>
</script>

{% include "_mp_card_template.html" %}

<!-- Embedded resources -->
<script type="text/javascript">
    MEMBER_LIST_FIELDS = {{list_fields_json|safe}};
    MINISTER_TRANSLATION = "{% trans "minister" %}"
    party_json = {{party_json|safe}};
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/coffeescript" src="{% static "js/member-list.coffee" %}"></script>
<script type="text/coffeescript">
$ ->
    # TODO: The party list is a horrible hack!
    window.party_list = new PartyList party_json
    member_list_view = new MemberListView
    sort_buttons_view = new MemberListSortButtonsView
        member_list_view: member_list_view
    sort_buttons_view.render()
    

</script>
{% endcompress %}

{% endblock %}
