*~
*.pyc
*.pyo
*.mo
*.swp
.cache
.vagrant
files
tags
kamu.db
settings_local.py
mp-twitter.pickle
utils/cache
eduskunta/ptk
eduskunta/ptkxml
static/cache
static/images/parties
static/images/members
static/images/orgs
static/images/*/*q85.png
static/images/users
static/tmp
static/gen
djapian/
eduskunta/doc_sgml
eduskunta/doc_xml
eduskunta/minutes_sgml
eduskunta/minutes_xml
.Rproj.user
