*~
*.pyc
*.pyo
*.mo
*.swp
files
tags
kamu.db
settings_local.py
utils/cache
static/images/parties
static/images/members
static/images/orgs
static/images/*/*q85.png
static/images/users
static/tmp
static/gen
djapian/
