Django<3.0
Markdown
BeautifulSoup4
python-dateutil
simplejson
django-tastypie
twython
pygments
django-compressor
twitter-text-python
sorl-thumbnail
django-extensions
##pyfaceb>=0.2.4
requests
requests-cache
elasticsearch
django-appconf
mimeparse
psycopg2-binary
lxml
django-sortedm2m
django-cors-headers
django-envelope
Pillow
django-haystack
