Django
Markdown
BeautifulSoup
python-dateutil
simplejson
South
django-tastypie
twython
pygments
django-compressor
twitter-text-py
sorl-thumbnail
django-extensions
-e git+https://github.com/sproutsocial/pyfaceb.git#egg=pyfaceb
requests>=1.1.0
requests-cache
