Django<1.9
Markdown
BeautifulSoup4
python-dateutil
simplejson
django-tastypie
twython>=3.0.0
pygments
django-compressor>=1.3
twitter-text-python
sorl-thumbnail>=11.12.1b
django-extensions
##pyfaceb>=0.2.4
requests>=1.1.0
requests-cache
#django-tastypie-swagger
django-haystack<2.8
elasticsearch
django-appconf
mimeparse
psycopg2
lxml
django-sortedm2m
django-cors-headers
django-envelope<1.3
Pillow
