Django>=1.7
Markdown
BeautifulSoup
python-dateutil
simplejson
django-tastypie
twython>=3.0.0
pygments
django-compressor>=1.3
twitter-text-py
sorl-thumbnail>=11.12.1b
django-extensions
pyfaceb>=0.2.4
requests>=1.1.0
requests-cache
ansible
django-tastypie-swagger
django-haystack
elasticsearch
django-appconf
mimeparse
psycopg2
lxml
django-sortedm2m
django-cors-headers
-e git+https://github.com/juyrjola/django-envelope#egg=django-envelope

