{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
  <h1>{% trans "Kamu login" %}</h1>
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">
    <label for="username">{% trans "User name:" %}</label>
    <input type="text" name="username" value="" id="username">
    <br />
    <label for="password">{% trans "Password:" %}</label>
    <input type="password" name="password" value="" id="password">
    <br />
    <input type="submit" name="login" value="{% trans "Login" %}"/>
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  <br />
  <p><a class="link" href="{% url auth_password_reset %}">{% trans "Forgot your username or password?" %}</a></p>
  <p><a class="link" href="{% url registration_register %}">{% trans "Create a new account." %}</a></p>

{% endblock %}

