{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
  <h1>{% trans "Kamu login" %}</h1>

{% blocktrans %}
<p>The only personal information we will display publicly is your name. Any other information collected about you will remain private unless you choose to allow us to display it.</p>
<p>We use your personal information only in an anonymized fashion, according to our privacy policy.</p>
{% endblocktrans %}
<br />

{% if fb_enabled %}
{% include "_facebook.html" %}
<script>
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      window.location = '{% url facebook_connect %}'
    } else {
      // The user has logged out, and the cookie has been cleared
    }
  });
  FB.getLoginStatus();
</script>

  <p>{% blocktrans %}
If you have a Facebook account, you can login or register using the button below.
{% endblocktrans %}</p>
  <div class="fb_login_button">
    <fb:login-button perms="email"></fb:login-button>
  </div>
  <p>{% blocktrans %}
You can also login using your Kamu account.
{% endblocktrans %}</p>
{% endif %}
  {% if form.errors %}
    <p class="error">{% trans "Sorry, that's not a valid username or password" %}</p>
  {% endif %}

  <form id="login_form" action="" method="post">
    <label for="username">{% trans "User name:" %}</label>
    <input type="text" name="username" value="" id="username">
    <br />
    <label for="password">{% trans "Password:" %}</label>
    <input type="password" name="password" value="" id="password">
    <br />
    <input id="login_button" type="submit" name="login" value="{% trans "Login" %}"/>
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  <br />

  <p><a class="link" href="{% url auth_password_reset %}">{% trans "Forgot your username or password?" %}</a></p>
  <p><a class="link" href="{% url registration_register %}">{% trans "Create a new account." %}</a></p>

{% endblock %}

