{% load i18n %}

{% for item in items %}
<article class="plenary-item">
    <header>
        <time>{{item.plsess.date|date:"SHORT_DATE_FORMAT"}}</time>
        <a href="{{item.docs.all.0.get_absolute_url}}"><h4>{{ item.description }}</h4></a>
    <header>
    <div class="plenary-item-content">
{% if item.statement %}
        <span class="mp-name">{{ item.statement.member.get_print_name }}</span> ({{ item.statement.member.party.abbreviation }}): "{{ item.statement.text|truncatewords:50 }}"
{% endif %}
{% if item.nr_statements %}
{% blocktrans count nr_statements=item.nr_statements %}
1 statement
{% plural %}
{{nr_statements}} statements
{% endblocktrans %}
{% if item.nr_votes %},{% endif %}
{% endif %}

{% if item.nr_votes %}
{% blocktrans count nr_votes=item.nr_votes %}
1 vote
{% plural %}
{{nr_votes}} votes
{% endblocktrans %}
{% endif %}
    &gt;
    </div>
</article>
{% endfor %}
