{% extends "sidebarbase.html" %}
{% load compress static i18n thumbnail parliament %}
{% block title %}{{ item.description|truncatewords:10 }}{% endblock %}
{% block head %}
<script type="text/javascript">

$(function() {
	moment.lang('fi');
	$(".time[title]").each(function() {
		time = $(this).attr('title');
		mom = moment(time);
		$(this).text(mom.fromNow());
	});
	var now = moment();
$(".proposal-summary").expander({slicePoint: 1000,hasBlocks: true});
$(".proposal-statement-text").expander({slicePoint: 1000,hasBlocks: true});
$(".dropdown-toggle").dropdown();
});

</script>
{% endblock %}

{% block sidebar %}
<div class="issue-card">
    <header>
        <h1>{{item.get_type_description|safe}}</h1>
        <h4>{% trans "Plenary session" %}<br/>{{ item.plsess.date }}</h4>
    </header>
    
    {% include "_share_button.html" %}
</div>

{% endblock %}

{% block main_content %}

<div class="">
    <div class="">
        <div class="proposal-content content">
          <header>
            <h1>{{item.description}}</h1>
            
            {% if item.docs.all %}
            <h3>Käsitellyt asiat</h3>
            <ol class="plenary-item-docs">
            {% for document in item.docs.all %}
               <li class="media">
                 <i class="typcn typcn-clipboard media-left"></i>
                 <a class="media-body" href="{% url "parliament.views.show_document" slug=document.url_name %}">{{document.subject}}</a>
               </li>
            {% endfor %}
            </ol>
            {% endif %}
            
            
            {% if single_doc and single_doc.summary %}
            <div class="proposal-summary">
            {{ single_doc.summary|linebreaks }}
            </div>
            {% endif %}
            
            
          </header>
            {% if item.plenary_votes.count %}
            <h3 id="votings">{% trans "Plenary votes" %}</h3>
            <div class="proposal-votings">
              {% for vote in item.plenary_votes.all %}
              <div class="voting-result-summary">
                <h5 class="voting-setting">{{ vote.setting }}</h5>
                <div class="voting-conclusion-container conclusion-yes">
                  <span class="conclusion-title">{% trans "Result" %}</span>
                  <span class="conclusion-result">
                    <i class="typcn typcn-{% if vote.get_result == 'Y' %}thumbs-up{% else %}thumbs-down{% endif %}"></i>
                  </span>
                </div>
                {% with vc=vote.get_vote_counts %}
                <div class="voting-sum-container"><div title="{% trans "Yay" %}" class="voting-sum-icon sum-icon-yes outcome"><i class="typcn typcn-thumbs-up"></i>{{ vc.Y }}</div>
                <div class="voting-sum-graphic sum-marker-yes"><div class="voting-sum" style="width:{% widthratio vc.Y 200 100 %}%"></div></div></div>
                <div class="voting-sum-container"><div title="{% trans "Nay" %}" class="voting-sum-icon sum-icon-no "><i class="typcn typcn-thumbs-down"></i>{{ vc.N }}</div>
                <div class="voting-sum-graphic sum-marker-no"><div class="voting-sum" style="width:{% widthratio vc.N 200 100 %}%"></div></div></div>
                <div class="voting-sum-container"><div title="{% trans "Empty" %}" class="voting-sum-icon sum-icon-empty "><i class="typcn typcn-minus-outline"></i>{{ vc.E }}</div>
                <div class="voting-sum-graphic sum-marker-empty"><div class="voting-sum" style="width:{% widthratio vc.E 200 100 %}%"></div></div></div>
                <div class="voting-sum-container"><div title="{% trans "Absent" %}" class="voting-sum-icon sum-icon-absent "><i class="typcn typcn-user-delete-outline"></i>{{ vc.A }}</div>
                <div class="voting-sum-graphic sum-marker-absent"><div class="voting-sum" style="width:{% widthratio vc.A 200 100 %}%"></div></div></div>
                
                {% endwith %}

              </div>
              {% endfor %}
            </div>
            {% endif %}
            {% if item.statement_set.count %}
            <h3 id="statements">{% trans "Statements" %}</h3>
            <div class="proposal-statements">
                {% for statement in item.statement_set.all %}
                {% with member=statement.member governing_party=statement.member.party|governing:item.plsess.date %}
                    <div class="proposal-statement media {% if statement.type == 'speaker' %}side-neutral{% elif governing_party %}side-government{% else %}side-opposition{% endif %}">
                        <a id="{{statement.get_anchor_string}}"></a>
                        {% if member %}
                        <a class="statement-portrait" href="{{member.get_absolute_url}}">
                            {% thumbnail member.photo "64x64" as tn %}
                            <img class="media-object" src="{{tn.url}}">
                            {% endthumbnail %}
                        </a>
                        {% endif %}
                        <div class="media-body proposal-statement-content">
                            {% if member %}
                            <h5 class="media-heading"><a class="unstyled" href="{{member.get_absolute_url}}">{{statement.speaker_name}} /{{member.party.abbreviation}}</a>
                            {% if statement.type == 'speaker' %} ({% trans "speaker" %}) {% endif %}
                            </h5>
                            {% else %}
                            <h5 class="media-heading">{{statement.speaker_name}}
                            {% if statement.type == 'speaker' %} ({% trans "speaker" %}) {% endif %}
                            </h5>
                            {% endif %}
                            <div class="proposal-statement-text">
                                {{statement.get_html_text|linebreaks}}
                            </div>
                        </div>
                    </div>
                {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
