{% extends "base.html" %}
{% load compress static i18n thumbnail parliament %}
{% block title %}{{ item.description|truncatewords:10 }}{% endblock %}
{% block head %}
<script type="text/javascript">

$(function() {
	moment.lang('fi');
	$(".time[title]").each(function() {
		time = $(this).attr('title');
		mom = moment(time);
		$(this).text(mom.fromNow());
	});
	var now = moment();
});

</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        {% if item.docs.all %}
        <div class="box plenary-session-item-documents related-sidebar">
            <h4>{% trans "Plenary session item documents" %}</h4>
            <ol>
            {% for document in item.docs.all %}
               <li><a href="{% url "parliament.views.show_document" slug=document.url_name %}">{{document.subject}}</a></li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
    <div class="col-md-11">
        <div class="proposal-content content">
            <header>
                <h1>{{item.description}}</h1>
                <h4>{{item.get_type_description|safe}}</h4>
                <h4>{% trans "Plenary session" %} {{ item.plsess.date }}</h4>
            </header>
            {% if item.plenary_votes.count %}
            <h2 id="votings">{% trans "Plenary votes" %}</h2>
            <div class="proposal-votings">
              {% for vote in item.plenary_votes.all %}
              <div class="voting-result-summary">
                <div class="voting-setting">{{ vote.setting }}</div>
                {% with vc=vote.get_vote_counts %}
                <div class="voting-sum-icon outcome"><i class="typcn typcn-thumbs-up"></i>{{ vc.Y }}</div>
                <div class="voting-sum-container"><div class="voting-sum sum-yes" style="width:{% widthratio vc.Y 200 100 %}%"></div></div>
                <div class="voting-sum-icon"><i class="typcn typcn-thumbs-down"></i>{{ vc.N }}</div>
                <div class="voting-sum-container"><div class="voting-sum sum-no" style="width:{% widthratio vc.N 200 100 %}%"></div></div>
                <div class="voting-sum-icon"><i class="typcn typcn-media-stop-outline"></i>{{ vc.E }}</div>
                <div class="voting-sum-container"><div class="voting-sum sum-empty" style="width:{% widthratio vc.E 200 100 %}%"></div></div>
                <div class="voting-sum-icon"><i class="typcn typcn-times-outline"></i>{{ vc.A }}</div>
                <div class="voting-sum-container"><div class="voting-sum sum-absent" style="width:{% widthratio vc.A 200 100 %}%"></div></div>
                {% endwith %}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            {% if item.statement_set.count %}
            <h2 id="statements">{% trans "Statements" %}</h2>
            <div class="proposal-statements">
                {% for statement in item.statement_set.all %}
                {% with member=statement.member governing_party=statement.member.party|governing:item.plsess.date %}
                    <div class="proposal-statement media {% if statement.type == 'speaker' %}side-neutral{% elif governing_party %}side-government{% else %}side-opposition{% endif %}">
                        <a id="{{statement.get_anchor_string}}"></a>
                        {% if member %}
                        <a class="statement-portrait" href="{{member.get_absolute_url}}">
                            {% thumbnail member.photo "64x64" as tn %}
                            <img class="media-object" src="{{tn.url}}">
                            {% endthumbnail %}
                        </a>
                        {% endif %}
                        <div class="media-body proposal-statement-content">
                            {% if member %}
                            <h5 class="media-heading"><a class="unstyled" href="{{member.get_absolute_url}}">{{statement.speaker_name}} /{{member.party.abbreviation}}</a>
                            {% if statement.type == 'speaker' %} ({% trans "speaker" %}) {% endif %}
                            </h5>
                            {% else %}
                            <h5 class="media-heading">{{statement.speaker_name}}
                            {% if statement.type == 'speaker' %} ({% trans "speaker" %}) {% endif %}
                            </h5>
                            {% endif %}
                            <div class="proposal-statement-text">
                                {{statement.get_html_text|linebreaks}}
                            </div>
                        </div>
                    </div>
                {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
