{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Facebook Connect" %}{% endblock %}
{% block content %}
  <h1>{% trans "Facebook Connect" %}</h1>
{% blocktrans %}
<p>The only personal information we will display publicly is your name. Any other information collected about you will remain private unless you choose to allow us to display it.</p>
<p>We use your personal information only in an anonymized fashion, according to our privacy policy.</p>
{% endblocktrans %}
{% if fb_enabled %}
<div style="margin-top: 16px;">
{% include "_facebook.html" %}
<fb:registration fields="name,first_name,last_name,birthday,gender,location,email" redirect-uri="http://{{ fb_host }}{% url facebook_register %}"></fb:registration>
{% comment %}
<img src="/static/{{ portrait }}" />
{{ info.first_name }} {{ info.last_name }} {% endcomment %}
</div>
{% else %}
{% trans "Facebook functionality disabled." %}
{% endif %}
{% endblock %}

