@import "kamu-grid.less";
@import "../bootstrap/less/variables.less";
@import "variables.less";
@import "../bootstrap/less/mixins.less";
@import "../bootstrap/less/list-group.less";
@import "../bootstrap/less/grid.less";
@import "../bootstrap/less/scaffolding.less";
@import "../bootstrap/less/type.less";
@import "../bootstrap/less/forms.less";

@image-url: "../images";

/*------------------------------------*\
    @MIXINS
\*------------------------------------*/

@box-padding: 20px;

.boxed(@pad: @box-padding) {
    background: lighten(@gray-lighter,15%);
    padding: @pad;
    min-height: 20px;
    margin-bottom: 20px;
}

/*------------------------------------*\
    @COMMON STYLES
\*------------------------------------*/

body {
    background-color: @body-background-color;
}

img {
    .img-responsive();  /* make all images responsive by default */
}

ul {
    padding: 0;
}

/*------------------------------------*\
    @TYPOGRAPHY (BOOTSTRAP OVERRIDES)
\*------------------------------------*/

h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

h1 {
    font-size: @font-size-extra-extra-large;
    line-height: 40px;
    font-family: @brand-font-family;
    color: @electric;
}

h2 {
    font-size: @font-size-extra-large;
    //line-height: 40px;
}

h3 {
    &.section-header {
        color: @pine;
        margin-top: 0;
	
    }
    font-size: @font-size-large;
    line-height: 20px;    
}

.section-subheader {
	font-size: @font-size-small;
	color: @gray;
    display: inline-block;
}

h4 {
    &.section-header {
        color: @mint;
    }
    font-size: @font-size-large;
    line-height: 20px;
}

h5 {
    font-size: @font-size-base;
    line-height: 20px;
}

h6 {
    font-size: @font-size-small;
    line-height: 20px;
}

.section-heading {
    margin: 5px 0 20px 0;
    color: @gray-darker;
}

.page-heading {
    margin-bottom: 20px;
    h1 {
        text-transform: none;
        word-wrap: break-word;
        overflow: hidden;
    }
}

fieldset {
  position: relative;
}

.help-link {
  margin-left: 4px;
  background: @blueberry;
  border-radius: 3px;
  float: right;
  display: inline-block;
  i {
    float:right;
  }
  &:hover {
    background: @electric;
  }
  a {
    color: #FFF;
  }
}

legend {
    font-weight: 700;
    font-size: @font-size-large;
    font-family: @headings-font-family;
    text-transform: uppercase;
    color: @gray-dark;
    margin-bottom: 0;
}

fieldset {
    margin-bottom: 20px;
}

.side-navigation {
    .boxed();
    background: @gray;
}

.box {
   .boxed();
}

.content {
   .boxed();
}

.shadow-heavy {
    .box-shadow(2px 2px 4px rgba(0,0,0,.33));
}
.shadow-light {
    .box-shadow(1px 1px 3px rgba(0,0,0,.20));
}

.shadowboxed-bg {
    .shadow-heavy;
    background-color: @gray-lighter;
}

.progress {
  border: 1px solid lighten(@electric,20%);
}

.progress-bar-info, .progress-bar {
    background-color: @electric;
}

.newsfeed {
    > article {
        border-top: @gray-light solid 1px;
        margin-top: 20px;
        header {
            h4 {
                font-family: @font-family-base;
                font-size: @font-size-base;
                font-weight: 900;
        
                color: @gray-darker;
                margin-top: 0;
                text-transform: none;
            }
            time {
                color: @gray;
            }
        }
    }
}

.activity-feed {
    .list-unstyled();
    padding: 0;
    > .activity-item {
        border-top: 2px solid @gray-light;
        padding: 5px 5px 0 0;
        .clearfix();
        margin-bottom: 20px;
        .avatar {
            width: 48px;
            float: left;
            padding: 3px;
            background-color: @gray-light;
        &:hover {
          background-color: @mint;  
        }
        }
        .source {
            float: left;
            margin-left: 16px;
            a {
                font-family: @headings-font-family;
                text-transform: uppercase;
                font-weight: 700;
                text-decoration: none;
                color: @gray;
                &:hover {
                    color: @mint;
                }
            }
        }
        .author {
            font-family: @font-family-base;
            text-transform: none;
            font-weight: 900;
            color: @gray-dark;
        }
        .username { 
            font-weight: 400;
            color: @gray;
        }
        .icon {
            color: @electric;
            font-size: 22px !important;
            display: inline-block;
            height: 16px;
            line-height: 16px;
        }
        .timestamp {
            line-height: 20px;
            font-size: @font-size-small;
            float: right;
            a {
                color: @gray;
                &:hover {
                    color: @mint;
                }
            }
        }
        .feed-content {
            padding: 16px 0 0 0;
            margin: 25px 0 0 64px;
            .clearfix;
            border-top: 1px solid @gray-lighter;
            h2 {
                font-family: @font-family-base;
                font-size: @font-size-large;
                font-weight: 900;
                line-height: 20px;
                text-transform: none;
                margin: 0 0 0.5em 0;
                letter-spacing: -1px;
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
            .details {
              background: @gray-lighter;
              padding: 10px;
            }
        }
        .content-image {
            float: left;
            border-right: 2px solid @gray-light;
            padding-right: 5px;
            margin-right: 5px;
        }
        .labels {
            text-align: right;
            margin-bottom: 1em;
            .label {
                background-color: @gray-light;
            }
        }
        .actions {
            float: right;
            a {
                color: @gray;
                a:hover {
                    color: @mint;
                }
            }
        }
        &.single-actor {
            .content {
                margin-left: 0;
            }
        }

    }
}

.tag-cloud {
    background-color: @white;
    margin: 10px 0 0 0;
    ul {
        list-style: none;
        padding-left: 0;
        font-family: @brand-font-family;
        text-transform: uppercase;
        font-weight: 700;
        li {
            a {
                background: @white;
                text-decoration: none;
                padding: 0.3em 5px 0 5px;
                line-height: 1em;
                color: @gray;
                border-radius: 3px;
                &:hover {
                    background-color: @lemon;
                    color: #222;
                    text-decoration: none;
                    .shadow-light();
                    z-index: 9999;
                }
                &.active {
                    color: @white;
                    background: @mint;
                    outline: 0;
                    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                }

                cursor: pointer;
            }
            display: inline-block;
            margin: 0 10px 5px 0;
        }
    }
}


.feed-filters {
    .clearfix();
    padding: 10px;
    background: @gray-lighter;
    form {
        margin: 0;
    }
}

.activity-graph {
    height: 200px;
}

.flot-tick-label {
    font-family: @brand-font-family;
    font-size: ceil(@font-size-base * 0.6);
    text-transform: uppercase;
}

.form-control:focus {
    border-color: rgba(142,212,207,.8); // @mint
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(142,212,207,.6)");
}


/***************************************************************
 * Components on all pages
 ***************************************************************/

.page-head {
    background-color: @top-header-bg-color;
    background: url("@{image-url}/header-bg.png");
    padding-top: 20px;
    padding-bottom: 20px;
    h1 {
        float: left;
        width: 180px;
        img {
            height: 75px;
        }
    }
    nav {
        a {
            color: @blueberry;
        }
        ul {
            float: right;
        }
    }
    .share-button {
      margin-top: 50px;
      float: right;
    }
}

.share-button {
  margin-bottom: 20px;;
}

.main-nav-container {
    background-color: @navbar-default-bg;
    nav {
        padding-left: 0px;
        form {
            margin-top: 5px;
            float: right;
        }
        border: 0px;
    }
}

.main-content-container {
    margin-top: 24px;
}

main {
    margin-top: @box-padding;
    /* background-color: white;
    padding: 20px;
    > h1 {
        margin-top: 0px;
        color: @accent-color;
        font-family: "Expletus Sans", sans-serif;
    }
    */
}

.page-footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 2px solid @gray-dark;
    background-color: @gray-light;
    .copyright {
    }
}

.btn-group {

  .active {
    background: lighten(@mint,20%);
    //color: @electric;
  }
}

.read-more a, .read-less a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding-right: 12px;
  margin-top: 12px;
  border-top: #333 solid 2px;
  color: #333;
  background-color: @gray-lighter;
}


/***************************************************************
 * Home page 
 ***************************************************************/
main.home-page {
    .top-feature-box {
        .box();
        text-align: center;
        h3 {
            font-family: @font-family-base;
            font-weight: 900;
            color: @gray-dark;
            line-height: 20px;
        }
        > header {
            color: @accent-color;
        }
        > nav {
            .nav-button {
                margin-bottom: @box-padding;
                padding: 10px;
                background-color: @lemon;
                @media (min-width: @screen-md) {
                    height: 280px;
                }
            }
        }
    }
}

.highlight-image {
  width: 50%;
  display: none;
}

.highlight-statement-content {
  padding: 10px;
  position: relative;
  background: #E6E6E6;
  a {
    text-decoration: none;
    color: @gray-dark; 
  }
}

.highlight-source-link {
  line-height: 1;
  padding: 10px;
  .highlight-source-session {
    font-weight: 700;
  }
  a {
    color: @gray;
    text-decoration: none;
    font-size: @font-size-small;
    &:hover {
      color: @gray-dark;
    }
  }
}

.side-opposition .highlight-statement-content {
  background: #dad7f0 ;
  margin-right: 0;
}

.side-government .highlight-statement-content {
  background: #c6e9e7;
  margin-left: 0;
}

.side-neutral .highlight-statement-content {
  background: #E6E6E6;
  margin-left: 0;
}

.issue-highlight {
  display: block;
  background: @pine;
  padding: 12px 12px 6px 12px;
  border-radius: 3px;
  text-transform: uppercase; 
  font-family: @brand-font-family;
  color: #FFFFFF;
}

.section-link {
  margin-top: 24px;
  border-top: 2px solid @pine;
  a {
    color: @pine;
    float: right;
  }
}


ul.highlight-parties {

      list-style: none;
      margin: 0;
      padding: 0;
      .clearfix();

    > li {
      list-style: none;
      border-bottom: 1px solid @gray-light;
    }

    .party-highlight {
        .clearfix();
        margin: 0;
        //padding: 6px;
        
        .party-thumbnail {
          padding-top: 10px;
          .make-md-column(4);
          .make-xs-column(2);
          //float: left;
          //border: 2px solid @lemon;
        }
        .party-activity {
          padding-top: 10px;
          .make-md-column(11);
          .make-xs-column(4);
          height: 100%;
          .thumbnail-activity {
            background:@gray-lighter;
            height: 14px;
            max-width: 480px;
          }
          .thumbnail-activity-bar {
            float: left;
            height: 100%;
            background: @electric;
          } 
        }
        .party-issues {
          //margin-left: 58px;
          padding: 10px;
          .make-md-column(11);
          .make-xs-column(9);
          height: 100%;
          ul {
            
            list-style: none;
            //height: 14px;
            line-height: 14px;
          }
          li {
            display: inline-block;
            //background: @gray;
            font-size: 11px;
            background: @gray-lighter;
            border-left: 3px solid @gray;
            border-radius: 1px;
            padding: 0 6px 0 4px;
            margin: 0 6px 3px 0;
            a, a:hover {
              color: @pine;
              text-decoration: none;
            }
            &:last-child {
             //border: 0;
            }
          }
        }
    }
}


.most-active-members {
    .clearfix();
    margin-bottom: 20px;
    //background: @mint;
    ol, ul {
        counter-reset:li;
        margin: 0;
        padding: 0;
        .make-row();
        //.clearfix();
    }
    li {
        display: inline-block;
        margin-bottom: 10px;
        .make-xs-column(5);
        .make-sm-column(3);
        .make-md-column(3);
    }
    li a {
      .clearfix();
      background: @gray-dark;
      position: relative;
      display: block;
      
      //border: 3px solid @gray-light;
      &:hover {
        h5 {
          background: fade(#000,50%);
        }
      } 
    }
    
  .mp-thumbnail {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
    h5 {
      position: absolute;
      bottom: 0;
      left: 0;
      right:0;
      padding: 6px;
      margin:0;
      font-family: @brand-font-family;
      text-transform: none;
      color: @white;
      font-size: 13px;
      line-height: 15px;
      text-shadow: 1px 1px 1px #000;
    }
  
    .party-badge {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 5px;
      right: 5px;
    }
    
    .thumbnail-activity {
      background:@gray-light;
      width: 100%;
      height: 12px;
      //border: 2px solid @gray-dark;
    }
    .thumbnail-activity-bar {
      float: left;
      height: 100%;
      background: @electric;
    }  
  }
  

.most-active-parties {
    .clearfix();
    padding-bottom: 20px;
    ol {
        counter-reset:li;
        margin: 0;
        padding: 0;
        .clearfix();
    }
    ol > li {
        .make-xs-column(5);
        .make-md-column(7);
        list-style: none;
    }
    ol > li:before {
      content:counter(li);
      counter-increment:li;
      text-align: center;
      font-size: 12px;
      font-weight: 800;
      margin: 0;
      padding: 3px;
      float: left;
    }
    .party-thumbnail {
        .clearfix();
        margin: 0;
        padding-top: 6px;
        img {
        }
        .thumbnail-activity {
          background:@gray-lighter;
          width: 100%;
          height: 6px;
        }
        .thumbnail-activity-bar {
          float: left;
          height: 100%;
          background: @electric;
    } 
    }
}


/***************************************************************
 * Member list
 ***************************************************************/

main.member-list {
    ul.member-list {
        list-style: none;
        > li {
            .make-col-sm-half();
            .make-md-column(5);
        }
    }
    
    ul.two-column-member-list {
        > li {
            .make-col-sm-half();
            .make-col-md-half();
        }
    }

    .member-list-item {
        position: relative;
        background-color: @white;
        overflow: hidden;
        padding: 10px;
        margin-bottom: 20px;
        .shadow-light();
        @media (max-width: @screen-sm) {
            height: inherit;
        }

        .header {
            .clearfix();
        }
        .name {
            display: block;
            margin: 0 42px 10px 0;
            padding: 0;
            line-height: 20px;
            border-bottom: 1px solid @gray-lighter; 
            overflow: hidden;
            a {
                white-space: nowrap;
                text-transform: none;
                color: @electric;
                font-size: @font-size-large;
                font-family: @brand-font-family;
            }
        }
        .party {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .portrait {
            img {
                border: 3px solid @gray-light;
                background-color: @gray-light;
            }
            img:hover {
                border: 3px solid @mint;
            }
        }
        .location, .age {
            font-weight: 400;
            color: @gray;
        }
        .info {
            font-size: @font-size-small;
            line-height: 20px;
            font-weight: 700;
            .progress {
                height: 16px;
                margin-bottom: 0;
            }
        }
        .badge--terms {
            background: @gray-light;
        }
        .badge--minister {
            background: @pine;
        }
        .badge--committeechair {
            background: @mint;
        }
        .badge--partychair {
            background: @blueberry;
        }
    }
  .mplist-grid__badge {
    background: #0E4B4B;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.66);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.66);
    position: absolute;
    left: -25px;
    bottom: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100px;
    height: 24px;
    text-align: center;
  }
  .mplist-grid__badge .badge-content {
    display: inline-block;
    font-size: 12px;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-weight: 900;
    color: #FFF;
    margin-top: 0;
    margin-left: 0;
  }
  
  .statistics-bar-container {
    display: none;
  }
}

.member-list-sort-buttons > fieldset {
	float: left;
	padding-left: 10px;

	legend {
		font-size: x-small;
	}
}

/***************************************************************
 * Member details (used by party details as well)
 ***************************************************************/
main.member-details {
    .badges {
        padding: 5px;
        margin: 10px 0 10px 0;
        //background-color: @gray;
        float: right;

        .terms {
            .clearfix();
            .contents {
                width: 36px;
                height: 36px;
                border-radius: 18px;
                background-color: @gray-light;
                color: @white;
                font-size: 14px;
                line-height: 6px;
                font-family: @headings-font-family;
                font-weight: 700;
                text-align: center;
                span {
                   display: block;
                   color: @white;
                   font-size: 8px;
                   line-height: 18px;
                   text-transform: uppercase;
                }
            }
        }
    }

    .filter-feed {
        background-color: @white;
		.box {
			margin-bottom: 0;
		}
        > section, > .section {
            //margin-bottom: 2 * @box-padding;
            //border-top: 3px solid @blueberry;
            > h4 {
                .section-heading;
            }
        }
    }
  
    .activity-feed-container {
      background-color: @white;
      .box;
    }
}


.entity-details {
    .roles {
        ul {
            padding-left: 0;
            list-style: none;
            clear: both;
        }
        li {
            border-radius: 3px;
            padding: 3px;
            margin: 2px;
            background: white;
            overflow: hidden;
        }
        .role(@color) {
            border-left: 15px solid @color;
        }
        .minister li {
            font-weight: 900;
            .role(@mint);
        }
        .committee li {
            .role(@blueberry);
        }
        .speaker li {
            .role(@electric);
        }

        .role-name {
            font-style: italic;
        }
    }
    .card {
        .boxed;
        .shadowboxed-bg;
        background-color: @gray-lighter;
        h1 {
            font-size: @font-size-extra-extra-large;
            line-height: 35px;
            text-transform: none;
            margin-top: 0;
            word-wrap: break-word;
            overflow: hidden;
        }
        img {
          margin-bottom: 10px;
        }
        .portrait {
            padding: 5px;
            margin: 10px 0 10px 0;
            background: #ffffff;
            float: left;
        }
        .party-district {
            padding: 5px 0 5px 0;
            border-top: 1px solid #333333;
            border-bottom: 1px solid #333333;
            .clearfix();
            span {
                clear: right;
            }
            .party-logo {
                margin-right: 8px;
                float: left;
                height: 48px;
                width: 48px;
            }
            .text {
                float: left;
                max-width: 180px;
                a {
                    color: #222;
                    font-weight: 900;
                }
            }
            .district {
                font-weight: 400;
                display: block;
            }
        }
    }
  
  .activity-feed > .activity-item .feed-content {
    margin-left: 16px;

}
}

/***************************************************************
 * Party list
 ***************************************************************/
main.party-list {
    ul.party-list {
        list-style: none;
    }
    .party-list-item {
        position: relative;
        background-color: @white;
        overflow: hidden;
        padding: 10px;
        margin-bottom: 20px;
        //border: 1px solid @gray-light;
        .shadow-light();
        @media (max-width: @screen-sm) {
            height: inherit;
        }
        .header {
            .clearfix();
        }
        .name {
            margin: 0 0 10px 0;
            padding: 0;
            line-height: 20px;
            border-bottom: 1px solid @gray-dark;
            a {
                text-transform: none;
                color: @gray-dark;
                font-size: @font-size-large;
                font-family: @brand-font-family;
            }
        }
        .portrait {
        }
        .location {
            font-weight: 400;
            text-transform: uppercase;
            color: @gray;
        }
        .stats {
            font-size: @font-size-small;
            line-height: 20px;
            font-weight: 700;
            .progress {
                height: 16px;
                margin-bottom: 0;
            }
            hr {
               border-top: solid 1px @gray;
            }
        }
        .badge--terms {
            background: @gray-light;
        }
        .badge--minister {
            background: @pine;
        }
        .badge--committeechair {
            background: @mint;
        }
        .badge--partychair {
            background: @blueberry;
        }
    }
}

.party-opposition {
   background: @gray-lighter !important;
   .name a {
        color: @pine !important;
    }
}

.party-government {
   background: @gray-lighter;
   .name a {
        color: @electric;
    }
}

.party-list-divider-government, .party-list-divider-opposition {
    font-family: @headings-font-family;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
}

.party-list-divider-government {
    border-bottom: 2px solid @pine;
    color: @pine;
}

.party-list-divider-opposition {
    border-bottom: 2px solid @electric;
    color: @electric;
}

/***************************************************************
 * Issues list
 ***************************************************************/

.featured-issues {
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background: @pine;
        color: @white;
        border: 0;
    }
    .nav-tabs > li > a {
        font-family: @headings-font-family;
        font-weight: 700;
        color: @pine;
        font-size: @font-size-large;
        text-transform: uppercase;
        border-radius: 0;
        border: 0;
    }
    .tab-pane {
        background: @pine;
        padding: 10px;
        margin-bottom: 20px;
        min-height: 100px;
    }
    .tagcloud-navi a {
        color: @white;
        &:hover {
            color: @gray-darker;
        }
    }
}

.issue-tag-list {
    min-height: 100px;
}


/***************************************************************
 * Issue page
 ***************************************************************/

.issue-card {
    .boxed;
    .shadowboxed-bg;
    background-color: @gray-lighter;
}

.feature-tagcloud {
    background: @pine;
    overflow: hidden;
    h4 {
        color: @mint;
    }
    .tagcloud-navi a { 
        color: @white;
        &:hover {
            color: @gray-darker;
        }
    }
}

/***************************************************************
 * Proposal page
 ***************************************************************/


.proposal-progress {
    overflow: hidden;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 0;
    li {
        float: left;
        margin: 5px 5px 5px 10px;
        list-style: none;
    }
    .phase {
        background: @gray-light;
        padding: 7px 5px 10px 5px;
        float: left;
        font-weight: 700;
        font-size: @font-size-small;
        line-height: 1em;
        text-decoration: none;
        color: @gray-dark; 
        position: relative;
        min-height: 39px;
    }
    .passed .phase {
        background: @mint; 
        &::before {
            border-color: @mint @mint @mint transparent;
        }
        &::after {
             border-left: 10px solid @mint;
        }
    }

    .unpassed .phase {
        background: @gray-lighter; 
        color: @gray;
        &::before {
            border-color: @gray-lighter @gray-lighter @gray-lighter transparent;
        }
        &::after {
            border-left: 10px solid @gray-lighter;
        }
    }
    .phase::before {
        content: "";
        position: absolute;
        top: 50%; 
        margin-top: -20px;   
        border-width: 20px 0 19px 10px;
        border-style: solid;
        left: -10px;
    }
    .phase::after {
        content: "";
        position: absolute;
        top: 50%; 
        margin-top: -20px;   
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        right: -10px;
    }
    .current,
    .current:hover{
        font-weight: bold;
        background: none;
    }
    .current::after,
    .current::before{
        content: normal;
    }
}

.proposal-content {
    header {
        margin-bottom: 20px;
        .clearfix();
        h1 {
            margin: 0 0 10px 0;
            font-family: @font-family-base;
            color: @pine;
            font-size: @font-size-extra-extra-large;
        }
        .details {
            .clearfix();
            padding: 5px 0 5px 0;
            border-top: 1px @gray-lighter solid;
            border-bottom: 1px @gray-lighter solid;
        }
        .labels {
            width: 50%;
            margin: 0;
            float: right;
        }
        .type {
            font-weight: 700;
        }
        .number {
        }
    }

    .document-author {
        .clearfix();
        width: 50%;
        .author-label {
            font-weight: 700;
        }
        img {
          float: left;
          margin-right: 10px;
          border: 3px solid @gray-light;
          height: 80px;
          &:hover {
            border-color: @mint;
          }
        }
    }
}

.proposal-statements {
    .plenary-discussion {
        border-top: 1px @gray-lighter solid;
        margin-bottom: 20px;
    }
}

.related-sidebar {
  background: #1C6262;
  color: #e6e6e6;
}

.related-sidebar h4 {
  color: #8ED4CF;
}

.related-sidebar ol {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 2px solid #8ED4CF;
}

.related-sidebar ol li {
  border-top: 2px solid #8ED4CF;
  padding: 6px 0;
}

.related-sidebar li a {
  color: #e6e6e6;
  font-weight: 700;
}

.proposal-statement-content {
  padding: 12px;
  position: relative;
  background: #E6E6E6;
  margin-right: 68px;
  margin-left: 68px;
}

.side-opposition .proposal-statement-content {
  background: #dad7f0 ;
  margin-right: 0;
}

.side-government .proposal-statement-content {
  background: #c6e9e7;
  margin-left: 0;
}

.side-neutral .proposal-statement-content {
  background: #E6E6E6;
  margin-left: 0;
}


.statement-portrait {
  position: relative;
  display: none;
}

.statement-portrait:after {
  right: -40px;
  bottom: auto;
  left: auto;
  border:0;
}

.side-government .statement-portrait,
.side-neutral .statement-portrait,
.side-opposition .statement-portrait {
  display: block;
  &:after {
    content: "";
    top:12px;
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
  }
}

.side-opposition .statement-portrait {
  float: right !important;
  margin-left: 24px;
}

.side-government .statement-portrait,
.side-neutral .statement-portrait {
  float: left !important;
  margin-right: 24px;
}


.side-neutral .statement-portrait:after {
  right: -40px;
  bottom: auto;
  left: auto;
  border-width: 30px 0 0 40px;
  border-color: #E6E6E6 rgba(0, 0, 0, 0) ;
}

.side-government .statement-portrait:after {
  right: -40px;
  bottom: auto;
  left: auto;
  border-width: 30px 0 0 40px;
  border-color: #c6e9e7 rgba(0, 0, 0, 0) ;
}

.side-opposition .statement-portrait:after {
  left: -40px;
  bottom: auto;
  border-width: 0 0 30px 40px;
  border-color: rgba(0, 0, 0, 0) #dad7f0;
}

.side-opposition .media-heading {
  text-align: right;
}

.side-government .read-more a {
  border-top: #1C6262 solid 2px;
  color: #1C6262;
}

.side-opposition .read-more a {
  border-top: #6f59bc solid 2px;
  color: #6f59bc;
}

/***************************************************************
 * Plenary Session Page
 ***************************************************************/

/*ul*/

#session-item-list {
  color: @pine;
  list-style: none;
  .clearfix;
  
  h4 {
    margin: 0;
    padding: 0;
    color: @electric;
  }
  /*li*/.plenary-session {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid @gray-light;
    .make-row();
    h5 {
      display: block;
      margin: 0 0 20px 0;
      background: @electric;
      text-align: center;
      height: 150px;
      line-height: 75px;
      color: @white;
      .make-sm-column(3);
    }
    >ul {
      .make-sm-column(12);
      list-style: none;
      /*li*/.plenary-session-item {
        color: @gray-light;
        display: block;
        margin-bottom: 20px;
        ul {
          margin-left: 20px;
          margin-top: 20px;
          list-style: none;
          li {
            margin-bottom: 5px;
            .title {
              font-size: @font-size-base;
              color: @blueberry;
            }
          }
        }
      }
    }
  }
}

.nr_votes {
}

.nr_statements {
}



/* TT END */

/* -------------   GENERAL MODIFIED STYLES IN OLD NAMESPACE ----------- */

.feed-filters {
  .clearfix;
  margin-bottom: 20px;
  padding: 10px;
  background: @gray-lighter;
  //border: 1px solid @gray-light;
  form {
    margin: 0;
  }
}

.feed-filters__search input {
  margin-bottom: 0 !important;
}



.feed-filters__search {
  .clearfix;
  float: left;
  label, input {
    float: left;
  }
  label {
    width: 60px;
    font-size: @font-size-small;
    color: @gray;
  }
}



.tagcloud {
    font-size: 1em;
    .items {
        .list-inline;
        font-family: @brand-font-family;
        text-transform: uppercase;
        font-weight: 700;
        li {
            margin: 0;
            padding: 0;
            }
        a {
            padding: 0.3em 5px 0 5px;
            line-height: 1.5em;
        }
        a:hover {
            background: @lemon;
            color: @gray-darker;
            text-decoration: none;
            .shadow-light();
            z-index: 9999;
        }
    }
}

.tagcloud--select {
    
    .tagcloud__content {
       a {
         color: @gray-lighter ;
         padding: 5px 5px 0 5px;
         background: @gray-light;
         border-radius:3px;
         &.active {
            color: @white;
            background: @mint;
            outline: 0;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
        }
        
    }
}

.tagcloud__actions {
  text-align: right;
    a {
      color: @gray-light;
    }
}

.tagcloud__reset {
  float: left;
}

.morelink__subject {
   //font-style: italic;
   font-weight: 900;
   color: @mint;
}

.activity-graph {
  //background: @white;
  padding: 10px;
  height: 120px;
}

ul.tag-list {
        list-style: none;
        //margin-bottom: 20px;
        //.make-row();
    li {
        position: relative;
        display: inline-block;
        margin: 0 10px 10px 0;
        //.make-column(3);
        a {
          font-size: @font-size-large;
          text-transform: uppercase;
          font-family: @font-family-brand;
          font-weight: 700;
          background-color: @gray-lighter;
          padding: 5px 5px 0 5px;
          color: @pine;
          border-radius: 3px;
          border-left: 5px @gray-light solid;
          //.shadow-light();
          &:hover {
            background-color: @lemon;
            //color: @mint;
            text-decoration: none;
        }
        & .break-list {
            display: block;
            }
        }
    }
    }
 .tag-list-divider {
    //background: @gray-light;
    border-bottom: 2px solid @mint;
    color: @mint;
    font-family: @headings-font-family;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
}
