@main_color: #2f7670;
@main_pale: #daf0ee;

body {
	font-size: 80%;
	font-family: "Verdana";
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td {
	margin: 0;
	padding: 0;
}

a:hover {
	color: #999;
}

a {
	text-decoration: none;
        color: black;
}

img {
	border: none;
}

h1 {
	font-size: 115%;
	font-weight: normal;
	margin-bottom: 15px;
	padding-bottom: 4px;
	border-bottom: 1px solid #999;
}

h2 {
	font-size: 115%;
	font-weight: bold;
	margin-bottom: 4px;
}

h3 {
	font-size: 100%;
	font-weight: bold;
	color: @main_color;
	margin-bottom: 8px;
}

.example {
	color: #666666;
}

.action_link {
	color: black;
	cursor: pointer;
}

.action_link_disabled {
	color: #bbb;
}

.action_link_active {
	font-weight: bold;
}

.action_link:hover {
	color: #999;
}

.underline {
	border-bottom: 1px dashed;
}

.link {
	color: @main_color;
}

.error {
	color: red;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: @main_pale;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3 {
	color: black;
	font-weight: normal;
	font-size: 80%;
	margin: 0px;
}

.h2_section {
	border-bottom: 1px solid #999;
	padding-bottom: 16px;
	margin-bottom: 16px;
}

.td_text {
	text-align: left;
}

.td_number {
	text-align: right;
}

#full_page {
	padding: 0 30px;
}

#header {
	margin: 0 auto;
	width: 930px;
	height: 100px;
}

#header h1 {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

#header h1 a {
	background: url("/static/images/kamu.png") top left no-repeat;
	height: 60px;
	width: 320px;
	float: left;
	color: black;
	font-variant: small-caps;
	text-indent: -9999px;
	margin-left: 2px;
	margin-top: 20px;
	vertical-align: bottom;
	border-bottom: none;
}

img#beta_image {
	margin-top: 55px;
	margin-left: -172px;
	float: left;
}

#inputbar {
	padding-top: 30px;
	min-height: 30px;
	width: 100%;
}

#langbar {
	min-height: 20px;
	width: 100%;
	margin: 0px auto;
}

div#navbar {
	height: 34px;
	width: 960px;
	margin: 0px auto;
	background: url("/static/images/navbar-grad.png") top left repeat-x;
	background-color: #addeda;
}

#navbar ul {
	margin-left: 165px;
	float: left;
	list-style: none;
	min-width: 210px;
	vertical-align: bottom;
}

.navbar_link_active {
	background-color: white;
}

.navbar_link a:hover {
	color: black;
}

#navbar ul li:hover {
	background-color: @main_pale;
}

#navbar ul li {
	text-weight: bold;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
}

#langsel {
	float: right;
	display: inline;
	list-style: none;
	font-size: 80%;
}

.langopt {
	margin-right: 1px;
}

#hdr_fb_login {
	background: url("/static/images/icons/fb-logo-18px.png") no-repeat;
	float: right;
	width: 18px;
	height: 18px;
	margin-top: 1px;
	margin-right: 32px;
}

#logged_user {
	float: right;
	font-size: 80%;	
	margin-top: 3px;
	margin-right: 32px;
}

#login_name {
	margin-right: 30px;
}

#head-search {
	float: right;
}

#head-search .ui-autocomplete {
	max-width: 200px;
}

#login-button {
	height: 20px;
        width: 32px;
        padding-bottom: 8px;
	margin-top: 10px;
        margin-right: 48px;
	float: right;
}

#head-search-text {
	border: 1px solid #d3d3d3;
	margin-right: 2px;
	width: 130px;
	float: left;
        height: 18px;
}

#head-search-button {
	height: 20px;
        padding-bottom: 8px;
}

div.pagination {
	margin-top: 32px;
	margin-bottom: 16px;
	text-align:left;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
	text-decoration: none; 
	color: #555555;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #999999;
	color: #212121;
	background-color: @main_pale;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #aaaaaa;
	font-weight: bold;
	background-color: #ffffff;
	color: #212121;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #d3d3d3;
	color: #929292;
}

div#wrap {
	width: 930px;
	margin: 0 auto;
	padding-top: 30px;
	background-color: white;
}

/*
 * Sidebar
 */
div#sidebar {
	width: 135px;
	min-height: 1px;
	margin-right: 15px;
	float: left;
}

#sidebar p {
	padding-bottom: 8px;
}

div.filter_options {
	display: none;
}

div.selected_filter {
	font-weight: bold;
}

div.filter {
	margin-bottom: 8px;
}

div.sub_filter {
	margin-top: 8px;
}

.opener {
}

/*
 * Content styles
 */
div#content {
	width: 780px;
	float: left;
	border-bottom: solid 1px #999;
	padding-bottom: 50px;
	margin-bottom: 8px;
}

#content p + p {
	margin-top: 4px;
}

#content p {
	margin-bottom: 8px;
}

div#footer {
	font-size: 80%;
	margin-left: 150px;
	margin-bottom: 16px;
}

label {
	display: block;
	float: left;
	text-align: start;
	min-width: 150px;
}

.errorlist li {
	color: red;
}

/*
 * Comments
 */
div.comment {
	border-bottom: 1px dotted #999;
	padding: 8px;
}

div.user_portrait {
	float: left;
	width: 48px;
}

div.comment_body {
	margin-left: 56px;
	margin-bottom: 16px;
}

div.comment_meta {
	margin-left: 56px;
}

div.comment_author {
	font-weight: bold;
        font-size: 90%;
}

div.comment_date {
	font-size: 80%;
}

/*
 * Main page
 */
#main_col {
	width: 480px;
	float: left;
}

#main_col img {
	margin-top: 16px;
	margin-bottom: 16px;
}

#main_col a {
	color: @main_color;
}

#news_col {
	width: 270px;
        margin-left: 30px;
        float: right;
}

div.news_items {
	margin-bottom: 16px;
}

.news_links a {
	color: @main_color;
}

.news_items h2 a {
	/* needed to override general definition for 'a' */
	color: @main_color;
}
.news_items h2 {
	/* copied from '#content h3' */
	font-size: 90%;
	font-weight: bold;
	color: @main_color;
	margin-bottom: 4px;
}
.news_items h2 + h2 {
	margin-top: 4px;
}

.news_items p {
	margin-bottom: 8px;
	font-size: 80%;
}

.news_item_date {
	display: block;
	font-size: 80%;
	margin-bottom: 8px;
}

/*
 * Session list
 */
table.psession_bar {
	width: 100%;
}
td.psession_bar {
	text-align: right;
	font-size: 0.8em;
	font-weight: normal;
}
table.sessions {
	border: none;
	width: 100%;
}
.sessions th {
	padding-bottom: 8px;
}

.yes_vote {
	height: 24px;
	background: url("/static/images/icons/vote_yes.png") center right no-repeat;
	text-indent: -9999px;
	width: 2em;
}
.no_vote {
	height: 24px;
	background: url("/static/images/icons/vote_no.png") center right no-repeat;
	text-indent: -9999px;
	width: 2em;
}
.empty_vote {
	height: 24px;
	background: url("/static/images/icons/vote_empty.png") center right no-repeat;
	text-indent: -9999px;
	width: 2em;
}

.absent_vote {
	height: 24px;
	background: url("/static/images/icons/vote_absent.png") center right no-repeat;
	text-indent: -9999px;
	width: 2em;
}

td.session_name {
	width: 24px;
        vertical-align: top;
}

td.session_desc {
	padding-left: 2em;
	width: 25em;
        font-size: 80%;
}
td.session_subj {
	padding-left: 2em;
	width: 10em;
        font-size: 80%;
        padding-right: 2em;
        vertical-align: top;
}
td.session_votes {
	width: 2em;
	font-size: 80%;
        text-align: right;
        vertical-align: top;
}

/*
 * Member list
 */
table.member_list {
	display: block;
        width: 100%;
}

.sort_active {
	color: #f8991d;
}

.member_list td {
	vertical-align: bottom;
}

tr#member_list_head {
	text-align: left;
}

tr#member_list_sort {
	text-align: left;
}
td.member_list_name {
	width: 15em;
}
td.member_list_party {
	min-width: 80px;
        vertical-align: middle;
        text-align: center;
}
td.member_list_portrait {
	min-width: 50px;
}

th.member_list_stat {
	text-align: right;
}

td.member_list_stat {
	width: 80px;
        text-align: right;
}

td.member_list_statements {
	width: 70px;
}

/*
 * Member info
 */
div#member_info {
	clear: both;
	min-height: 220px;
        width: 100%;
        border-bottom: 1px solid #999;
        margin-bottom: 16px;
}

div#member_basic_info {
	min-height: 192px;
	margin-bottom: 16px;
}

div#member_user_vote {
	margin-bottom: 16px;
	min-height: 25px;
}

img.member_portrait {
	float: left;
        margin-right: 16px;
        border: none;
}

img.member_party_logo {
	float: right;
}

td.member_info_field_name {
	vertical-align: top;
        padding-right: 2em;
        font-weight: bold;
}

div.member_info ul {
	padding-left: 1em;
        list-style-type: square;
}

table#member_vote_list {
	margin-bottom: 1em;
}

#member_vote_list th {
	padding-bottom: 8px;
}

td.member_info_session {
	width: 12em;
        text-align: right;
        padding-right: 1em;
}
td.member_info_vote_yes {
	width: 1em;
        background-color: green;
}
td.member_info_vote_no {
	width: 1em;
        background-color: red;
}
td.member_info_vote_empty {
	width: 1em;
        background-color: yellow;
}

#member_info li {
	list-style: none;
}

/*
 * Session info
 */
div.session_info {
        padding-bottom: 1em;
}

div#session_user_vote {
	min-height: 25px;
}

#session_doc_list ul {
	list-style: none;
}
#session_doc_list li {
}
#session_doc_list a {
	margin-right: 20px;
        font-size: 100%;
}

#session_score_table {
	margin-bottom: 22px;
}
div.session_summary {
	font-size: 80%;
}

/*
 * Vote list
 */
table.vote_list a {
	color: black;
}
table.vote_list_left {
	float: left;
}
table.vote_list_right {
	float: right;
}

th.vote_list_name {
	text-align: left;
	min-width: 15em;
}

th.vote_list_vote {
	width: 2em;
        margin-right: 32px;
        border-left: 16px;
}

td.vote_list_portrait {
}

td.vote_list_party {
}

td.vote_list_name {
        vertical-align: bottom;
}

ul.session_keyword {
	margin-top: 16px;
	list-style: none outside none;
}
li.session_keyword {
	display: inline;
}

/*
 * Search
 */
ol.search_results a {
}

/*
 * Add/modify organization
 */
#org_add_content label {
	min-width: 200px;
}

#org_add_preview td {
	padding-bottom: 0.5em;
}

#org_add_preview p {
	margin-top: 0;
	margin-bottom: 1em;
}

#org_add_logo {
        padding: 1em;
}

#org_add_logo_bg {
	background-color: #eee;
        padding: 1em;
}

#org_add_content label {
	text-align: left;
}
#org_add_content th {
	vertical-align: top;
}

/*
 * Show organization
 */
div#show_org_info {
        min-height: 128px;
        border-bottom: 1px solid #999;
	padding-bottom: 16px;
        margin-bottom: 16px;
}

#show_org_info img {
	float: left;
        margin-right: 16px;
        border: none;
}

div#show_org_scores {
        border-bottom: 1px solid #999;
	padding-bottom: 16px;
        margin-bottom: 16px;
}

.ui-tabs-panel {
	margin-top: 15px;
}

/*
 * Statements
 */
div.statement {
	margin-bottom: 16px;
}

.statement strong {
	color: @main_color;
}

.statement strong + p {
	margin-top: 8px;
}

.statement a:hover {
	color: black;
}

/*
 * Feedback form
 */
div#contact_form p {
}
#contact_form_table {
	margin-top: 16px;
}
#contact_form_table th {
	width: 200px;
	text-align: left;
	vertical-align: top;
}
#contact_form_table input {
	width: 280px;
}
#contact_form_table textarea {
	width: 280px;
}


div#list_orgs {
	width: 600px;
        margin-bottom: 20px;
}

#list_orgs a {
	color: @main_color;
}

/*
 * Login form
 */
#login_form {
	width: 300px;
}
#login_form input {
	width: 144px;
}
#login_button {
	margin-top: 16px;
}

.fb_login_button {
	margin-top: 16px;
	margin-bottom: 24px;
}

/*
 * General Facebook stuff
 */
.fb_like {
	height: 25px;
}

/*
 * User voting
 */
.user_vote_count {
	font-size: 80%;
	margin-top: 6px;
	margin-left: 4px;
	margin-right: 4px;
	min-width: 24px;
	float: left;
}

/*
 * County selector field
 */
#county_selector input {
	width: 95px;
}

#county_selector .ui-autocomplete {
	max-width: 100px;
}

/*
 * Combobox stuff
 */
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.combobox_container {
	padding : 2px;
}

.combobox_container > input {
	height : 18px;
	vertical-align : top;
}

.combobox_container > button {
	width: 25px;
	height: 20px;
	vertical-align : top;
	left : -1px;
}

.combobox_list_item {
	clear: left;
	min-height: 40px;
	width: 200px;
}

.combobox_thumbnail_block {
	float: left;
	width: 35px;
	height: 40px;
}

.combobox_text_block {
	margin-left: 35px;
	width: 100px;
}

/* Opinions */

.opinion_answer
{
	padding: 2em;
	border-bottom: 1px solid gray;
}

.question
{
	font-weight: bold;
	color: @main_color;
}

.question .source
{
	display: block;
	font-weight: normal;
	font-size: xx-small;
}

ul.options
{
	margin-left: 1em;
}

.opinion_answer .option
{
	margin-left: 1em;
	margin-bottom: 0.2em;
}

.opinion_answer .selected
{
	font-weight: bold;
}

.opinion_answer .opinion_explanation
{
	margin-left: 3em;
	margin-top: 0.1em;
	font-style: italic;
}

.answer_congruence
{
    margin-top: 1em;
}

table.answer_relevant_votes
{
    border-collapse: collapse;
    margin-left: 1em;
}



.answer_relevant_votes td,
.answer_relevant_votes th
{
    padding: 0.5em;
}

.answer_relevant_votes td
{
    border-top: 1px solid black;
}

.answer_relevant_votes td.relevant_vote_congruence
{
    text-align: center;
}

.answer_relevant_votes th.relevant_vote_average_label
{
    text-align: right;
}

.question_bar
{
	width: 100%;
}

.question_bar .source
{
	width: 10%;
	font-size: xx-small;
}

.question_bar .question_text
{
	width: 80%;
}

.question_bar .answer_count
{
	font-size: x-small;
}

.question_options
{
	width: 100%;
}

.question_options td
{
	border-bottom: 1px solid gray;
}

.question_options .option_text
{
	font-size: x-small;
	width: 50%;
}

dl.votechart
{
	width: 100%;
	height: 100px;
}

dl.votechart dt
{
	display: none;
}

dl.votechart dd
{
	position: relative;
	float: left;
	width: 40px;
	height: 80px;
	margin-left: 2px;
}

dl.votechart dd span
{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	background-color: #ccc;
}

dl.votechart dd span em
{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: xx-small;
}

.question_options td.votechart
{
	height: 50px;
	vertical-align: bottom;
}

.question_options .votebar
{
	margin: 2px;
	background-color: #dddddd;
	width: 30px;
}

table.votechart td.votebarcontainer
{
	float: left;
	height: 100%;
	vertical-align: bottom;
	border: 1px solid black;
}

.question_relevant_session
{
	margin: 1em;
	margin-bottom: 3em;
}

.question_session_congruence,
.question_session_relevance
{
	width: 100%;
	border-collapse: collapse;
}

.question_session_congruence td,
.question_session_relevance td,
.question_session_relevance th
{
	padding: 0.5em;
}

.question_session_relevance th
{
	text-align: center;
}

.question_session_congruence td
{
	border-bottom: 1px solid gray;
}

td.congruence_choice_cell
{
	border: 0;
	padding-bottom: 0;
}

.question_session_congruence td.option_name
{
	width: 100%;
}

.question_session_relevance .session_relevance_bar
{
	height: 4px;
	background-color: #ccc;
	margin: 0.5em;
	margin-bottom: 0;
}

td.option_congruence_bar_cell
{
	padding-right: 1.5em;
}

.option_congruence_bar
{
	display: block;
	height: 4px;
	text-align: right;
}

.option_congruence_bar span
{
	display: block;
	position: relative;
	float: right;
	left: 1em;
	width: 1em;
	height: 100%;
	background-color: #ccc;
	
}

.question_session_relevance .session_relevance_cell
{
	width: 10em;
}

.question_session_relevance .session_relevance_percentage
{
	display: block;
	text-align: center;
	margin-top: -0.9em;
}

.congruence_input_option
{
	width: 100%;
}

.congruence_input_container
{
	white-space: nowrap;
}

.congruence_input_container label
{
	display: none;
}

.congruence_input_container li
{
	display: inline;
	list-style-type: none;
	padding: 0.3em;
}

.question_session_congruence .login_nag
{
	font-weight: normal;
	font-size: x-small;
	text-align: right;
}

table.promise_statistics_box
{
	width: 100%;
}

td.promise_label_column
{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-right: 4px;
}

.percentage_bar,
div.promise_percentage_bar
{
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: right;
    font-size: xx-small;
}

table.party_option_choices
{
    width: 100%;
}

table.party_option_choices td
{
    padding: 0.2em;
}

td.party_option_share
{
    width: 10em;
}

.party_question_sessions
{
    margin-left: 1em;
    margin-top: 1em;
    border-collapse: collapse;
}

.party_question_sessions td
{
    border-top: 1px solid black;
    padding: 1em;
}

.party_question_sessions td.party_vote_shares
{
    width: 10em;
}

.party_question_sessions td.party_vote_shares .percentage_bar
{
    margin-bottom: 0.4em;
}

.party_question_sessions td.party_vote_shares td
{
    border-width: 0;
    padding: 0;
}

.party_question_sessions td.party_vote_shares table
{
    width: 12em;
}

.party_question_sessions td.party_vote_shares td.vote_label
{
    width: 1em;
}

/*
 * jNotify
 */
.jnotify-item
{
    height: auto;
    padding: 4px 4px 4px 4px;
    margin: 0 0 5px 0;
    display: block;
    position: relative;
}

.jnotify-item-close
{
    float: right;
    margin-left: 2px;
}
