.axisplot {
    .axis {
        path, line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    }

    .brush .extent {
    	stroke: black;
	fill: black;
	fill-opacity: 0.125;
    }

    rect.pane {
        cursor: move;
        fill: none;
        pointer-events: all;
    }
}
