{% extends "party/party_base.html" %}
{% load compress static thumbnail i18n %}

{% block main_class %}member-details{% endblock %}

{% block head %}
    <!-- Backbone models -->
{% compress js %}
    <script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
{% endcompress %}
    <!-- Bootstrapped data for scripts on page -->
    <script type="text/javascript">
        party_json = {{party_json|safe}};
        FEED_ACTIONS = {{feed_actions_json|safe}};
        keyword_activity = {{keyword_activity|safe}}
    </script>
{% endblock %}
{% block party_content %}
<!-- Content ================================================== -->
<div class="filter-feed box">
    <section>
	<h4>{% trans "Active in these topics" %}
            <span class="help-link">
            <a href="#" data-toggle="modal" data-target="#topic-tagcloud-help">
	    <i class="typcn typcn-info-large icon"></i>
            </a>
            </span>
        </h4>
        <div id="party-tag-cloud" class="tag-cloud"></div>
    </section>
    <section>
        <h4>{% trans "Activity" %}
          <span class="help-link">
          <a href="#" data-toggle="modal" data-target="#activity-graph-help">
          <i class="typcn typcn-info-large icon"></i>
	  </a>
	  </span>
	</h4>
        <div id="party-activity-graph" class="activity-graph"></div>
    </section>
    <section>
        <h4>{% trans "Recent actions of party MPs" %}</h4>
        <div class="feed-filters">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 control-label">{% trans "Filter" %}</label>
                    <div class="col-lg-11">
                    {% include "_feed_filters.html" %}
                    </div>
                </div>
            </form>
        </div>
        <ul class="section activity-feed feed unstyled">
        </ul>
    </section>
</div>

{% include "_feed_item_template.html" %}

{% compress js %}
<script type="text/coffeescript" src="{% static "js/activity_scores.coffee" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/coffeescript" src="{% static "js/party-details.coffee" %}"></script>
{% endcompress %}

{% compress js %}
<!-- Feed-specific views etc. -->
<script type="text/coffeescript" src="{% static "js/feed.coffee" %}"></script>
{% endcompress %}

{% compress js %}
<!-- Party member activity feed initialization -->
<script type="text/coffeescript" src="{% static "js/party.coffee" %}"></script>
{% endcompress %}

<script type="text/javascript">
    party_activity_end_date = "{{ party_activity_end_date|safe }}";
    party = new Party({{party_json|safe}});
</script>

{% compress js %}
<script type="text/coffeescript">
    new PartyActivityScoresView party,
                    show_average_activity:true,
                    end_date:party_activity_end_date,
                    el:"#party-activity-graph"
</script>
{% endcompress %}

<div class="modal fade" id="activity-graph-help" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Party activity graph" %}</h4>
      </div>
      <div class="modal-body">
	Some help here
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="topic-tagcloud-help" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Party topic activity" %}</h4>
      </div>
      <div class="modal-body">
	Some help here
      </div>
    </div>
  </div>
</div>

{% endblock %}
