{% extends "party/party_base.html" %}
{% load compress static thumbnail i18n %}

{% block main_class %}party-details{% endblock %}

{% block party_content %}
{% include "_feed_content.html" %}
<script type="text/javascript">
party_json = {{party_json|safe}};
party = new Party(party_json);
FEED_ACTIONS = {{feed_actions_json|safe}};
keyword_activity = {{keyword_activity|safe}};
activity_end_date = "{{ party_activity_end_date|safe }}";
/*activity_counts = {{ activity_counts_json|safe }};
activity_types = {{ activity_types_json|safe }};
activity_weights = {{ activity_type_weights_json|safe }};
";*/
</script>

{% compress js %}
<script type="text/coffeescript">
class @PartyActivityScoresView extends @ActivityScoresView
    initialize: (party, options) ->
        super (new PartyActivityScoresList party.get 'abbreviation'), options

$ ->
    root_el = $(document)
    relel = (selector) -> root_el.find(selector)
    tags = ({name: x[0], id: x[0].toLowerCase(), count: x[1]} for x in keyword_activity)
    tags = _.sortBy tags, (x) -> x.name
    tagcloud = $(".activity-tag-cloud")
    if tags.length > 0
        tagcloud.tag_cloud tags
    else
        tagcloud.append("<h4>Ei asiasanoitettua aktiivisuutta</h4>")
    activity_scores_view = new PartyActivityScoresView party,
        show_average_activity: true,
        end_date: activity_end_date,
        el: relel ".activity-graph"
    
    setup = new ActivityFeedControl hashstate.sub "as"
    setup.feed_view new ActivityFeedView
        el: relel ".activity-feed"
        collection: new MemberActivityList(member__party: party.get "id")
    setup.scores_view activity_scores_view
    setup.tagcloud tagcloud
    setup.controls relel ".feed-filters"
</script>
{% endcompress %}
{% endblock %}

