{% extends "base.html" %}
{% load compress static i18n static %}

{% block title %}{% trans "Parties" %}{% endblock %}

{% block main_class %}party-list{% endblock %}
{% block content %}
<div class="content content--parties">
    <header class="page-heading">
        <h1>{% trans "Parties" %}</h1>
    </header>
</div>
<div class="party-list">
    <div class="party-list-divider-government">{% trans "Government" %}</div>
    <ul class="party-list party-list-government row">
    </ul>

    <div class="party-list-divider-opposition">{% trans "Opposition" %}</div>
    <ul class="party-list party-list-opposition row">
    </ul>
</div>

<script id="party-list-item-template" type="text/template">
<li class="col-md-5">
    {% comment %}party_governing_status == opposition / government{% endcomment %}
    <div class="party-list-item <%= party_governing_status %>">
        <div class="mplist-grid__content">
            <div class="header">
                <h4 class="name">
                    <a href="<%= view_url %>"><%= name %></a>
                </h4>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="portrait">
                        <a href="<%= view_url %>">
                            <img src="/api/v1/party/<%= abbreviation %>/logo?dim=128x128">
                        </a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="stats">
                        <div class="location"><%= abbreviation %></div>
                        <span class="badge  badge--terms  js-tooltip" title="{% trans "Number of MPs" %}">
                            <i class="typcn  typcn-user  typcn--medium"></i><%= member_count %></span>
                        <% if (minister_count) { %>
                        <span class="badge  badge--minister  js-tooltip" title="{% trans "Number of ministers" %}">
                            <i class="typcn  typcn-briefcase  typcn--medium"></i><%= minister_count %>
                        </span>
                        <% } %>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">{% trans "Activity" %}</div>
                            <div class="col-md-7">
                                <div class="progress js-tooltip" title="<%= Math.round(stats.activity_per_day) %> {% trans "points" %}">
                                    <div class="progress-bar" style="width: <%= stats.activity_ranking %>%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/coffeescript" src="{% static "js/party-list.coffee" %}"></script>
{% endcompress %}

{% endblock %}
