{% extends "sidebarbase.html" %}
{% load compress static thumbnail i18n %}

{% block title %}{{ party.name }}{% endblock %}

{% block main_class %}container party-base{% endblock %}
{% block sidebar %}
<div class="card">
    <h1>{{ party.name}}</h1>
    <img src="/api/v1/party/{{ party.abbreviation }}/logo?dim=128x128">
    <div class="roles">
        <ul class="minister">
            {% if party.is_governing %}<li>{% trans "In government" %}</li>
            {% else %}<li>{% trans "In opposition" %}</li>{% endif %}
        </ul>
        <ul class="committee">
        {% for term in governing %}
            {% if term.begin.year != term.end.year %}
            <li>{% trans "In government" %} {{term.begin.year}}-{{term.end.year}}</li>
            {% else %}
            <li>{% trans "In government" %} {{term.begin.year}}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
<!--
<nav class="side-navigation">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Perustiedot</a></li>
        <li><a href="#">Valiokuntapaikat</a></li>
        <li><a href="{% url 'parliament.views.show_party_mps' abbreviation=party.abbreviation %}">Kansanedustajat</a></li>
        <li><a href="#">Tilastot</a></li>
        <li><a href="#">Yhteystiedot</a></li>
    </ul>
</nav>
-->
{% endblock %}

{% block main_content %}
{% block party_content %}{% endblock %}
{% endblock %}
