{% extends "opinions/opinion_base.html" %}
{% load i18n thumbnail cache opinions %}
{% block title %}{% trans "Question listing" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}

{% for q in questions %}
<div class="question_listing">
  <div class="question">
    <span class="source">
      {{q.source.name}}
      {{q.source.year}}
    </span>
    <a href="{% url opinions.views.show_question q.source.url_name q.order %}">
      {{q.text}}
    </a>
  </div>
  {% if q.congruence_avg != None%}
    <table><tr><td style="padding-right: 1em;">{% trans "Average congruence" %}</td>
    <td><div class="question_congruence">
      <div class="percentage_bar" style="width: {{q.congruence_avg|congruence_to_percentage}}%">
        {{q.congruence_avg|congruence_to_percentage}}%
      </div>
    </div></td></table>
  {% endif %}
</div>
{% endfor %}

{% endblock %}
