{% load i18n thumbnail opinions %}

{% if forloop.counter0|divisibleby:"3" %}
    <tr>
{% endif %}

<td>
    <a href='{% url 'votes.views.show_member' member=member.url_name section='opinions' %}'
        title='{% trans "Promise percentage" %}: {{member.congruence|congruence_to_percentage}}'>

        <table class='mp_cong_list_item'>
            <tr>
                <td rowspan='2'>
                    <img src='{{ member.thumbnail }}'>
                </td>
                <td>
                    {{ member.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <div class='promise_percentage_bar'
                        style='width: {{member.congruence|congruence_to_percentage}}%;
                        background-color: {{member.congruence|congruence_to_color}}'>
                    </div>
                </td>
            </tr>
        </table>
    </a>
</td>

{% if forloop.counter|divisibleby:"3" %}
    </tr>
{% endif %}
