{% extends "base.html" %}
{% load opinions %}
{% block head %}
    <script type="text/javascript">
    $(function() {
      $('.opinion_navigation_category [title]').tooltip({
        delay: 0,
        fade: 0,
        track: true,
        showURL: false,
      });
    });
    </script>
{% endblock %}

{% block sidebar %}
  <div style="{% if switch_term or switch_district %}margin-top: 24px;{% endif %}">
  {% if question %}
    {% promise_statistics_sidebar opinions_page user question %}
  {% else %}
    {% promise_statistics_sidebar opinions_page user %}
  {% endif %}
  </div>
{% endblock %}
