{% load i18n opinions thumbnail %}
{% if parties or members %}
<ul class="opinion_navigation">
  <li>
    <a href="{% url opinions.views.summary %}">
      {% trans "Summary" %}
    </a>
  </li>
  <li style="margin-bottom: 16px;">
    <a href="{% url opinions.views.list_questions %}">
      {% trans "Questions" %}
    </a>
  </li>

  <li class="opinion_navigation_category">
    <ul>
    {% for party in parties %}
      <li>
        <a href="{% url opinions.views.show_party_congruences party=party.name %}"
           {% if question %}
           title="{% trans "Promise percentage for this question" %}: {{party.congruence_avg|congruence_to_percentage}}%"
           {% else %}
           title="{% trans "Overall promise percentage" %}: {{party.congruence_avg|congruence_to_percentage}}%"
           {% endif %}>
          <!-- <img src="{% thumbnail party.logo 50x50 %}"
               alt="{{party.full_name}}"
               title="{{party.full_name}}" /> -->
          {{ party.full_name }}
	{{ summary_page }}
{% if not no_percentages %}
          <div class="promise_percentage_bar" style="width: {{party.congruence_avg|congruence_to_percentage}}%; background-color: {{party.congruence_avg|congruence_to_color}};">
{% endif %}
        </a>

      </li>
    {% endfor %}
    </ul>
  </li>
  {% if members %}
  <li class="opinion_navigation_category">
    <span class="opinion_navigation_category_label">{% trans "Members you have evaluated" %}</span>
    <ul>
    {% for member in members %}
      <li>
        <a href="{% url votes.views.show_member member=member.url_name section='opinions' %}"
           title="{% trans "Promise percentage" %}: {{member.congruence|congruence_to_percentage}}%">
          <!-- <img src="{% thumbnail party.logo 50x50 %}"
               alt="{{party.full_name}}"
               title="{{party.full_name}}" /> -->
          {{ member.name }}
          <div class="promise_percentage_bar" style="width: {{member.congruence|congruence_to_percentage}}%; background-color: {{member.congruence|congruence_to_color}};">
        </a>
      </li>
    {% endfor %}
    </ul>
  </li>
  {% endif %}
</ul>


{% else %}
<h3>{% trans "No sessions scored" %}</h3>
{% endif %}

<div class="congruence_source_nag">
  {% if system_congruences %}
    {% trans "Congruences based on Kansan Muisti's estimations." %}
    {% trans "Log in or register to make your own." %}
  {% else %}
    {% trans "Congruences based on your estimations." %}
    {% trans "You can view results based on Kansan Muisti's estimations by logging out." %}
  {% endif %}

</div>

