{% load i18n opinions thumbnail %}
<ul class="opinion_navigation">
  <li>
    <a href="{% url opinions.views.summary %}">
      {% trans "Summary" %}
    </a>
  </li>
  <li style="margin-bottom: 16px;">
    <a href="{% url opinions.views.list_questions %}">
      {% trans "Questions" %}
    </a>
  </li>

{% if parties or members %}
  <li class="opinion_navigation_category">
    <ul>
{% if opinions_page == 'summary' or opinions_page == 'party' %}
    {% for party in parties|dictsort:"full_name" %}
      <li><a href="{% url opinions.views.show_party_congruences party=party.name %}">
        {{ party.full_name }}
      </a></li>
    {% endfor %}
{% else %}
    {% for party in parties %}
      <li>
        <a href="{% url opinions.views.show_party_congruences party=party.name %}"
           {% if question %}
           title="{% trans "Promise percentage for this question" %}: {{party.congruence_avg|congruence_to_percentage}}%"
           {% else %}
           title="{% trans "Overall promise percentage" %}: {{party.congruence_avg|congruence_to_percentage}}%"
           {% endif %}>
          {{ party.full_name }}
          <div class="promise_percentage_bar" style="width: {{party.congruence_avg|congruence_to_percentage}}%; background-color: {{party.congruence_avg|congruence_to_color}};"></div>
        </a>

      </li>
    {% endfor %}
{% endif %}
    </ul>
  </li>
  {% endif %}
</ul>

<div class="congruence_source_nag">
  {% if system_congruences %}
    {% trans "Congruences based on Kansan Muisti's estimations." %}
    {% trans "Log in or register to make your own." %}
  {% else %}
    {% trans "Congruences based on your estimations." %}
    {% trans "You can view results based on Kansan Muisti's estimations by logging out." %}
  {% endif %}

</div>
