{% extends "opinions/opinion_base.html" %}
{% load i18n thumbnail %}
{% block title %}{{ vote_name }} | {% trans "Voting prediction" %}{% endblock %}

{% block content %}
<h1>
  {% trans "How members would vote on" %} {{vote_name}}?
</h1>
<p>{% blocktrans %}
This page shows how the MPs would vote, if they were to vote according to their stated opinions.
{% endblocktrans %}</p>

{% include "opinions/opinion_vote_table.html" %}

<div style="clear: both; margin-bottom: 2em">
<h3>{% trans "Whole parliament" %}</h2>
{% trans "Yay" %}: {{answers_for|length}}
{% trans "Nay" %}: {{answers_against|length}}
</div>

{% include "opinions/question_vote_answer_listing.html" %}

{% endblock %}
