{% extends "opinions/opinion_base.html" %}
{% load i18n thumbnail opinions %}
{% block title %}{% trans "Promise statistics for" %} {{party.full_name}}{% endblock %}

{% block content %}

<h1><img src="{% thumbnail party.logo 64x64 %}" /> {{ party.full_name }}</h1>

{% for q in questions %}
  <div class="opinion_answer">
    <div class="question">
      <span class="source">
        {{q.source.name}}
        {{q.source.year}}
      </span>
      <a href="{% url opinions.views.show_question q.source.url_name q.order %}">
        {{q.text}}
      </a>
    </div>
    <table class="party_option_choices">
      {% for o in q.options %}
        <tr>
          <td class="party_option_share">
            <div class="percentage_bar" style="width: {{o.share}}%">
              {{o.share}}%
            </div>
          </td>
          <td>
            {{o.name}}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td>
          <h4>
            {% trans "Party promise percentage for this question:" %}
            {{q.congruence|congruence_to_percentage}}%
          </h4>
        </td>
      </tr>

    </table>
    <table class="party_question_sessions">
    <tr>
      <th>{% trans "Relevant voting session" %}</th>
      <th>{% trans "Party votes" %}</th>
    </tr>
    {% for s in q.sessions %}
      <tr>
        <td>
          <a href="{{s.get_absolute_url}}">{{s.get_short_summary}}</a>
        </td>
        <td class="party_vote_shares">
          <table>
            <tr>
              <td class="yes_vote" title="{% trans "Yay" %}"></td>
              <td>
                <div class="percentage_bar" style="width: {{s.yay_share}}%">
                  {{s.yay_share}}%
                </div>
              </td>
            <tr>
              <td class="no_vote" title="{% trans "Nay" %}"></td>
              <td>
                <div class="percentage_bar" style="width: {{s.nay_share}}%">
                  {{s.nay_share}}%
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="average_congruence_cell">
          <h4>
            {% trans "Average congruence:" %}
            {{s.congruence|congruence_to_percentage}}%
          </h4>
        </td>
        <td></td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endfor %}

{% endblock %}
