{% extends "opinions/opinion_base.html" %}
{% load i18n thumbnail %}
{% block title %}{% trans "Question" %}{{question.name}}{% endblock %}

{% block content %}
<h1>{{question}}</h1>
<table class="question_options">
{% for option in question.option_set.all %}
  <tr>
    <td class="option_text">{{option.name}}</td>
    <td class="votechart">
    <dl class="votechart">
	{% for party in option.party_shares %}
      <dt>{{party.name}}</dt>
      <dd><span style="height: {{party.share}}%"><em>{{party.share}}%<br />{{party.name}}</em></span></dt>
    {% endfor %}
    </dl>
  </td>
  </tr>
{% endfor %}
</table>


{% if not relevant_sessions %}
<h2>{% trans "No relevant voting sessions found." %}</h2>
{% else %}
<h2>{% trans "Relevant voting sessions" %}</h2>

{% if not user.is_authenticated %}
<a href="{% url login %}?next={{ request.path }}" class="login_nag">
{% trans "Log in or register to make a difference" %}
</a>
{% endif %}

<form action="" method="post">
  {% for session in relevant_sessions %}
  <div class="question_relevant_session">
    <table class="question_session_relevance">
      <tr>
        <th class="session_relevance_cell">
          {% trans "Relevance" %}
	      <div class="session_relevance_bar" style="width: {{session.question_relevance}}%">
          </div>
          <span class="session_relevance_percentage">
            {{session.question_relevance}}%
          </span>
        </th>
        <td>
          <h3><a href="{%url votes.views.show_session session.plenary_session.url_name session.number %}">{{session.get_short_summary}}</a></h3>
        </td>
      </tr>
    </table>
    <table class="question_session_congruence">
      <tr>
        <th></th>
        <th>
          <div>{% trans "Congruence with voting yes" %}</div>
        </th>
      </tr>
      {% for option in session.option_congruences %}
      <tr>
        <td class="congruence_input_option">{{option.option.name}}</td>
        <td class="congruence_input_container">
          {{option.input_form.as_p}}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
  <input style="margin-left: 1em" type="submit"
    {% if not user.is_authenticated %}
    disabled="disabled"
    {% endif %} value="{% trans 'Submit scores' %}"/>
</form>
{% endif %}
{% endblock %}

