{% extends "opinions/opinion_base.html" %}
{% load i18n thumbnail %}
{% block title %}{% trans "Question" %}{{question.name}}{% endblock %}

{% block content %}
<h1>
  {% trans "How members would vote on" %} {{vote_name}}
</h1>

<div style="clear: both; margin-bottom: 2em">
<h3>{% trans "Whole parliament" %}</h2>
{% trans "Yay" %}: {{answers_for|length}}
{% trans "Nay" %}: {{answers_against|length}}
</div>

<div style="width: 35%; float: left;">
<h3>{% trans "Members for" %}</h3>
{% for answer in answers_for %}
    <div><img style='margin-right: 16px' src='{{ answer.member.party_thumbnail }}' /><img style='margin-right: 8px' src='{{ answer.member.thumbnail }}' /><a href="{{answer.member.get_absolute_url}}">{{answer.member.name}}</a></div>
{% endfor %}
</div>

<div style="width: 35%; float: left">
<h3>{% trans "Members against" %}</h3>
{% for answer in answers_against %}
    <div><img style='margin-right: 16px' src='{{ answer.member.party_thumbnail }}' /><img style='margin-right: 8px' src='{{ answer.member.thumbnail }}' /><a href="{{answer.member.get_absolute_url}}">{{answer.member.name}}</a></div>
{% endfor %}
</div>


{% endblock %}
