{% extends "opinions/opinion_base.html" %}
{% load i18n thumbnail opinions %}

{% block title %}{% trans "Opinions" %}{% endblock %}

{% block head %}
<meta property="og:image" content="http://{{ fb_host }}/static/images/kamu.png" />
{% endblock %}

{% block content %}
<div id="main_col">
{{ content.data }}

{% if fb_enabled %}
{% include "_facebook.html" %}
<div style='margin-top: 30px'>
<fb:like-box href="http://www.facebook.com/kansanmuisti" width="480" show_faces="false" stream="false" header="false"></fb:like-box>
</div>
{% endif %}
</div>

<div id="news_col">
{% if parties %}
  <h3>{% trans "Promise percentages" %}</h3>
  <div class="congruence_source_nag">
{% trans "Below you may compare how well the parties voted according to the pre-stated opinions of their members." %}
  </div>
  <div class="promise_summary_parties">
    <table class="promise_statistics_box">
{% for party in parties %}
    <tr>
    <td class="promise_label_column">
      <a href="{% url opinions.views.show_party_congruences party=party.name %}">
        <img src="{% thumbnail party.logo 50x50 %}" alt="{{party.full_name}}" title="{{party.full_name}}" />
      </a>
    </td>
    <td class="promise_percentage_column">
      <a href="{% url opinions.views.show_party_congruences party=party.name %}">
        <div class="promise_percentage_bar" style="width: {{party.congruence_avg|congruence_to_percentage}}%">
          {{party.congruence_avg|congruence_to_percentage}}%
        </div>
      </a>
    </td>
    </tr>
{% endfor %}
    </table>
  </div>
{% else %}
  <h3>{% trans "No sessions scored" %}</h3>
{% endif %}
</div>
{% comment %}
{% if members %}
<div class="promise_summary_members">
<h2>{% trans "Members you have evaluated" %}</h2>
<table class="promise_statistics_box">
  {% for member in members %}
  <tr>
    <td class="promise_label_column">
      <a href="{% url votes.views.show_member member=member.url_name section='opinions' %}">
        <img src="{% thumbnail member.photo 50x50 %}"
           alt="{{member.name}}" title="{{member.name}}" />
      </a>
    </td>
    <td class="promise_percentage_column">
      <a href="{% url votes.views.show_member member=member.url_name section='opinions' %}">
        {{member.name}}
        <div class="promise_percentage_bar" style="width: {{member.congruence|congruence_to_percentage}}%; ">
          {{member.congruence|congruence_to_percentage}}%
        </div>
      </a>
    </td>

  </tr>
  {% endfor %}
</table>
</div>
{% endif %}

{% if not members and not parties %}
<h3>{% trans "No sessions scored" %}</h3>
{% endif %}
{% endcomment %}

{% endblock %}
