{% extends "opinions/opinion_base.html" %}
{% load i18n thumbnail opinions basic %}

{% block title %}{% trans "Opinions" %}{% endblock %}

{% block head %}
{{ block.super }}
<meta property="og:image" content="http://{{ fb_host }}/static/images/kamu.png" />
{% endblock %}

{% block content %}
<div class="main_col">
{{ content.data }}

{% if members %}
    <h1 id='mp_cong_block' style="margin-top:25px;">
        {% if district %}
            {% blocktrans with district|canonize_district as canon_district %}Promise percentages for members from {{canon_district}} district{% endblocktrans %}
        {% else %}
            {% trans "Promise percenteges for all members" %}
        {% endif %}
    </h1>

    <script type="text/javascript">
        var mlist = [
            {% for member in members %}
            {
                "name": "{{ member.name|escapejs }}",
                "url": "{% url votes.views.show_member member=member.url_name section='opinions' %}",
                "cong_percent": "{{ member.congruence|congruence_to_percentage }}",
                "thumbnail": "{{ member.thumbnail }}",
                "bg_color": "{{ member.congruence|congruence_to_color }}",
                "visible": true
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        $("#mp_cong_block").data("mlist", mlist);
        function gen_table(mlist) {
            var table = $("<table>");
            var i;
            var row;
            for (i = 0; i < mlist.length; i++) {
                if (!(i % 3))
                    row = $("<tr>").
                        appendTo(table);
                var data = $("<td>").
                    appendTo(row);

                var link = $("<a>").
                    attr({
                        "href":mlist[i].url,
                        "title":"{{ _('Promise percentage')|escapejs }}: " +
                                    mlist[i].cong_percent
                    }).appendTo(data);

                var mtable = $("<table>").
                    attr("class", "mp_cong_list_item").
                    appendTo(link);

                var mrow1 = $("<tr>").
                    appendTo(mtable);

                var thumbdata = $("<td>").
                    attr("rowspan", "2").
                    appendTo(mrow1);

                var thumbnail = $("<img>").
                    attr("src", mlist[i].thumbnail).
                    appendTo(thumbdata);

                var namedata = $("<td>").
                    text(mlist[i].name).
                    appendTo(mrow1);

                var mrow2 = $("<tr>").
                    appendTo(mtable);

                var bardata = $("<td>").
                    appendTo(mrow2);

                var bar = $("<div>").
                    attr("class", "promise_percentage_bar").
                    css({
                        "width": mlist[i].cong_percent,
                        "background-color": mlist[i].bg_color
                    }).
                    appendTo(bardata);
            }
            return table;
        }
    </script>

    {% if members|length > 12 %}
        <a id="mp_cong_toggle" href="#"
           onclick="return toggle_mp_cong_list();">
            {% trans "Full list" %}
        </a>
        <script type="text/javascript">
            function toggle_mp_cong_list() {
                var lists = [
                        $("#mp_cong_short_list"),
                        $("#mp_cong_long_list")
                    ];
                var texts = [
                        "{{ _('Short list')|escapejs }}",
                        "{{ _('Full list')|escapejs }}"
                    ];
                var active_list = lists[0].is(":visible") ? 0 : 1;

                lists[active_list].hide();
                lists[1 - active_list].show();
                $("#mp_cong_toggle").text(texts[active_list]);

                return false;
            }
        </script>

        <div class='mp_cong_list' id='mp_cong_short_list'>
            <script type="text/javascript">
                $(document).ready(function() {
                    var mlist = $("#mp_cong_block").data("mlist");
                    var top = gen_table(mlist.slice(0, 6)).
                                appendTo("#mp_cong_short_list");
                    var div = $("<div>").text(". . . .").
                                insertAfter(top);
                    gen_table(mlist.slice(-6)).insertAfter(div);
                });
            </script>
        </div>
    {% endif %}

    <div class='mp_cong_list' id='mp_cong_long_list'
    {% if members|length > 12 %}style="display:none"{% endif %}>
        <script type="text/javascript">
            $(document).ready(function() {
                var mlist = $("#mp_cong_block").data("mlist");
                gen_table(mlist).appendTo("#mp_cong_long_list");
            });
        </script>
    </div>
{% endif %}

{% if fb_enabled %}
{% include "_facebook.html" %}
<div style='margin-top: 60px; margin-bottom: -40px;'>
<fb:like-box href="http://www.facebook.com/kansanmuisti" width="400" show_faces="false" stream="false" header="false"></fb:like-box>
</div>
{% endif %}
</div>

<div id="news_col">
{% if parties %}
  <h3>{% trans "Promise percentages" %}</h3>
  <div class="congruence_source_nag">
{% trans "Below you may compare how well the parties voted according to the pre-stated opinions of their members." %}
  </div>
  <div class="promise_summary_parties">
    <table class="promise_statistics_box">
{% for party in parties %}
    <tr>
    <td class="promise_label_column">
      <a href="{% url opinions.views.show_party_congruences party=party.name %}">
        <img src="{% thumbnail party.logo 50x50 %}" alt="{{party.full_name}}" title="{{party.full_name}}" />
      </a>
    </td>
    <td class="promise_percentage_column">
      <a href="{% url opinions.views.show_party_congruences party=party.name %}">
        <div class="promise_percentage_bar" style="width: {{party.congruence_avg|congruence_to_percentage}}%">
          {{party.congruence_avg|congruence_to_percentage}}%
        </div>
      </a>
    </td>
    </tr>
{% endfor %}
    </table>
  </div>
{% else %}
  <h3>{% trans "No sessions scored" %}</h3>
{% endif %}
</div>
{% comment %}
{% if members %}
<div class="promise_summary_members">
<h2>{% trans "Members you have evaluated" %}</h2>
<table class="promise_statistics_box">
  {% for member in members %}
  <tr>
    <td class="promise_label_column">
      <a href="{% url votes.views.show_member member=member.url_name section='opinions' %}">
        <img src="{% thumbnail member.photo 50x50 %}"
           alt="{{member.name}}" title="{{member.name}}" />
      </a>
    </td>
    <td class="promise_percentage_column">
      <a href="{% url votes.views.show_member member=member.url_name section='opinions' %}">
        {{member.name}}
        <div class="promise_percentage_bar" style="width: {{member.congruence|congruence_to_percentage}}%; ">
          {{member.congruence|congruence_to_percentage}}%
        </div>
      </a>
    </td>

  </tr>
  {% endfor %}
</table>
</div>
{% endif %}

{% if not members and not parties %}
<h3>{% trans "No sessions scored" %}</h3>
{% endif %}
{% endcomment %}

{% endblock %}
