{% extends "opinions/opinion_base.html" %}
{% load i18n thumbnail opinions basic %}

{% block title %}{% trans "Opinions" %}{% endblock %}

{% block content %}
<div class="main_col">
{{ content.data }}

{% if members %}
    <h1 id='mp_cong_block' style="margin-top:25px;">
        {% if district %}
            {% blocktrans with district|canonize_district as canon_district %}Promise percentages for members from {{canon_district}} district{% endblocktrans %}
        {% else %}
            {% trans "Promise percentages for all MPs" %}
        {% endif %}
    </h1>

    <script type="text/javascript">
        var mlist = [
            {% for member in members %}
            {
                "name": "{{ member.name|escapejs }}",
                "url": "{% url 'votes.views.show_member' member=member.url_name section='opinions' %}",
                "cong_percent": "{{ member.congruence|congruence_to_percentage }}",
                "thumbnail": "{{ member.thumbnail }}",
                "bg_color": "{{ member.congruence|congruence_to_color }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        $("#mp_cong_block").data("mlist", mlist);

        function gen_table(mlist, filter) {
            var table = $("<table>").attr("class", "mp_cong_results");
            var i;
            var row;
            var cnt = 0;

            for (i = 0; i < mlist.length; i++) {
                var name;

                if (filter) {
                    name = emphasize_matching_parts(filter, mlist[i].name);
                    if (!name)
                        continue;
                } else {
                    name = mlist[i].name;
                }
                if (!(cnt % 3))
                    row = $("<tr>").
                        appendTo(table);
                cnt++;
                var data = $("<td>").
                    appendTo(row);

                var link = $("<a>").
                    attr({
                        "href":mlist[i].url,
                        "title":"{{ _('Promise percentage')|escapejs }}: " +
                                    mlist[i].cong_percent
                    }).appendTo(data);

                var mtable = $("<table>").
                    attr("class", "mp_cong_list_item").
                    appendTo(link);

                var mrow1 = $("<tr>").
                    appendTo(mtable);

                var thumbdata = $("<td>").
                    attr("rowspan", "2").
                    appendTo(mrow1);

                var thumbnail = $("<img>").
                    attr("src", mlist[i].thumbnail).
                    appendTo(thumbdata);

                var namedata = $("<td>").
                    html(name).
                    appendTo(mrow1);

                var mrow2 = $("<tr>").
                    appendTo(mtable);

                var bardata = $("<td>").
                    appendTo(mrow2);

                var bar = $("<div>").
                    attr("class", "promise_percentage_bar").
                    css({
                        "width": mlist[i].cong_percent,
                        "background-color": mlist[i].bg_color
                    }).
                    appendTo(bardata);
            }

            if (!cnt) {
                table.remove();
                table = $("<div>").
                    attr("class", "mp_cong_results no_result_text").
                    text("{% trans 'No results' %}");
            }

            return table;
        }
    </script>

    <div id="mp_cong_menu">
        <input id="mp_cong_search"/>

        <script>
            function create_long_list(filter_name) {
                var cong_list = $("#mp_cong_block");
                var long_list = $("#mp_cong_long_list");
                var table = long_list.children(".mp_cong_results");
                var mlist = cong_list.data("mlist");
                var new_table = gen_table(mlist, filter_name);

                table.remove();
                new_table.appendTo(long_list);
			}

			var timer = null;

			$("#mp_cong_search").bind("keyup", function(e) {
				var input = this;

				if (timer)
					clearTimeout(timer);
				timer = setTimeout(function() {
					create_long_list(input.value);
					toggle_mp_cong_list(input);
				}, 200);

                return true;
            }).example('{% trans "Search" %}');
        </script>

        {% if members|length > 12 %}
            <a id="mp_cong_show_full" href="#"
             onclick="return toggle_mp_cong_list(this);">
                {% trans "Full list" %}
            </a>
            <a id="mp_cong_show_short" class="disabled"
             onclick="return toggle_mp_cong_list(this);">
                {% trans "Short list" %}
            </a>
        {% endif %}
    </div>

    {% if members|length > 12 %}
        <script type="text/javascript">
            function toggle_mp_cong_list(elem) {
                var lists = [
                        $("#mp_cong_short_list"),
                        $("#mp_cong_long_list")
                    ];
                var links = [
                        $("#mp_cong_show_short"),
                        $("#mp_cong_show_full")
                    ];
                var search = $("#mp_cong_search");
                var activate_idx;

                if ($(elem).attr("id") == "mp_cong_show_short") {
                    activate_idx = 0;
                } else if ($(elem).attr("id") == "mp_cong_show_full") {
                    activate_idx = 1;
                } else {
                    if (search.val()) {
                        activate_idx = 2;
                    } else {
                        activate_idx = 0;
                    }
                }

                if (activate_idx == 2) {
                    activate_idx = 1;
                    links[0].removeClass("disabled").attr("href", "#");
                    links[1].removeClass("disabled").attr("href", "#");
                } else {
                    if (search.val()) {
                        search.val("");
                        search.blur();
                        create_long_list("");
                    }
                    links[activate_idx].addClass("disabled").removeAttr("href");
                    links[1 - activate_idx].removeClass("disabled").attr("href", "#");
                }

                lists[1 - activate_idx].hide();
                lists[activate_idx].show();

                return false;
            }
        </script>

        <div class='mp_cong_list' id='mp_cong_short_list'>
            <script type="text/javascript">
                $(document).ready(function() {
                    var mlist = $("#mp_cong_block").data("mlist");
                    var top = gen_table(mlist.slice(0, 6)).
                                appendTo("#mp_cong_short_list");
                    var div = $("<div>").text(". . . .").
                                insertAfter(top);
                    gen_table(mlist.slice(-6)).insertAfter(div);
                });
            </script>
        </div>
    {% endif %}

    <div class='mp_cong_list' id='mp_cong_long_list'
     style='min-height:200px;
     {% if members|length > 12 %}display:none{% endif %}'>
        <script type="text/javascript">
            $(document).ready(function() {
                var mlist = $("#mp_cong_block").data("mlist");
                gen_table(mlist).appendTo("#mp_cong_long_list");
            });
        </script>
    </div>
{% endif %}

{% if fb_enabled %}
{% include "_facebook.html" %}
<div style='margin-top: 60px; margin-bottom: -40px;'>
<fb:like-box href="http://www.facebook.com/kansanmuisti" width="400" show_faces="false" stream="false" header="false"></fb:like-box>
</div>
{% endif %}
</div>

<div id="news_col">
{% if parties %}
  <h3>{% trans "Promise percentages" %}</h3>
  <div class="congruence_source_nag">
{% trans "Below you may compare how well the parties voted according to the pre-stated opinions of their members." %}
  </div>
  <div class="promise_summary_parties">
    <table class="promise_statistics_box">
{% for party in parties %}
    <tr>
    <td class="promise_label_column">
      <a href="{% url 'opinions.views.show_party_congruences' party=party.abbreviation %}">
        <img src="{% thumbnail party.logo 50x50 %}" alt="{{party.name}}" title="{{party.name}}" />
      </a>
    </td>
    <td class="promise_percentage_column">
      <a href="{% url 'opinions.views.show_party_congruences' party=party.abbreviation %}">
        <div class="promise_percentage_bar" style="width: {{party.congruence_avg|congruence_to_percentage}}%">
          {{party.congruence_avg|congruence_to_percentage}}%
        </div>
      </a>
    </td>
    </tr>
{% endfor %}
    </table>
  </div>
{% else %}
  <h3>{% trans "No sessions scored" %}</h3>
{% endif %}
</div>
{% comment %}
{% if members %}
<div class="promise_summary_members">
<h2>{% trans "Members you have evaluated" %}</h2>
<table class="promise_statistics_box">
  {% for member in members %}
  <tr>
    <td class="promise_label_column">
      <a href="{% url 'votes.views.show_member' member=member.url_name section='opinions' %}">
        <img src="{% thumbnail member.photo 50x50 %}"
           alt="{{member.name}}" title="{{member.name}}" />
      </a>
    </td>
    <td class="promise_percentage_column">
      <a href="{% url 'votes.views.show_member' member=member.url_name section='opinions' %}">
        {{member.name}}
        <div class="promise_percentage_bar" style="width: {{member.congruence|congruence_to_percentage}}%; ">
          {{member.congruence|congruence_to_percentage}}%
        </div>
      </a>
    </td>

  </tr>
  {% endfor %}
</table>
</div>
{% endif %}

{% if not members and not parties %}
<h3>{% trans "No sessions scored" %}</h3>
{% endif %}
{% endcomment %}

{% endblock %}
