{% load i18n static compress %}
<link type="text/css" href="{% static "js/vendor/datepicker3.css" %}" rel="stylesheet" />
<script type="text/javascript" src="{% static "js/vendor/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/bootstrap-datepicker.fi.js" %}"></script>
<div class="feed-filtering">
    <section>
        <div class="feed-filters">
            <form class="form-horizontal">
                <h4>Aktiviteettien rajaus</h4>
                <div class="form-group">
                    <div class="input-daterange form-group daterange-filter-group collapse" id="datepicker">
                    <label class="col-lg-3 control-label">{% trans "Timerange" %}</label>
                    <div class="col-lg-6">
                        <div class="input-daterange input-group">
                            <input type="text" class="input-sm form-control" name="from" />
                            <span class="input-group-addon">
                                <i class="typcn typcn-calendar typcn--large"></i> &#8594;
                            </span>
                            <input type="text" class="input-sm form-control" name="to" />
</div>
                    </div>
                    </div>
                    <div class="form-group tag-filter-group">
                        <label class="col-lg-3 control-label">{% trans "Issue" %}</label>
                        <div class="col-lg-6">
                            <input type="text" class="tag-filter-input text-search form-control" placeholder="{% trans 'Input text' %}...">
                        </div>
                    </div>
                    <div class="form-group type-filter-group">
                        <label class="col-lg-3 control-label">{% trans "Filter" %}</label>
                        <div class="col-lg-11">
                            {% include "_feed_filters.html" %}
                        </div>
                    </div>
            </form>
                </div>
    </section>	
</div>
