<script type="text/template" id="activity-item-template">
    <hr class="divider"/>
    <div class="avatar">
      <% if (actor) { %>
        <a href="<%= actor.url %>">
            <img src="<%= actor.thumbnail_url %>">
        </a>
      <% } else { %>
        <img src="<%= URL_CONFIG['static_base']+'images/government-actor.png' %>">
      <% } %>
    </div>
    <div class="content-block">
      <div class="source">
          <% if (actor) { %>
          <a href="<%= actor.url %>">
              <span class="author"><%= actor.name %></span>
          </a>
          <% } %>
          <% if (target) { %>
          <a href="<%= target.url %>" class="source-definition">
          <% } else { %>
          <a class="source-definition>
          <% } %>
              <i class="typcn typcn-<%= FEED_ACTIONS[type].icon %> icon"></i>
              <%= action %>
          </a>
      </div>
      <div class="timestamp">
          <% if (target) { %>
          <a href="<%= target.url %>">
          <% } else { %>
          <a>
          <% } %>
          <time datetime="<%= time %>">
          <%= time_str %></time>
          </a>
      </div>
      <% if (target) { %>
      <div class="feed-content">
          <% if (target.keywords && target.keywords.length) { %>
          <div class="labels">
              <% _.each(target.keywords, function(kw) { %>
              <a href='<%= kw.view_url %>'><span class="issue-tag-small"><%= kw.name %></span></a>
              <% }); %>
          </div>
          <% } %>
          <% if (target.subject) { %>
          <h2><a href="<%= target.url %>"><%= target.subject %></a></h2>
          <% } %>
          <div class="summary">
              <%= target.text %>
          </div>
          <% if (target.picture) { %>
          <div class="share-target">
            <a href="<%= target.share_link %>">
              <img src="<%= target.picture %>">
            </a>
            <% if (target.share_caption) { %>
              <p><%= target.share_caption %></p>
            <% } %>
            <% if (target.share_description) { %>
              <p><%= target.share_description %></p>
            <% } %>
            <% if (target.share_title) { %>
              <p><%= target.share_title %></p>
            <% } %>
          </div>
          <% } %>
      </div>
      <% } %>
    </div>
</script>
