{% load i18n static compress %}
<link type="text/css" href="{% static "js/vendor/datepicker3.css" %}" rel="stylesheet" />
<script type="text/javascript" src="{% static "js/vendor/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/bootstrap-datepicker.fi.js" %}"></script>
<div class="feed-filters">
    <div class="main-filter-container">
    <div class="keyword-filter-group"  style="display: none">
        <label>{% trans "Issue" %}
            
        </label>
        <div class="filter-control">
            <div class="filter-control-keyword-slot">
                <div class="filter-control-actual-keyword">
                    <span class="no-selected-keyword" style="display: none">{% trans "All issues" %}</span>
                    <div class="selected-keyword" style="display: none">
                        <a class="remove-kw-filter">
                            <i class="typcn typcn-times"></i>
                        </a><a class="keyword-link"></a>
                    </div>
                </div>
                <div class="filter-control-search-keyword" style="display: none">
                    <input type="text" class="tag-filter-input text-search form-control" placeholder="{% trans 'Search for a keyword' %}..."></input>
                </div>
            </div>
            <button type="button" class="discrete-toggle-btn search-toggle">
                <i class="typcn typcn-zoom-outline"></i>
            </button>

        </div>
        </div>
    </div>
    <div class="side-filter-container">
    <div class="type-filter-group" style="display: none">
        <label>{% trans "Filter" %}</label>
        <div class="filter-control">
            {% include "_feed_filters.html" %}
        </div>
    </div>
    <div class="date-filter-group" style="display: none">
        <label>{% trans "Timerange" %}</label>
        <div class="filter-control">
            <div class="input-daterange">
                <span class="btn-group from-date-field">
                <button class="btn discrete-toggle-btn clear-filter" data-field="from">
                    <i class="typcn typcn-times"></i>
                </button>
                <input type="text" class="discrete-toggle-btn date-input" name="from" placeholder="{% trans "Any time"%}" required />
                </span>
                &#8594;
                <span class="btn-group to-date-field">
                <button class="btn discrete-toggle-btn clear-filter" data-field="to">
                    <i class="typcn typcn-times"></i>
                </button>
                <input type="text" class="discrete-toggle-btn date-input" name="to" placeholder="{% trans "Any time"%}" required />
                </span>
            </div>
        </div>
    </div>
    </div>
</div>
{% compress js inline %}
<script type="text/coffeescript">
el = $(".feed-filters:last")
saneaffix_y el
el.find(".filter-control .dropdown-menu").click (e) ->
    e.stopPropagation()
</script>
{% endcompress %}
