{% load i18n %}
{% load thumbnail %}
    <table{% if table.class %} class="{{ table.class }}"{% endif %}>
{% spaceless %}
      <tr{% if table.header_id %} id="{{ table.header_id }}"{% endif %}>
{% load basic %}
{% for col in table.header %}
{% if col.img %}
<th class="{{ col.class }}">
{% if col.no_tn %}
  <img title="{{ col.title }}" src='/static/{{ col.img }}' />
{% else %}
  <img title="{{ col.title }}" src='/static/{% thumbnail col.img 32x32 %}' />
{% endif %}
{% else %}
<th class="{{ col.class }}" title="{{ col.title }}">
  {{ col.name }}
{% endif %}
</th>
{% endfor %}
      </tr>

{% comment %}
      <tr{% if table.sort_id %} id="{{ table.sort_id }}"{% endif %}>
{% for col in table.header %}
{% if col.sort_key %}
        <th class="{{ col.class }}">
            <a
{% ifequal request.GET.sort col.sort_key %}
              class="sort_active"
{% endifequal %}
              title="{% trans "Sort ascending" %}" href="{% query_string "" "sort" %}&sort={{ col.sort_key }}">&#x25bc</a>
            <a
{% ifnotequal request.GET.sort col.sort_key %}
{% ifequal request.GET.sort|cut:"-" col.sort_key %}
              class="sort_active"
{% endifequal %}
{% endifnotequal %}
              title="{% trans "Sort descending" %}" href="{% query_string "" "sort" %}&sort=-{{ col.sort_key }}">&#x25b2</a>
        </th>
{% else %}
       <th></th>
{% endif %}
{% endfor %}
      </tr>
{% endcomment %}

{% for row in table.body %}
    <tr>
{% for val in row %}
    <td class="{{ val.class }}" title='{{ val.title }}'>
{% if val.link %}
      <a href='{{ val.link }}'>
{% endif %}
{% if val.img %}
      <img src='/static/{% thumbnail val.img val.img_dim %}' />
{% else %}
      {{ val.value }}
{% endif %}
{% if val.link %}
      </a>
{% endif %}
{% endfor %}
  </tr>
{% endfor %}

{% endspaceless %}
    </table>
