{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans "Add organization" %}{% endblock %}
{% block content %}
  <div id="org_add_content">
{% if modify %}  <h1>{% trans "Modify an organization" %}</h1>
{% else %}<h1>{% trans "Add a new organization" %}</h1>{% endif %}

{% if form.errors %}
  <p style="color: red;">
    Please correct the error{{ form.errors|pluralize }} below.
  </p>
{% endif %}
  <form enctype="multipart/form-data" action="" method="post">
    <table id="org_add_form">
      {{ form.as_table }}
    </table>
{% if org.logo %}    <input type="hidden" name="stored_logo" value="{{ org.logo }}">{% endif %}
    <input type="submit" name="preview" value="{% trans 'Preview' %}">
  </form>
  </div>
{% endblock %}
