{% load i18n compress static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | KAMU</title>
    <meta property="og:site_name" content="Kansan muisti" />
    <meta property="fb:app_id" content="107387482616243" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" />

    <!-- fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic|Roboto+Condensed:700|Expletus+Sans:700' rel='stylesheet' type='text/css'>

    <!-- twitter bootstrap -->
    {% compress css %}
    <link type="text/less" href="{% static 'bootstrap/less/bootstrap.less' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/typicons/typicons.css' %}" rel="stylesheet" />
    {% endcompress %}

    <!-- own css -->
    {% compress css %}
    <link type="text/less" href="{% static 'css/kamu.less' %}" rel="stylesheet" />
    {% endcompress %}

    {% compress js inline %}
    <script type="text/coffeescript">
    # The activity bar cap is the 95th percentile
    # of average daily MP activity in the year 2013
    window.ACTIVITY_BAR_CAP = 13.67
    window.API_PREFIX = '/api/v1/'
    window.URL_CONFIG =
        'member_list': '{% url "parliament.views.list_members" %}'
        'member_details': '{% url "parliament.views.show_member" member="MEMBER" %}'
        'member_details_page': '{% url "parliament.views.show_member" member="MEMBER" page="PAGE" %}'
        'party_details': '{% url "parliament.views.show_party_feed" abbreviation="PARTY" %}'
        'topic_list': '{% url "parliament.views.list_topics" %}'
        'topic_details': '{% url "parliament.views.show_topic" topic="999" slug="SLUG" %}'
        'document_details': '{% url "parliament.views.show_document" slug="DOC" %}'

        'api_member': '{% url "api_dispatch_list" resource_name="member" api_name="v1" %}'
        'api_member_activity_scores': '{% url "api_get_member_activity_scores" resource_name="member" pk="999" api_name="v1" %}'
        'api_member_activity': '{% url "api_dispatch_list" resource_name="member_activity" api_name="v1" %}'
        'api_keyword_activity': '{% url "api_dispatch_list" resource_name="keyword_activity" api_name="v1" %}'
        'api_keyword_activity_scores': '{% url "api_get_keyword_activity_scores" resource_name="keyword" pk="999" api_name="v1" %}'
        'api_party': '{% url "api_dispatch_list" resource_name="party" api_name="v1" %}'
        'api_party_activity_scores': '{% url "api_get_party_activity_scores" resource_name="party" abbreviation="PARTY" api_name="v1" %}'
        'api_parliament_activity_scores': '{% url "api_get_parliament_activity_scores" resource_name="parliament" api_name="v1" %}'
        'api_term': '{% url "api_dispatch_list" resource_name="term" api_name="v1" %}'
        'api_committee': '{% url "api_dispatch_list" resource_name="committee" api_name="v1" %}'
        'api_document': '{% url "api_dispatch_list" resource_name="document" api_name="v1" %}'
        'api_keyword': '{% url "api_dispatch_list" resource_name="keyword" api_name="v1" %}'
    </script>
    {% endcompress %}

    {% compress js %}
    <script type="text/javascript" src="{% static "js/vendor/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/moment-with-locales.js" %}"></script>
    <script type="text/javascript">
        GLOBAL_PARTY_LIST_JSON_HACK = {{PARTY_LIST_JSON|safe}}; 
        moment.locale("fi");
    </script>
    <script type="text/javascript" src="{% static "js/vendor/share.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.expander.js" %}"></script>
    <script type="text/coffeescript">
        expander_defaults =
            expandText: '{% trans "Read more" %}' + '<i class="typcn typcn-arrow-down"></i>'
            expandEffect: 'fadeIn'
            sliceOn: '</p>'
            widow: 15
            userCollapse: true
            userCollapseText: 'Pienennä <i class="typcn typcn-arrow-up"></i>'
        $.extend $.fn.expander.defaults, expander_defaults
    </script>
    <script type="text/coffeescript" src="{% static "js/tagcloud.coffee" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/spin.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.spin.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/tab.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/tooltip.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/collapse.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/modal.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/dropdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/lunr.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.oninput.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/typeahead.bundle.js" %}"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/vendor/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/backbone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/backbone-tastypie.js" %}"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/vendor/jquery.flot.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.flot.time.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.flot.navigate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.flot.curvedlines.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.flot.selection.js" %}"></script>
    {% endcompress %}
    
    {% compress js %}
    <script type="text/javascript" src="{% static "js/vendor/jquery.history.js" %}"></script>
    <script type="text/coffeescript" src="{% static "js/vendor/saneparam.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "js/vendor/hashstate.coffee" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.appear.js" %}"></script> 
    <script type="text/coffeescript" src="{% static "js/vendor/jquery.gimmesomemore.coffee" %}"></script>
    {% endcompress %}

    {% block head %}{% endblock %}
</head>

<body>
    <header class="page-head">
        <div class="container">
            <h1>
                <a href="/">
                    <img class="logo" src="{% static 'images/kamu-logo.svg' %}" alt="Kansan muisti -logo">
                </a>
            </h1>
            <nav class="upper-page-nav">
                <ul class="nav nav-pills">
                    <li><a href="#">Kansan muisti ry.</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-nav-container">
        <nav class="container main-nav navbar navbar-default" role="navigation">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#j-navbar-responsive">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse" id="j-navbar-responsive">
                <ul class="nav navbar-nav">
                    <li><a href="/">Etusivu</a></li>
                    <li><a href="{% url 'parliament.views.list_topics' %}">Aiheet</a></li>
                    <li><a href="{% url 'parliament.views.list_members' %}">Kansanedustajat</a></li>
                    <li><a href="{% url 'parliament.views.list_parties' %}">Puolueet</a></li>
                    <li><a href="{% url 'parliament.views.list_sessions' %}">Täysistunnot</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control input-sm" id="main-search" placeholder="{% trans 'Search' %}">
                  </div>
                  <button type="submit" class="btn btn-sm navbar-btn">Submit</button>
                </form>
                <!-- FIXME <form class="navbar-form">
                    <input type="text" class="form-control input-sm" placeholder="{% trans 'Search' %}">
                </form> -->
            </div>
        </nav>
    </div>

    <script type="text/template" id="main-search-result">
        <a href="<%= view_url %>">
            <div class="tt-suggestion-data">
            <% if (image_url) { %>
            <div class="image">
                <img src="<%= image_url %>" />
            </div>
            <% } %>
            <div class="text">
            <%- text %>
            </div>
            </div>
        </a>
    </script>

    {% compress js %}
    <script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "js/base.coffee" %}"></script>
    {% endcompress %}

    <main class="container {% block main_class %}generic{% endblock %}">
    {% block content %}{% endblock %}
    </main>

    <script type="text/javascript">
        // Activate Bootstrap tooltips
        $(".js-tooltip").tooltip();
        // Activate share button
        var share_opts = {
            ui: {
                button_text: 'Jaa',
                button_font: false
            }
        };
        new Share(".share-button", share_opts);

    </script>
<!--
    <footer class="page-footer">
        <div class="copyright">
            Copyright &copy; 2010–2014 Kansan muisti ry. Palvelun ylläpitäjä ei vastaa tietojen oikeellisuudesta.
        </div>
    </footer>
-->
</body>
</html>
