{% load i18n compress static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %} | KAMU</title>
  <meta property="og:site_name" content="Kansan muisti" />
  <meta property="fb:app_id" content="107387482616243" />

  <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" />

  <!-- font -->
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <!-- twitter bootstrap -->
  {% compress css %}
  <link type="text/less" href="{{ MEDIA_URL }}css/bootstrap/bootstrap.less" rel="stylesheet" />
  {% endcompress %}

  <!-- own css -->
  {% compress css %}
  <link type="text/less" href="{{ MEDIA_URL }}css/kamu.less" rel="stylesheet" />
  {% endcompress %}

  {% compress js %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/moment.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/moment.fi.js"></script>
  {% endcompress %}

  {% block head %}{% endblock %}
</head>

<body>
    <div class="container">
        <div class="row" id="header">
            <div class="span2" id="logospan">
                <a class="currentlink" href="{% url 'parliament.views.main' %} ">
                </a>
            </div>
            <div class="span10">
                <div id="navtopbar">
                    <div id="search">
                        <form class="form-search" action="#" method="post">
                            <div class="input-append">
                                <input type="text" class="input-medium search-query" placeholder="Hae Kansan muistista..."/>
                                <button style="margin-top: 7px" class="btn"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="separator"></div>
                    <div id="logged-user">
                        Saana Sekakäyttäjä / <a href="#">Kirjaudu ulos</a>
                    </div>
                </div>

                <div id="navbottombar">
                    <table><tr> <!-- OMG! A TABLE!!!1 -->
                            <td><a href="{% url 'parliament.views.list_sessions' %}">
                                    {% trans "Plenary sessions" %}
                            </a></td>
                            <td><a href="#">
                                    {% trans "Parties" %}
                            </a></td>
                            <td><a href="{% url 'parliament.views.list_members' %}">
                                    {% trans "Members" %}
                            </a></td>
                            <td><a href="#">
                                    {% trans "Topics" %}
                            </a></td>
                            <td><a href="#">
                                    {% trans "About" %}
                            </a>

                    </tr></table>
                </div>
            </div>
        </div>

        <hr id="headerspacer" />

        {% block content %}{% endblock %}

        <div id="footer">
                        Copyright &copy; 2010–2013 Kansan muisti ry. Palvelun ylläpitäjä ei vastaa tietojen oikeellisuudesta.
        </div>
</body>

</html>

