{% load i18n compress static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if title %}{{ title }}{% else %}{% block title %}{% endblock %}{% endif %} | KAMU</title>
    <meta property="fb:app_id" content="107387482616243" />
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@kansanmuisti">
    {% if title %}
    <meta name="twitter:title" content="{{ title }}">
    {% endif %}
    {% if description %}
    <meta name="twitter:description" content="{{ description }}">
    {% endif %}
    <meta name="twitter:creator" content="@kansanmuisti">
    {% if meta_image %}
    <meta name="twitter:image" content="{{ meta_image }}">
    {% else %}
    <meta name="twitter:image" content="http://{{ request.get_host }}{% static 'images/icons/twitter_shared_thumbnail_default.png' %}">
    {% endif %}
    {% if title %}
    <meta property="og:title" content="{{ title }}" />
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ canonical_url }}" />
    {% if meta_image %}
    <meta property="og:image" content="{{ meta_image }}" />
    {% else %}
    <meta property="og:image" content="http://{{ request.get_host }}{% static 'images/icons/fb_shared_thumbnail_default.png' %}" />
    {% endif %}
    {% if description %}
    <meta property="og:description" content="{{ description }}" /> 
    {% endif %}
    <meta property="og:site_name" content="Kansan muisti" />
    <meta property="fb:admins" content="107387482616243" />
  
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/icons/apple-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" />
    <meta name="msapplication-TileColor" content="#8ed3cf">
    <meta name="msapplication-TileImage" content="{% static 'images/icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#8ed3cf">
  
    <!-- fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic|Roboto+Condensed:700|Expletus+Sans:700' rel='stylesheet' type='text/css'>

    <!-- twitter bootstrap -->
    {% compress css %}
    <link type="text/css" href="{% static 'css/typicons/typicons.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static "js/vendor/social-likes_birman.css" %}" rel="stylesheet" />
    <link type="text/css" href="{% static "js/vendor/rickshaw.css" %}" rel="stylesheet" />
    {% endcompress %}

    <!-- own css -->
    {% compress css %}
    <link type="text/less" href="{% static 'css/kamu.less' %}" rel="stylesheet" />
    {% endcompress %}

    {% compress js inline %}
    <script type="text/coffeescript">
    # The activity bar cap is the 95th percentile
    # of average daily MP activity in the year 2013
    window.ACTIVITY_BAR_CAP = 13.67
    window.API_PREFIX = '/api/v1/'
    window.URL_CONFIG =
        'static_base': '{% static "" %}'
        'member_list': '{% url "parliament.views.list_members" %}'
        'member_details': '{% url "parliament.views.show_member" member="MEMBER" %}'
        'member_details_page': '{% url "parliament.views.show_member" member="MEMBER" page="PAGE" %}'
        'party_details': '{% url "parliament.views.show_party_feed" abbreviation="PARTY" %}'
        'topic_list': '{% url "parliament.views.list_topics" %}'
        'topic_details': '{% url "parliament.views.show_topic" topic="999" slug="SLUG" %}'
        'topic_details_by_name': '{% url "parliament.views.show_topic_by_name" %}'
        'document_details': '{% url "parliament.views.show_document" slug="DOC" %}'
        'search': '{% url "parliament.views.search" %}'

        'api_member': '{% url "api_dispatch_list" resource_name="member" api_name="v1" %}'
        'api_member_activity_scores': '{% url "api_get_member_activity_scores" resource_name="member" pk="999" api_name="v1" %}'
        'api_member_activity': '{% url "api_dispatch_list" resource_name="member_activity" api_name="v1" %}'
        'api_keyword_activity': '{% url "api_dispatch_list" resource_name="keyword_activity" api_name="v1" %}'
        'api_keyword_activity_scores': '{% url "api_get_keyword_activity_scores" resource_name="keyword" pk="999" api_name="v1" %}'
        'api_party': '{% url "api_dispatch_list" resource_name="party" api_name="v1" %}'
        'api_party_activity_scores': '{% url "api_get_party_activity_scores" resource_name="party" abbreviation="PARTY" api_name="v1" %}'
        'api_parliament_activity_scores': '{% url "api_get_parliament_activity_scores" resource_name="parliament" api_name="v1" %}'
        'api_term': '{% url "api_dispatch_list" resource_name="term" api_name="v1" %}'
        'api_committee': '{% url "api_dispatch_list" resource_name="committee" api_name="v1" %}'
        'api_document': '{% url "api_dispatch_list" resource_name="document" api_name="v1" %}'
        'api_keyword': '{% url "api_dispatch_list" resource_name="keyword" api_name="v1" %}'
        'api_search': '{% url "api_dispatch_list" resource_name="search" api_name="v1" %}'
    </script>
    {% endcompress %}

    {% compress js %}
    <script type="text/javascript" src="{% static "js/vendor/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/moment-with-locales.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/social-likes.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.expander.js" %}"></script>
    <script type="text/coffeescript" src="{% static "js/tagcloud.coffee" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/spin.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.spin.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/tab.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/button.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/tooltip.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/collapse.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/modal.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/dropdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/lunr.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.oninput.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/typeahead.bundle.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/backbone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/backbone-tastypie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/d3.v3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/rickshaw.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.history.js" %}"></script>
    <script type="text/coffeescript" src="{% static "js/vendor/saneparam.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "js/vendor/hashstate.coffee" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.appear.js" %}"></script>
    <script type="text/coffeescript" src="{% static "js/vendor/jquery.gimmesomemore.coffee" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.finnishhyphenator.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/autolink.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/feedback.js" %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/affix.js' %}"></script>
    <script type="text/coffeescript" src="{% static 'js/saneaffix.coffee' %}"></script>
    {% endcompress %}
  
    <script type="text/javascript">
        GLOBAL_PARTY_LIST_JSON_HACK = {{PARTY_LIST_JSON|safe}}; 
        moment.locale("fi");
    </script>
    {% compress js inline %}
    <script type="text/coffeescript">
        expander_defaults =
            expandText: '{% trans "Read more" %}' + '<i class="typcn typcn-arrow-down"></i>'
            expandEffect: 'fadeIn'
            sliceOn: '</p>'
            widow: 15
            userCollapse: true
            userCollapseText: 'Pienennä <i class="typcn typcn-arrow-up"></i>'
        $.extend $.fn.expander.defaults, expander_defaults
    </script>
    {% endcompress %}

    {% block head %}{% endblock %}
</head>

<body>
    <header class="page-head">
        <div class="container">
            <h1>
                <a href="/">
                    <img class="logo" src="{% static 'images/kamu-logo.svg' %}" alt="Kansan muisti -logo">
                </a>
            </h1>
            <nav class="upper-page-nav">
                <ul class="nav nav-pills">
                    <li><a href="{% url "parliament.views.show_general_info" %}">Kansan muisti ry.</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-nav-container">
        <nav class="container main-nav navbar navbar-default" role="navigation">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#j-navbar-responsive">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse" id="j-navbar-responsive">
                <ul class="nav navbar-nav">
                    <li><a href="/">Etusivu</a></li>
                    <li><a href="{% url 'parliament.views.list_topics' %}">Aiheet</a></li>
                    <li><a href="{% url 'parliament.views.list_members' %}">Kansanedustajat</a></li>
                    <li><a href="{% url 'parliament.views.list_parties' %}">Puolueet</a></li>
                    <li><a href="{% url 'parliament.views.list_sessions' %}">Täysistunnot</a></li>
                </ul>
                <form class="navbar-form navbar-right" id="main-search-form" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control input-sm" id="main-search" placeholder="{% trans 'Input search terms' %}">
                  </div>
                  <button type="submit" class="btn btn-sm navbar-btn">{% trans 'Search' %}</button>
                </form>
            </div>
        </nav>
    </div>

    <script type="text/template" id="main-search-result">
        <a href="<%= view_url %>">
            <div class="tt-suggestion-data">
            <% if (image_url) { %>
            <div class="image">
                <img src="<%= image_url %>" />
            </div>
            <% } %>
            <div class="text">
            <%- text %>
            </div>
            </div>
        </a>
    </script>

    {% compress js %}
    <script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "js/base.coffee" %}"></script>
    {% endcompress %}

    <main class="container {% block main_class %}generic{% endblock %} autoscroll-protected-top">
    {% block content %}{% endblock %}
    </main>
  
<div id="feedback">
	<div id="feedback-form" style='display:none;' class="col-xs-4 col-md-4 panel panel-default">
		<form method="POST" action="{% url 'envelope-contact' %}" class="form panel-body" role="form">
            {% csrf_token %}
			<div class="form-group">
				<input class="form-control" name="email" autofocus placeholder="Sähköposti" type="email" />
			</div>
			<div class="form-group">
				<textarea class="form-control" name="message" required placeholder="Kirjoita palautetta sivustosta..." rows="5"></textarea>
			</div>
			<button class="btn btn-primary pull-right" type="submit">Lähetä</button>
		</form>
	</div>
	<div id="feedback-tab">Palaute</div>
</div>
<!--
    <footer class="page-footer">
        <div class="copyright">
            Copyright &copy; 2010–2014 Kansan muisti ry. Palvelun ylläpitäjä ei vastaa tietojen oikeellisuudesta.
        </div>
    </footer>
-->
</body>
</html>
