{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Facebook Connect" %}{% endblock %}
{% block content %}
  <h1>{% trans "Facebook Connect" %}</h1>
{% if fb_enabled %}
{% include "_facebook.html" %}
<fb:registration fields="name,first_name,last_name,birthday,gender,location,email" redirect-uri="http://{{ fb_host }}{% url facebook_register %}"></fb:registration>
{% comment %}
<img src="/static/{{ portrait }}" />
{{ info.first_name }} {{ info.last_name }} {% endcomment %}
{% else %}
{% trans "Facebook functionality disabled." %}
{% endif %}
{% endblock %}

