{% extends "base.html" %}
{% load static %}

{% block title %}Kansan muisti ry.{% endblock %}

{% block main_class %}general-info{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=107387482616243&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="box">

<h1>Kansan muisti ry.</h1>
<p>Kansan muisti ry on poliittisesti sitoutumaton, voittoa tavoittelematon ja vapaaehtoisvoimin toimiva yhdistys, jonka tavoitteena on edistää demokratian toteutumista yhteiskunnassa. Arvojamme ovat demokraattinen päätöksenteko, läpinäkyvyys ja datan avoimuus.</p>

<p>Toimintamme keskiössä on <a href="http://kansanmuisti.fi">kansanmuisti.fi</a> -palvelu, jonka tarkoituksena on helpottaa kansalaisten tiedonhankintaa mm. äänestyspäätöksiä tehdessä. Palvelun taustalla on myös pyrkimys parantaa päätöksenteon läpinäkyvyyttä kansan helpomman tiedonsaannin ja seurannan kautta, mikä luo kansanedustajille ja puolueille lisää painetta vaalilupausten ylläpitoon.</p>

<p>Palvelun beta-versio julkaistiin vuonna 2010. Vuonna 2015 maaliskuussa julkaistiin sivustouudistus, jossa sivuston sisältöä ja ulkoasua uudistettiin radikaalisti. Palvelua kehitetään <a href="https://github.com/kansanmuisti/kamu">avoimella lähdekoodilla</a>.</p>

<h3>Kansan muisti ry:n hallituksen jäsenet vuonna 2015</h3>

<ul class="list-unstyled">
  <li>Juha Yrjölä, puheenjohtaja</li>
  <li>Ville Koivunen, taloudenhoitaja</li>
  <li>Riikka Suutari, sihteeri</li>
  <li>Juuso Pesälä, hallituksen jäsen</li>
</ul>

<h3>Yhteystiedot</h3>

Kansan muisti ry<br/>
<a href="mailto:info@kansanmuisti.fi">info@kansanmuisti.fi</a><br/>

Hallituksen jäsenet<br/>
etunimi.sukunimi@kansanmuisti.fi

<h3>Lahjoitukset</h3>

<p>Palvelua ylläpitävä Kansan muisti ry voi sääntöjensä mukaisesti vastaanottaa lahjoituksia.</p>

<table class="table">
  <tr><td>Tilinumero (IBAN)</td><td><strong>FI54 5780 0720 3888 62</strong></td></tr>
  <tr><td>Saaja</td><td><strong>Kansan muisti ry</strong></td></tr>
  <tr><td><strong>Viitenumerot</strong></td></tr>
  <tr><td>Julkinen lahjoitus</td><td><strong>1009</strong></td></tr>
  <tr><td>Anonyymi lahjoitus</td><td><strong>1106</strong></td></tr>
</table>

<p>Voit lahjoittaa myös Paypalin välityksellä klikkaamalla allaolevasta nappulasta.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post"><div style='display:none;'><input type='hidden'  name='csrfmiddlewaretoken' value='8d4c7a480c414ba0a54331ca97dae2a0' /></div>
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GPN9VKFUQH262">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
  
<h3>Kommentoi Kansan muistia</h3>
  
<div class="fb-comments" data-href="http://www.kansanmuisti.fi/info" data-numposts="5" data-colorscheme="light" data-width="100%"></div>

</div>
{% endblock %}
