{% extends "base.html" %}
{% load i18n compress static thumbnail %}
{% block title %}{% trans "Front page" %}{% endblock %}

{% block head %}
{% compress js inline %}


<script type="text/coffeescript">
$ ->
    activity_feeds = [{
        url: "{% url 'parliament.views.get_parliament_activity' %}"
        more_link: "#parliament-showmore a"
        target_el: "#parliament-activity .post-list"
        offset: {{ parl_act_offset }}
    }, {
        url: "{% url 'parliament.views.get_mp_some_activity' %}"
        more_link: "#livefeed-showmore a"
        target_el: "#livefeed .post-list"
        offset: {{ some_offset }}
    }]

    moment.lang 'fi'
    set_timestamps = ->
        $(".time[title]").each ->
            time = $(this).attr 'title'
            mom = moment time
            $(@).text mom.fromNow()

    set_timestamps()
    for act in activity_feeds
        $(act.more_link).click act, (ev) ->
            act = ev.data
            url = act.url + "?offset=" + act.offset
            $.ajax url,
            	type: 'GET',
            	success: (data) ->
                    html = $("<div>")
                    html.append $(data.html)
                    html.hide()
                    $(act.target_el).append html
                    act.offset = data.offset
                    set_timestamps()
                    html.slideDown()
            return false
    setInterval set_timestamps, 60*1000
</script>
{% endcompress %}
{% endblock %}

{% block main_class %}home-page{% endblock %}

{% block content %}
<div class="top-feature-box">
    <header>
        <h1>Kyllä kansa muistaa</h1>
        <p class="lead">Kansan muisti -verkkopalvelussa voit seurata kansanedustajien puheenvuoroja ja äänestyksiä – siis vaalilupausten toteutumista käytännössä.</p>
    </header>
    <nav class="row">
        {% for nb in navbuttons %}
        <div class="col-lg-4">
            <div class="nav-button">
                <div class="row">
                    <div class="col-6 col-sm-6 col-lg-12">
                        <a href="#">
                            <img src="{% static nb.image %}">
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-12">
                        <a href="#"><h3>{{nb.title|safe}}</h3></a>
                        <span>{{nb.text|safe}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </nav>
</div>

<div class="row">
    <div class="col-12 col-lg-7">
        <section class="parliament-newsfeed newsfeed box">
            <h3 class="section-header">Viimeisimmät tapahtumat</h3>
            {{parl_act_html|safe}}
            <div id="parliament-showmore" class="showmore-link"><a href="#">{% trans "Show more items" %} &or;</a></div>
        </section>
    </div>
    <div class="col-12 col-lg-5">
        <div class="box">
            <section class="most-active-members">
                <h4 class="section-header">Aktiivisimmat kansanedustajat</h3>
                <ul>{% for mp in most_active_mps %}
                    <li>
                {% thumbnail mp.photo '70x105' as tn %}
                        <a href="{{mp.get_absolute_url}}"><img class="mp-thumbnail" src="{{tn.url}}"></a>
                {% endthumbnail %}
                {% endfor %}
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>

{% comment %}
<div id="main-page" class="row">
	<div id="navigation" class="span8">
		<a href="#">
			<img alt="{% trans "Parties" %}" src="{% static "images/puolueet.jpg" %}" />
			<span class="caption">{% trans "Parties" %}</span>
		</a>
		<a href="#">
			<img alt="{% trans "MPs" %}" src="{% static "images/guzenina-richardsson.jpg" %}" />
			<span class="caption">{% trans "MPs" %}</span>
		</a>
		<a href="#">
			<img alt="{% trans "News" %}" src="{% static "images/ajankohtaista.jpg" %}" />
			<span class="caption">{% trans "News" %}</span>
		</a>
	</div>

	<div id="feeds-span" class="span4">
      <h3 class="grey">{% trans "Social media" %}</h3>
      {{ some_html|safe }}
      <div id="livefeed-showmore" class="showmore-link"><a href="#">{% trans "Show more updates" %} &or;</a></div>
      <h3 class="grey">{% trans "Share in social media" %}</h3>
			<div>All sorts of logos here</div>
	</div>

	<div id="newsbox-span" class="span8">
    	<h3 class="grey">{% trans "Site news" %}</h3>
			<div class="post">
        <h4>Hallitustyökalu avattu</h4>
        <div class="content">
          Millaiset hallituspohjat toimisivat oikeasti? Missä tapauksissa jouduttaisiin tekemään eniten kompromisseja? Kamun hallitussuunnittelutyökalu tietää.
          <a href="#" class="readmore">Lue lisää &gt;</a>
        </div>
			</div>
	</div>
	
	<div id="parliament-activity-span" class="span8">
            <h3>{% trans "Parliament activity feed" %}</h3>
            {{ parl_act_html|safe }}
            <div id="parliament-showmore" class="showmore-link"><a href="#">{% trans "Show more items" %} &or;</a></div>
	</div>
</div>
{% endcomment %}
{% endblock %}

