{% extends "base.html" %}
{% load i18n compress static thumbnail %}
{% block title %}{% trans "Front page" %}{% endblock %}

{% block head %}
{% compress js inline %}


<script type="text/coffeescript">
$ ->
    activity_feeds = [{
        url: "{% url 'parliament.views.get_parliament_activity' %}"
        more_link: "#parliament-showmore a"
        target_el: "#parliament-activity .post-list"
        offset: {{ parl_act_offset }}
    }, {
        url: "{% url 'parliament.views.get_mp_some_activity' %}"
        more_link: "#livefeed-showmore a"
        target_el: "#livefeed .post-list"
        offset: {{ some_offset }}
    }]

    moment.lang 'fi'
    set_timestamps = ->
        $(".time[title]").each ->
            time = $(this).attr 'title'
            mom = moment time
            $(@).text mom.fromNow()

    set_timestamps()
    for act in activity_feeds
        $(act.more_link).click act, (ev) ->
            act = ev.data
            url = act.url + "?offset=" + act.offset
            $.ajax url,
            	type: 'GET',
            	success: (data) ->
                    html = $("<div>")
                    html.append $(data.html)
                    html.hide()
                    $(act.target_el).append html
                    act.offset = data.offset
                    set_timestamps()
                    html.slideDown()
            return false
    setInterval set_timestamps, 60*1000
</script>
{% endcompress %}
{% endblock %}

{% block main_class %}home-page{% endblock %}

{% block content %}
<div class="top-feature-box">
    <header>
        <h1>Kyllä kansa muistaa</h1>
        <p class="lead">Kansan muisti -verkkopalvelussa voit seurata kansanedustajien puheenvuoroja ja äänestyksiä – siis vaalilupausten toteutumista käytännössä.</p>
    </header>
    <nav class="row">
        {% for nb in navbuttons %}
        <div class="col-lg-5 col-md-5">
            <div class="nav-button">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-12 col-lg-12">
                        <a href="{{nb.url}}">
                            <img src="{% static nb.image %}">
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-12 col-lg-12">
                        <a href="{{nb.url}}"><h3>{{nb.title|safe}}</h3></a>
                        <span>{{nb.text|safe}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </nav>
</div>

<div class="row">
    <div class="col-15 col-md-6 col-md-push-9">
        <div class="box">
            <section class="most-active-members">
                <h4 class="section-header">Aktiivisimmat kansanedustajat</h3>
                <ul>{% for mp in most_active_mps %}
                    <li>
                {% thumbnail mp.photo '70x105' as tn %}
                        <a href="{{mp.get_absolute_url}}"><img class="mp-thumbnail" src="{{tn.url}}"></a>
                {% endthumbnail %}
                {% endfor %}
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="col-12 col-md-9 col-md-pull-6">
        <section class="parliament-newsfeed newsfeed box">
            <h3 class="section-header">Viimeisimmät tapahtumat</h3>
            {{parl_act_html|safe}}
            <div id="parliament-showmore" class="showmore-link"><a href="#">{% trans "Show more items" %} &or;</a></div>
        </section>
    </div>
</div>

{% endblock %}

