{% extends "base.html" %}
{% load i18n compress static thumbnail %}
{% block title %}{% trans "Front page" %}{% endblock %}

{% block main_class %}home-page{% endblock %}

{% block content %}
<div class="top-feature-box">
    <header>
        <p class="lead"><strong>Kansan muisti</strong> -verkkopalvelussa voit seurata kansanedustajien puheenvuoroja ja äänestyksiä<br> — siis vaalilupausten toteutumista käytännössä.</p>
    </header>
</div>
<div class="row">

<div class="main-col col-md-10 col-md-push-5">
<!--- MP Highlights Layout --->
<div class=""> 
  <div class="box">
    <section class="most-active-members">
      <h3 class="section-header">Aktiivisimmat kansanedustajat
      <span class="section-subheader">Viimeisen 2kk aikana</span>
      </h3>
        <ul>
        </ul>
    </section>
  </div>
</div>

<!--- Issues Highlights --->
<div class="">
  <div class="box">
    <img src="/static/images/etu-asiat-300x200.png" class="highlight-image">
    <h3 class="section-header">{% trans "Most discussed topics" %}</h3>
    
    {% for topic in discussed_topics %}
    <div>
      <a href="{% url 'parliament.views.show_topic' topic=topic.pk slug=topic.get_slug %}">
        <h4 class="issue-highlight">{{topic.name}}</h4>
      </a>
      <div class="highlight-statement media
          {% if topic.first_statement.member.party.is_governing %}
          side-government
          {% else %}
          side-opposition
          {% endif %}">
        {% if topic.first_statement.member.url_name %}
        <a class="statement-portrait" href="{% url 'parliament.views.show_member' member=topic.first_statement.member.url_name %}">
        {% endif %}
          {% thumbnail topic.first_statement.member.photo "64x64" crop="center" as portrait %}
          <img class="media-object" src="{{portrait.url}}">
          {% endthumbnail %}
        {% if topic.first_statement.member.url_name %}
        </a>
        {% endif %}
        <div class="media-body highlight-statement-content">
          <div class="summary">
            <h5 class="media-heading">
              {% if topic.first_statement.member %}
              <a href="{% url 'parliament.views.show_member' member=topic.first_statement.member.url_name %}">
              {{topic.first_statement.speaker_name}} /{{topic.first_statement.member.party.abbreviation}}
              </a>
              {% else %}
              {{topic.first_statement.speaker_name}}
              {% endif %}
            </h5>
            <div class="highlight-statement-text">
              <a href="{{topic.first_statement.get_indocument_url}}">
                {{topic.first_statement.get_html_text|truncatewords:50|linebreaks}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="highlight-source-link">
        <div class="highlight-source-session">
          <a href="{{topic.first_statement.get_indocument_url}}">
          {% trans "Plenary session" %} {{topic.item.plsess.date}}
          </a>
        </div>
        <a href="{{topic.doc.get_absolute_url}}">{{topic.doc.subject}}</a>
      </div>
    </div>
    {% endfor %}
    <div class="section-link">
      <a href="/topic/">{% trans "Browse topics" %} >></a>
    </div>
  </div>
</div>

  </div> <!-- end main-col -->

  <div class="col-side col-md-5 col-md-pull-10">
<!--- Party Highlights Layout --->
<div class=""> 
  <div class="box">
    <h3 class="section-header">Puolueiden aktiivisuus
    <span class="section-subheader">Viimeisen 2kk aikana</span>
    </h3>
    <ul class="highlight-parties">
    </ul>
  </div>
</div>
<!--- LATEST NEWS -->
<div>
  <section class="parliament-newsfeed newsfeed box">
    <h3 class="section-header">Viimeisimmät tapahtumat</h3>
    {{parl_act_html|safe}}
    <!--<div id="parliament-showmore" class="showmore-link"><a href="#">{% trans "Show more items" %} &or;</a></div>-->
  </section>
</div>
</div> <!-- end side-col -->
</div> <!-- end row -->

<script type="text/template" id="most-active-mps-item">
<li>
  <a href="<%= view_url %>"><img class="mp-thumbnail" src="<%= thumbnail_url %>">
    <h5><%= name %></h5>
    <img src="<%= party_thumbnail_url %>" class="party-badge" alt="(party name)"/>
  </a>
  <div class="thumbnail-activity">
    <div class="thumbnail-activity-bar" style="width: <%= activity_percentage %>%"></div>
  </div>
</li>
</script>

<script type="text/template" id="most-active-parties-item">
<li title="<%- name %>">
  <div class="party-highlight">
    <div class="party-thumbnail">
    <a href="<%= view_url %>">
      <img title="<%- name %>" src="<%= thumbnail_url %>">
    </a>
    </div>
    <div class="party-activity">
      <div class="thumbnail-activity">
        <div class="thumbnail-activity-bar" style="width: <%- activity_percentage %>%"></div>
      </div>
    </div>
    <div class="party-issues">
      <ul class="party-activity--issues">
        <% _.each(recent_keywords, function (kw) { %>
        <li><a href="<%= kw.view_url %>"><%- kw.name %></a></li>
        <% }); %>
      </ul>
    </div>
  </div>
</li>
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static 'js/home.coffee' %}"></script>
{% endcompress %}

{% endblock %}
