{% extends "base.html" %}
{% load compress static i18n static %}

{% block title %}{% trans "Topics" %}{% endblock %}

{% block content %}

<div class="box">
    <header class="page-heading">
        <h1>{% trans "Topics" %}</h1>
    </header>
    <div class="featured-issues">
        <ul class="nav nav-tabs" id="js-issuetabs">
            <li class="active">
                <a href="#recent" data-toggle="tab">{% trans "Active recently" %}</a>
            </li>
            <li>
                <a href="#term" data-toggle="tab">{% trans "Active this term" %}</a>
            </li>
            <li>
                <a href="#alltime" data-toggle="tab">{% trans "All time active" %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="recent">
            <div id="recent_tags" class="tagcloud tagcloud-navi">
            </div>
            </div>
            
            <div class="tab-pane" id="term">
            <div id="term_tags" class="tagcloud tagcloud-navi">
            </div>
            </div>
            
            <div class="tab-pane" id="alltime">
            <div id="alltime_tags" class="tagcloud tagcloud-navi">
            </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var all_time_topics_json = {{all_time_topics_json|safe}};
var term_topics_json = {{term_topics_json|safe}};
var recent_topics_json = {{recent_topics_json|safe}};
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>


<script type="text/coffeescript">
$ ->
    render_tags = (el, data) ->
        tags = []
        for d in data
            t =
                name: d.topic
                tag: d.topic
                count: d.activity
                url: d.topic
            tags.push t
        tags = _.sortBy tags, (t) -> t.name
        $(el).tag_cloud tags
        $(el).find("ul").addClass "tagcloud__content"

    render_tags $("#recent_tags"), recent_topics_json
    render_tags $("#term_tags"), term_topics_json
    render_tags $("#alltime_tags"), all_time_topics_json
</script>
{% endcompress %}


{% endblock %}
