{% extends "base.html" %}
{% load i18n thumbnail %}
{% block title %}{% trans "Organizations" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<div id="list_orgs">
<h1>Ilmoita järjestösi pilottiin</h1>

<p>Etsimme erilaisia järjestöjä pilotoimaan sivustomme seuraavaa vaihetta.</p>
<p>Kansalaisilla ei aina ole mahdollisuutta perehtyä lainsäädännön alaisiin asioihin yhtä syvällisesti kuin erikoistuneilla järjestöillä. Järjestönne voi omalla osaamisellaan auttaa demokraattisen prosessin toimivuutta kiinnittämällä sivustomme kautta teille tärkeään lainsäädäntöön lisää huomiota sekä helpottaa äänestettävien esitysten ymmärrettävyyttä kommentoimalla esityksiä omasta näkökulmastanne. Samalla järjestönne saa lisänäkyvyyttä.</p>
<p>Ota yhteyttä <a href="/contact/">palaute-sivun</a> kautta ja kerro järjestöstänne!</p>
</div>
{% comment %}
  <h1>
{% blocktrans count org_list.count as count %}
{{ count }} organization
{% plural %}
{{ count }} organizations
{% endblocktrans %}</h1>

  <table style="margin-bottom: 16px;">
{% for org in org_list %}
    <tr>
      <td style="height: 40px; padding-right: 16px;"><img src='/static/{% thumbnail org.logo 40x40 %}' /></td>
      <td style="min-width: 180px; padding-right: 16px;"><a href='{% url orgs.views.show_org org=org.url_name %}'>{{ org.name }}</a></td>
      <td style="font-size: 80%; width: 450px;">{{ org.description|truncatewords:16 }}</td>
    </tr>
{% endfor %}
  </table>

  <a href="{% url orgs.views.add_org %}"><h3>{% trans "Add an organization" %}</h3></a>
{% endcomment %}
{% endblock %}
