{% extends "base.html" %}
{% load compress static i18n static %}

{% block title %}{% trans "Topics" %}{% endblock %}

{% block main_class %}topic-list{% endblock %}

{% block content %}

<div class="box">
    <header class="page-heading">
        <h1>{% trans "Topics" %}</h1>
    </header>
    <div class="featured-issues">
    </div>

<div class="feed-filters">
    <h4>{% trans "Browse keywords" %}</h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2  control-label">{% trans "Search" %}</label>
            <div class="col-lg-10">
                <input type="text" id="keyword-filter" class="form-control" placeholder="{% trans "Search keywords" %}">
            </div>
            <p>
        </div>
        <div class="form-group">
            <label class="col-lg-2  control-label">{% trans "Sort" %}</label>
            <div class="col-lg-10">
                <div class="btn-toolbar">
                    <div class="btn-group" id="topic-list-sort-buttons" data-toggle="buttons-checkbox">
                        <button class="btn  btn-default  js-tooltip active" data-order="activity" type="button" title="{% trans "Most active" %}">{% trans "Most active" %}</button>
                        <button class="btn  btn-default  js-tooltip" data-order="last_date" type="button" title="{% trans "Latest activity" %}">{% trans "Latest activity" %}</button>
                        <button class="btn  btn-default  js-tooltip" data-order="name" type="button" title="{% trans "Alphabetical" %}" id="tag-sort-name">{% trans "Alphabetical" %}</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="issue-tag-list" id="issue-tag-list">
</div>

</div> <!-- box -->

<script type="text/template" id="featured-topics-template">
    <ul class="nav nav-tabs">
    <% _.each(tabs, function(tab) { %>
        <li>
            <a data-tab="<%= tab.id %>" href="#"><%= tab.name %></a>
        </li>
    <% }); %>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
        </div>
    </div>
{% comment %}
    <% _.each(tabs, function(tab) { %>
        <div data-tab="<%= tab.id %>" class="tab-pane">
            <div class="tagcloud tagcloud-navi">
            </div>
        </div>
    <% }); %>
{% endcomment %}
    </div>
</script>

<script type="text/javascript">

FEATURED_TABS = [
    {
        id: 'recent',
        name: "{% trans 'Active recently' %}",
        filters: {
            since: 'month'
        },
        data: {{recent_topics_json|safe}}
    }, {
        id: 'term',
        name: "{% trans 'Active this term' %}",
        filters: {
            since: 'term'
        }
    }, {
        id: 'alltime',
        name: "{% trans 'All time active' %}"
    }
];

function GROUP_LABEL_I18N_HACK(perc) {
    return "{% trans "Most active #{perc}" %}%".replace("#{perc}", perc)
}

</script>

<script type="text/template" id="tag-section-template">
    <div class="tag-list-divider"><%= section %></div>
    <ul class="tag-list">
        <% _.each(tags, function (tag) { %>
        <li>
        <a href="<%= tag.get_view_url() %>"><%= tag.get("name") %></a>
        </li>
        <% }); %>
    </ul>
</script>

{% compress js %}
<script type="text/coffeescript">

class KeywordListView extends Backbone.View
    el: "#issue-tag-list"
    template: _.template $("#tag-section-template").html()
    
    groupings:
        name:
            sort: (kw) => kw.get("name")
            group: (kw) => kw.get("name")[0]
            group_label: (letter) -> letter
        activity:
            sort: (kw) => kw.get("activity_percentile")
            group: (kw) => Math.ceil((kw.get("activity_percentile"))*100/5)*5
            group_label: (perc) => GROUP_LABEL_I18N_HACK perc
        last_date:
            sort: (kw) => -new Date(kw.get("last_date"))
            group: (kw) => moment(kw.get("last_date")).fromNow()
            group_label: (letter) -> letter


    initialize: ->
        @tags = new KeywordList
        @tags.filters.limit = 0
        @tags.filters.activity = true
        @tags.filters.last_date = true
        
        @grouping = @groupings["activity"]
        @tags.comparator = @grouping.sort
        @filter_string = ""
        
        @$el.spin()
        @tags.on "reset", @_calc_act_percentiles
        @tags.on "reset", @render
        @tags.on "sort", @render
        @tags.fetch reset: true
    
    set_sorting: (field) =>
        @grouping = @groupings[field]
        @tags.comparator = @grouping.sort
        @tags.sort()

    set_filter_string: (str) =>
        @filter_string = str
        @render()

    _calc_act_percentiles: =>
        sorted_models = _.sortBy @tags.models, (kw) -> -kw.get("activity_score")
        n = sorted_models.length
        for i in [0...n]
            sorted_models[i].attributes.activity_percentile = (i+1)/(n+1)

    render: =>
        @$el.empty()
        tags = @tags.models
        if @filter_string
            strings = @filter_string.toLowerCase().split(/[ ]+/)
            console.log strings
            tags = tags.filter (kw) =>
                name = kw.get("name").toLowerCase()
                for string in strings
                    if name.indexOf(string) < 0
                        return false
                return true

        grouping = @grouping
        grouped = _.groupBy(tags, grouping.group)
        grouped = ([grp, kws] for grp, kws of grouped)
        # We have to sort these again due to antisynergy in
        # ad-hoc implementations of moment and underscore
        grouped = _.sortBy(grouped, ([grp, kws]) -> grouping.sort kws[0])
        for [grp, kws] in grouped
            @$el.append @template section: grouping.group_label(grp), tags: kws
$ ->
    view = new KeywordListView
    
    buttons = $("#topic-list-sort-buttons button")
    buttons.click ->
        btn = $ @
        buttons.removeClass "active"
        btn.addClass "active"
        order = btn.data("order")
        view.set_sorting order

    $("#keyword-filter").input (args...) ->
        view.set_filter_string $(@).val()
    

</script>
{% endcompress %}

<script type="text/javascript" src="{% static "js/vendor/jquery.quicksand.js" %}"></script>

{% compress js %}
<script type="text/coffeescript" src="{% static "js/topics.coffee" %}"></script>
{% endcompress %}

{% endblock %}
