{% extends "base.html" %}
{% load i18n thumbnail %}
{% block title %}{% trans "Organizations" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<div id="list_orgs">
<h1>Oletko järjestöaktiivi? Haluatko järjestösi mukaan Kansan muistiin?</h1>

<p>Järjestöjen näkemysten esiin nostaminen on tärkeää: yksittäiset kansalaiset eivät yleensä pysty perehtymään eduskunnan päätettävinä oleviin asioihin yhtä syvällisesti kuin järjestöt.</p>

<p>Kansan muisti tarjoaa jatkossa järjestöille mahdollisuuden hyödyntää erikoisosaamistaan ja nostaa esiin niille tärkeitä teemoja. Voitte myös kommentoida esityksiä omasta näkökulmastanne ja siten helpottaa asioiden ymmärrettävyyttä kansalaisten kannalta.</p>

<p>Ota <a href="/contact/">yhteyttä</a> meihin. Tervetuloa mukaan!</p>
</div>
{% comment %}
  <h1>
{% blocktrans count org_list.count as count %}
{{ count }} organization
{% plural %}
{{ count }} organizations
{% endblocktrans %}</h1>

  <table style="margin-bottom: 16px;">
{% for org in org_list %}
    <tr>
      <td style="height: 40px; padding-right: 16px;"><img src='{% thumbnail org.logo 40x40 %}' /></td>
      <td style="min-width: 180px; padding-right: 16px;"><a href='{% url orgs.views.show_org org=org.url_name %}'>{{ org.name }}</a></td>
      <td style="font-size: 80%; width: 450px;">{{ org.description|truncatewords:16 }}</td>
    </tr>
{% endfor %}
  </table>

  <a href="{% url orgs.views.add_org %}"><h3>{% trans "Add an organization" %}</h3></a>
{% endcomment %}
{% endblock %}
