{% extends "base.html" %}
{% load i18n thumbnail %}
{% block title %}{% trans "Parties" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <h1 style="margin-bottom: 4px;">
{% blocktrans count party_list|length as count %}
{{ count }} party
{% plural %}
{{ count }} parties
{% endblocktrans %}</h1>
<small>{% trans "Includes all parties that presently have members in the parliament." %}</small>
  <table style="margin-top: 15px;">
{% for party in party_list %}
    <tr>
      <td style="height: 40px; padding-right: 16px;"><img src='{% thumbnail party.logo 40x40 %}' /></td>
      <td style="min-width: 180px; padding-right: 16px;"><a href='{{ party.info_link }}'>{{ party.full_name }}</a></td>
    </tr>
{% endfor %}
  </table>
{% endblock %}
