{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}

<div id="main_col">

{% load markup %}

<!-- ###Seuraa miten oma kansanedustajasi äänestää. Katso mitä mieltä kansalaisjärjestöt ovat edustajasi äänestämisestä. -->
{% filter markdown %}

![Testikuva](/static/images/main.jpg "Testikuva")

Mikä Kamu on?
-------------

Kansan muisti -palveluun on kerätty yhteen tietoa kansanedustajien vaalirahoituksesta, äänestyskäyttäytymisestä, palkkioista ja kulukorvauksista sekä täysistuntojen puheenvuoroista. Koska eduskunnassa äänestetään paljon ja monenlaisista eri asioista, tarjoamme yhdessä erilaisten järjestöjen kanssa työkalut edustajan toiminnan helpompaan seuraamiseen. Järjestöt voivat pisteyttää heille tärkeitä äänestyksiä muodostaen profiilin, jota vasten käyttäjä voi verrata edustajien äänestämistä.

{% endfilter %}

</div>

<div id="news_col">

<div class="news_items">
  <h1>Uutiset</h1>
  <h2>Kamu Maailma kyl&auml;ss&auml; -festareilla</h2>
  <p>Kamu on viikonloppuna 28.-30.5. festareilla. Tuu tsekkaan!
Quisque gravida condimentum erat, scelerisque pellentesque nisi auctor ut. Nam nunc...</p>
  <h2>Ydinvoima&auml;&auml;nestystiedot julkaistu</h2>
  <p>Ydinvoimasta on nyt paatetty. Katso syylliset.</p>
  <h2>Kamu Maailma kyl&auml;ss&auml; -festareilla</h2>
  <p>Kamu on viikonloppuna 28.-30.5. festareilla. Tuu tsekkaan!
Quisque gravida condimentum erat, scelerisque pellentesque nisi auctor ut. Nam nunc...</p>
</div>

<div class="news_items">
  <h1>Kuumimmat</h1>
  <h2>Marja Tiura</h2>
  <h2>5/2010, 6.</h2>
  <p>Hallituksen esitys valmiuslaiksi ja eriksi siihen liittyviksi laeiksi<br />
Ensimmäinen käsittely.
  </p>
  <h2>Aku Ankka</h2>
</div>

<div class="news_items">
  <h1>Uusimmat &auml;&auml;nestykset</h1>
  <span class="news_item_date">12.12.2010</span>
{% for session in sess_list %}
{% with session.plenary_session as ps %}
  <h2>{{ ps.name }}, {{ session.number }}.</h2>
  <p>{{ session.info }}</p>
{% endwith %}
{% endfor %}
</div>

</div>

{% if 0 %}
{% if sess_list %}
<h2 style="cursor: pointer;" class="toggle"><span>&#x25b8;</span> {% trans "Latest sessions" %}</h2>
<div style="display: none;"><table class="sessions" style="">
<tr><th /><th /><th />
        <th class="yes_vote" title='{% trans "Number of Yay votes" %}' />
        <th class="no_vote" title='{% trans "Number of Nay votes" %}' />
        <th class="empty_vote" title='{% trans "Number of Empty votes" %}' />
        <th class="absent_vote" title='{% trans "Number of absentees" %}' />
      </tr>
{% for session in sess_list %}
{% with session.plenary_session as ps %}
      <tr class="session">
      	<td class="session_name">
          <a href='{% url votes.views.show_session plsess=ps.url_name,sess=session.number %}'>{{ ps.name }}/{{ session.number }}</a>
      	</td>
      	<td class="session_desc">
          <a href='{% url votes.views.show_session plsess=ps.url_name,sess=session.number %}'>
            {{ session.info|linebreaks }}
          </a>
      	</td>
        <td class="session_subj">
{% if session.subject %}
            <p><i>{{ session.subject }}</i></p>
{% endif %}
	</td>

      	<td class="session_votes">{{ session.get_vote_counts.Y }}</td>
      	<td class="session_votes">{{ session.get_vote_counts.N }}</td>
      	<td class="session_votes">{{ session.get_vote_counts.E }}</td>
      	<td class="session_votes">{{ session.get_vote_counts.A }}</td>
      </tr>
{% endwith %}
{% endfor %}
</table></div>
{% endif %}
{% endif %}

{% endblock %}

