{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{{ section_name }}{% endblock %}

{% block sidebar %}
<p><a class="action_link{% ifequal section 'main' %} action_link_active{% endifequal %}" href="{% url votes.views.about section='main' %}">{% trans "Main page" %}</a></p>
<p><a class="action_link{% ifequal section 'background' %} action_link_active{% endifequal %}" href="{% url votes.views.about section='background' %}">{% trans "Background" %}</a></p>
<p><a class="action_link{% ifequal section 'feedback' %} action_link_active{% endifequal %}" href="/contact/">{% trans "Feedback" %}</a></p>
<p><a class="action_link{% ifequal section 'contact' %} action_link_active{% endifequal %}" href="{% url votes.views.about section='contact' %}">{% trans "Contact information" %}</a></p>
{% endblock %}

{% block content %}
<div id="main_col">
{% ifequal section 'main' %}{% filter markdown %}

Kansan muisti tuo demokratian 2010-luvulle
==========================================

Kansan muisti -verkkopalvelun pilottiversiossa voit seurata kansanedustajien puheenvuoroja ja äänestyksiä – siis vaalilupausten toteutumista käytännössä. Voit samalla kommentoida sinua kiinnostavia aiheita.

![Eduskuntatalo](/static/images/main.jpg "Eduskuntatalo")

Tulevaisuudessa voit äänestää myös itse ja vertailla mielipiteitäsi kansanedustajien ja kansalaisjärjestöjen kanssa vaalikoneiden tapaan. Jatkossa saat lisäksi vaalirahoitustiedot kootusti yhdestä paikasta.

Seuraa palvelun kehitystä [Facebookissa](http://www.facebook.com/pages/Kansan-muisti/106166239434745).

{% endfilter %}{% endifequal %}

{% ifequal section 'background' %}{% filter markdown %}
Mikä Kamu on?
=============

Suomessa ei ole tarjolla työkalua, jonka avulla kuka tahansa voi seurata kansanedustajien toimia helposti ja ymmärrettävästi. Ehdokkaiden mielipiteitä voi teoriassa seurata vaalikoneiden avulla, mutta vastaukset eivät välttämättä vastaa todellista äänestyskäyttäytymistä. Sitä voi puolestaan seurata eduskunta.fi-sivustolla, mutta yleiskatsauksen saaminen sitä kautta on käytännössä mahdotonta.

Kansan muisti ry:n tavoitteena on uutta teknologiaa hyödyntäen tarjota kansalaisille mahdollisuus seurata kansanedustajien toimintaa helposti, ymmärrettävästi ja tasa-arvoisesti. Keräämme palveluun tietoa mm. edustajien äänestyskäyttäytymisestä, puheenvuoroista, vaalirahoituksesta ja aloitteista. Palvelu mahdollistaa tulevaisuudessa myös kansalaisjärjestöjen ja muiden vaikuttajien näkemysten vertailun kansanedustajien ja käyttäjien omien mielipiteiden välillä.

*Esimerkki 1*. Maija Miettisen oma kansanedustaja on jälleen ehdolla eduskuntavaaleissa. Ennen vaalipäivää Maija haluaa varmistua siitä, että edustaja on lunastanut vaalilupauksensa. Edustajan toimintaa voi vertailla esimerkiksi Maijan näkemyksiä edustavien kansalaisjärjestöjen kantaan. Jos Maijalla on kiire, hän voi myös klikata oman edustajansa profiilia, ja saada yhdellä sivulla näkymään palvelun suosituimpien järjestöjen pisteytykset edustajalleen.

*Esimerkki 2*. Ympäristöjärjestö on valinnut ja pisteyttänyt luonnonsuojelun kannalta kiinnostavat lakiesitykset. Kalle Kansalainen haluaa luontoihmisenä selvittää kansanedustajat, jotka ovat eniten äänestäneet ympäristöjärjestön arvotusten mukaisesti. Palvelu tuottaa muutaman hiirennäpäytyksen jälkeen Kallelle järjestetyn listan edustajista pisteytyksineen. Jos Kalle haluaa lisätietoa yksittäisestä edustajasta, se onnistuu yhdellä lisänäpäytyksellä.

{% endfilter %}{% endifequal %}

{% ifequal section 'feedback' %}
  <h1>{% trans "Leave us feedback" %}</h1>
  <p>{% blocktrans %}Please report any errors you find, send us your ideas for improvement, volunteer for work, or just say hi.{% endblocktrans %}</p>
  <form action="" method="post">
    <table id="contact_form_table">
      {{ form.as_table }}
    </table>
    <input style="margin-left: 192px; margin-top: 16px;" type="submit" name="contact_form" value="{% trans 'Send' %}">
  </form>
{% endifequal %}

{% ifequal section 'contact' %}
  <h1>{% trans "Contact information" %}</h1>
  <p>Palvelua ylläpitää vuonna 2010 perustettu poliittisesti sitoutumaton, voittoa tavoittelematon ja vapaaehtoisvoimin toimiva Kansan muisti ry.</p>
  <p>Kansan muisti ry<br />
  Pohjoinen Rautatiekatu 19 C 30<br />
  00100 Helsinki<br />
  info@kansanmuisti.fi</p>
  <p>Yhdistyksen puheenjohtaja:<br />
  Juha Yrjölä<br />
  juha.yrjola@kansanmuisti.fi</p>
  <p>Median yhteyshenkilö:<br />
  Matti Kari<br />
  matti.kari@kansanmuisti.fi<br />
  040 838 6607<br />
{% endifequal %}

</div>

<div id="news_col">

<div class="news_items">
  <h1>{% trans "News" %}</h1>
  <h2>Kamu avattu testikäyttöön</h2>
  <p>Kamun rajoitettu testiversio on avattu. Tervetuloa!</p>
</div>

<div class="news_items">
  <h1><a href='{% url votes.views.list_sessions %}'>{% trans "Latest votes" %}</a></h1>
{% for session in sess_list %}
{% with session.plenary_session as ps %}
  {% ifchanged %}<span class="news_item_date">{{ ps.date|date:"j.n.Y" }}</span>{% endifchanged %}
  <h2><a href='{% url votes.views.show_session plsess=ps.url_name,sess=session.number %}'>{{ ps.name }}, {{ session.number }}.</a></h2>
  <p><a href='{% url votes.views.show_session plsess=ps.url_name,sess=session.number %}'>{{ session.info }}</a></p>
{% endwith %}
{% endfor %}
</div>

</div>

{% endblock %}

