{% extends "base.html" %}
{% load i18n markup basic %}

{% block title %}{{ section_name }}{% endblock %}

{% block sidebar %}
<p><a class="action_link{% ifequal section 'main' %} action_link_active{% endifequal %}" href="{% url votes.views.about section='main' %}">{% trans "Main page" %}</a></p>
<p><a class="action_link{% ifequal section 'background' %} action_link_active{% endifequal %}" href="{% url votes.views.about section='background' %}">{% trans "Background" %}</a></p>
<p><a class="action_link{% ifequal section 'feedback' %} action_link_active{% endifequal %}" href="/contact/">{% trans "Feedback" %}</a></p>
<p><a class="action_link{% ifequal section 'donate' %} action_link_active{% endifequal %}" href="{% url votes.views.about section='donate' %}">{% trans "Donate" %}</a></p>
<p><a class="action_link{% ifequal section 'contact' %} action_link_active{% endifequal %}" href="{% url votes.views.about section='contact' %}">{% trans "Contact" %}</a></p>
{% endblock %}

{% block content %}
<div class="main_col">

{% ifequal section 'main' %}
{{ content.data }}

{% include "tagcloud.html" %}

{% if fb_enabled %}
{% include "_facebook.html" %}
<div style="margin-top: 48px;">
<fb:like-box href="http://www.facebook.com/kansanmuisti" width="480" show_faces="true" stream="false" header="false"></fb:like-box>
</div>
{% endif %}
{% endifequal %}

{% ifequal section 'background' %}
{{ content.data }}
{% endifequal %}

{% ifequal section 'donate' %}
{{ content.data }}
{% endifequal %}

{% ifequal section 'feedback' %}
  <h1>{% trans "Leave us feedback" %}</h1>
  <p>{% blocktrans %}Please report any errors you find, send us your ideas for improvement, volunteer for work, or just say hi.{% endblocktrans %}</p>
  <form action="" method="post">
    <table id="contact_form_table">
      {{ form.as_table }}
    </table>
    <input style="margin-left: 192px; margin-top: 16px;" type="submit" name="contact_form" value="{% trans 'Send' %}">
  </form>
{% endifequal %}

{% ifequal section 'contact' %}
{{ content.data }}
{% endifequal %}

</div>

<div id="news_col">

<div class="news_items">
    <h1>{% trans "Most popular" %}</h1>
    <table>
        {% for mp in mp_hall_of_fame %}
            {% if forloop.counter0|divisibleby:"5" %}
                {% if not forloop.fist %}
                    </tr>
                {% endif %}
                <tr>
            {% endif %}

            <td>
                <a href="{% url votes.views.show_member member=mp.url_name %}">
                <img src='{{ mp.thumbnail }}'/>
                </a>
            </td>

            {% if forloop.last %}
                </tr>
            {% endif %}
    {% endfor %}
    </table>
</div>

<div class="news_items news_links">
  <h1>{% trans "News" %}</h1>
{% for newsitem in news %}
  {% ifchanged %}<span class="news_item_date">{{ newsitem.date|i18n_date:"numeric" }}</span>{% endifchanged %}
  <h2>
  {% if newsitem.content.has_data %}
    <a href="{{ newsitem.get_absolute_url }}">{{ newsitem.content.subject }}</a>
  {% else %}
    {{ newsitem.content.subject }}
  {% endif %}
  </h2>
  {{ newsitem.content.summary }}
{% endfor %}
</div>

<div class="news_items">
  <h1><a href='{% url votes.views.list_sessions %}'>{% trans "Latest votes" %}</a></h1>
{% for session in sess_list %}
{% with session.plenary_session as ps %}
  {% ifchanged %}<span class="news_item_date">{{ ps.date|i18n_date:"numeric" }}</span>{% endifchanged %}
  <h2><a href='{% url votes.views.show_session plsess=ps.url_name,sess=session.number %}'>{{ ps.name }}, {{ session.number }}.</a></h2>
  <p><a href='{% url votes.views.show_session plsess=ps.url_name,sess=session.number %}'>{{ session.get_short_summary }}</a></p>
{% endwith %}
{% endfor %}
</div>

</div>

{% endblock %}

