{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Members" %}{% endblock %}

{% block head %}
<script type="text/javascript">
  $(document).ready(function() {
    $('[title]').tooltip({
      delay: 50,
      fade: 100,
      track: true,
      showURL: false,
    });
  });
</script>
{% endblock %}

{% block content %}
    <h1>{{ member_page.paginator.count }} kansanedustajaa</h1>

{% load thumbnail %}
    <table class="member_list">
{{ hdr|safe }}
{{ rows|safe }}
    </table>

{% load pagination_nav %}
{% pagination_nav_qs member_page "" request.GET %}

{% endblock %}
