{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ org.name }} - {% trans "Score a session" %}{% endblock %}
{% block head %}
  <script type="text/javascript">
  $(document).ready(function() {
    var score_min = -{{ form.max_score }};
    var score_max = +{{ form.max_score }};
    $("#slider").slider({
    	'min': score_min,
        'max': 10,
        'value': {{ form.initial.score }},
        'slide': function(e, ui) {
        	$('#id_score').val(ui.value);
        }
    });
  });
  </script>
{% endblock %}
{% block content %}
<div id="org_score_session">
  <h1>{% trans "Score for session" %} {{ session }}</h1>
  <p>{{ session.info|linebreaks }}</p>
  <form action="" method="post">
    <table id="org_session_score_form">
      <tr><td></td><td><div id="slider"></div></td></tr>
     {{ form.as_table }}
     </table>
     <input type="submit" name="save" value="{% trans 'Save' %}">
  </form>
</div>
{% endblock %}
