{% extends "base.html" %}
{% load i18n compress %}
{% block title %}{% trans "Members" %}{% endblock %}
{% block content %}
<div id="members" class="two-column-subpage">
  <div id="left-column">
    <div class="header">
      <h2>{{ member_page.paginator.count }} kansanedustajaa</h2>
      <small class="legend">{% trans "Includes all the members that have been active during the chosen time period." %}</small>
    </div>
    <table class="member-list">
{{ hdr|safe }}
{{ rows|safe }}
    </table>

{% load pagination_nav %}
{% pagination_nav_qs member_page "" request.GET %}
  </div>
  <div id="right-column">
  </div>
</div>
{% endblock %}

