{% extends "base_j.html" %}
{% load i18n %}
{% block title %}{% trans "Front page" %}{% endblock %}
{% block head %}
<script type="text/javascript">

$(function() {
	var parliament_activity_offset = 5;

	moment.lang('fi');
	function set_timestamps() {
		$(".time[title]").each(function() {
			time = $(this).attr('title');
			mom = moment(time);
			$(this).text(mom.fromNow());
		});
	}
	set_timestamps();
	$("#parliament-showmore a").click(function() {
		var url = "{% url parliament.views.get_parliament_activity %}";

		url += "?offset=" + parliament_activity_offset;
		$.ajax(url, {success: function(data) {
			var html = $(data.html);
			$("#kepposet .post-list").append($(data.html));
			parliament_activity_offset = data.offset;
			set_timestamps();
		}});
		return false;
	});
});

</script>
{% endblock %}

{% block content %}
<div id="left-column">
  <div id="navigation">
    <h3>{% trans "Navigation" %}</h3>
    <div class="row">
      <div class="navibox">
        <a href="#">
          <img alt="{% trans "Parties" %}" src="{{ MEDIA_URL }}images/puolueet.jpg" />
          <span class="caption">{% trans "Parties" %}</span>
        </a>
      </div>
      <div class="navibox">
        <a href="#">
          <img alt="{% trans "MPs" %}" src="{{ MEDIA_URL }}images/marikiviniemi.jpg" />
          <span class="caption">{% trans "MPs" %}</span>
        </a>
      </div>
      <div class="navibox">
        <a href="#">
          <img alt="{% trans "News" %}" src="{{ MEDIA_URL }}images/ajankohtaista.jpg" />
          <span class="caption">{% trans "News" %}</span>
        </a>
      </div>
    </div>
  </div>

  <div id="news">
    <h3>{% trans "News" %}</h3>
    <div class="post">
      <h4>Hallitustyökalu avattu</h4>
      <div class="content">
        Millaiset hallituspohjat toimisivat oikeasti? Missä tapauksissa jouduttaisiin tekemään eniten kompromisseja? Kamun hallitussuunnittelutyökalu tietää.
        <a href="#" class="readmore">Lue lisää &gt;</a>
      </div>
    </div>
  </div>

  <div id="kepposet">
    <h3>{% trans "Parliament activity feed" %}</h3>
    <div class="post-list">
    {{ parl_act_html|safe }}
{% for item in pl_items %}
    <div class="post">
      <h4>{{ item.description }}</h4>
      <div class="content">
        <span class="name">{{ item.statement.member.get_print_name }}</span> ({{ item.statement.member.party.name }}): "{{ item.statement.text|truncatewords:50 }}"
        <a href="{{ item.get_absolute_url }}" class="readmore">
{% if item.nr_statements %}
{% blocktrans count nr_statements=item.nr_statements %}
1 statement
{% plural %}
{{ nr_statements }} statements
{% endblocktrans %}
{% if item.nr_votes %},{% endif %}
{% endif %}

{% if item.nr_votes %}
{% blocktrans count nr_votes=item.nr_votes %}
1 vote
{% plural %}
{{ nr_votes }} votes
{% endblocktrans %}
{% endif %}
        &gt;
        </a>
      </div>
      <abbr class="time" title="{{ item.plsess.date|date:'c' }}">{{ item.plsess.date }}</abbr>
    </div>
{% endfor %}
    </div>
    <div id="parliament-showmore"><a href="#">{% trans "Show more items" %} &or;</a></div>
  </div>
</div>

<div id="right-column">
  <div id="livefeed">
  <h3 class="grey">{% trans "Social media" %}</h3>
{% for upd in some_updates %}
    <div class="post">
      <a href="{{ upd.mp_link }}"><img src="{{ upd.mp_portrait }}" alt="FIXME" /></a>
      <div class="name">{{ upd.mp_name }} <span class="party">{{ upd.mp_party }}</span></div>
      <div class="content">{{ upd.html|safe }}</div>
      <div class="time" title="{{ upd.time|date:"c" }}">{{ upd.time }}</div>
    </div>
{% endfor %}
  </div>
  <div id="socialmedia">
    <h3 class="grey">{% trans "Share in social media" %}</h3>
  </div>
</div>

{% endblock %}

