{% ifequal type "link" %}
{% for opt in options %}
{% if opt.selected %}
<div class="selected_filter">{{ opt.name }}</div>
{% endif %}
{% endfor %}
<div class="filter_options">
{% for opt in options %}
{% if not opt.selected %}
<a style="display: block;" href="?{{ name }}={{ opt.value }}">{{ opt.name }}</a>
{% endif %}
{% endfor %}
</div>
{% else %}{%ifequal type "combobox" %}
<input type="text" class="combosel" name="{{ name }}">
<script>
        $( ".combosel[name={{ name }}]" ).
            combobox({ source_url: "{{ source_url }}"} ).
            bind("comboboxselected", function() {
                        location.href='?{{ name }}=' + this.value;
                });
</script>

{% else %}

{% for opt in options %}
<input type="radio" name="{{ name }}" value='{{ opt.value }}'
{% if opt.selected %} checked="true" {% endif %}
onchange='this.form.submit()'>
{{ opt.name }}<br />
</input>
{% endfor %}
{% endifequal %}{% endifequal %}
