{% load i18n %}
{% if pages %}
<div class="pagination">
  <ul>
{% if previous_url %}<li>{% else %}<li class="disabled">{% endif %}<a href="{{ previous_url }}">&laquo; {% trans "Previous" %}</a></li>
{% for group in pages %}
{% for page in group %}
{% if page.current %}<li class="active"><a href="#">{{ page.number }}</a></li>{% else %}<li><a href="{{ page.url }}">{{ page.number }}</a></li>{% endif %}
{% endfor %}
{% if not forloop.last %}<li class="disabled"><a href="#">...</a></li>{% endif %}
{% endfor %}
{% if next_url %}<li>{% else %}<li class="disabled">{% endif %}<a href="{{ next_url }}">{% trans "Next" %} &raquo;</a></li>
  </ul>
</div>
{% endif %}
