{% extends "base.html" %}
{% load i18n markup basic %}
{% block title %}24.3.2010 - Vaalikoneet avoimiksi{% endblock %}
{% block content %}
{% filter markdown %}

Vaalikoneet avoimiksi
=====================

Kansan muisti -yhdistys haastaa vaalikoneiden ylläpitäjät toimimaan avoimemman demokratian puolesta

Avoimemman päätöksenteon puolestapuhuja, Kansan muisti ry, järjestää
keskiviikkona 30.3.2011 keskustelutilaisuuden avoimesta datasta ja
vaalikoneista. Paneelikeskustelussa on mukana yhteiskunnallisen
vaikuttamisen sekä avoimen datan asiantuntijoita ja vaalikoneiden edustajat
Helsingin Sanomista sekä MTV3:lta. Myös Yleisradion edustaja on kutsuttu
mukaan, mutta osallistumista ei ole toistaiseksi vahvistettu.

Tilaisuus alkaa kello 15.30 Hub Helsingin tiloissa (Aleksanterinkatu 16-18,
Helsinki). Tilaisuutta voi seurata myös verkkolähetyksenä. Lisätietoja ja
ilmoittautuminen osoitteessa: [http://bit.ly/vaalikoneet-auki](http://bit.ly/vaalikoneet-auki). Tilaisuus on
osa Nettiajan kansalaisyhteiskunnan verkoston (Nettikansa) toimintaa.

*“Vaalikoneiden kysymykset ja ehdokkaiden vastaukset voisi julkaista avoimena
datana, eli koneluettavassa muodossa ja uudelleenkäytön sallivalla Creative
Commons -lisenssillä”*, ehdottaa Nettiajan kansalaisyhteiskunnan verkoston
koordinaattori Antti Poikola. Lisenssimalli mahdollistaisi kysymysten ja
vastausten laajempaa analyysia myös jälkikäteen. Lisäksi voitaisiin tehdä
useita vaalikoneita yhdistäviä meta-vaalikoneita sekä palveluita, joissa
arkistoidaan ehdokkaiden vastauksia ja yhdistetään niitä muihin
tietolähteisiin.

Kansan muisti -verkkopalvelua (www.kansanmuisti.fi) pyörittävän
yhdistyksen puheenjohtaja Juha Yrjölä kommentoi: *"Mitä enemmän saamme
käyttöömme ehdokkaiden vaalikonevastauksia, sitä laaja-alaisemmin pääsemme
vertailemaan kansanedustajien todellista toimintaa lupauksiin"*.

Toistaiseksi kaikki isot vaalikoneet ovat vielä datan suhteen suljettuja.
Helsingin Sanomat kuitenkin on avannut pelin hiljattain julkaisemalla
jälkikäteen vuoden 2007 eduskuntavaalien ja vuoden 2009 eurovaalien
vaalikoneiden datat. *“Toivomme, että muutkin toimijat seuraisivat Sanoman
esimerkkiä”*, tiivistää Yrjölä tapahtuman tavoitteet.

Tilaisuuden aikataulu:

15.30 Hub Helsingin ja Kansan muistin esittely

15.45 Tilaisuuden avaus

16.00 Paneelikeskustelu

16.45 Vapaa keskustelu

18.00 Tilaisuus päättyy

Lisätietoja:
============
Kansan muisti ry.
-----------------
Tilaisuuden järjestää Kansan muisti ry, joka pyörittää myös samannimistä
verkkopalvelua osoitteessa www.kansanmuisti.fi. Kansan muisti -palvelun
ajatuksena on tarjota kansalaisille helppo tapa seurata eduskunnan
toimintaa. Palvelussa on mahdollista tutkia sekä yksittäisten edustajien
että puolueiden  äänestyskäyttäytymistä ja verrata tietoja mm.
vaalikonevastausten kanssa.

Matti Kari, Kansan muisti KAMU ry:n mediavastaava, maza@maza.fi, +358 40 838
6607 (ensisijainen median yhteyshenkilö)
Juha Yrjölä, Kansan muisti KAMU ry:n puheenjohtaja, juha.yrjola@iki.fi, +358
50 306 6955

Nettiajan kansalaisyhteiskunnan verkosto
----------------------------------------
Nettiajan kansalaisyhteiskunnan verkosto (www.mahdollista.fi) on
vapaamuotoinen yhteenliittymä suomalaisia modernin kansalaisyhteiskunnan ja
verkkodemokratian kehittäjiä. Verkosto mahdollistaa jatkuvan
vuorovaikutuksen ja toisiltaan oppimisen niiden yksilöiden ja yhteisöjen
kesken. Tapahtuman järjestäjistä sekä Vaalilupausarkisto että
Oikeusministeriö osallistumisympäristö-projekti ovat verkoston jäseniä.
Verkoston toimintaa tukee Otavan Opisto osana Avoimet verkostot oppimiseen
(AVO) -hanketta.

Antti Poikola, Otavan Opisto – Nettiajan kansalaisyhteiskunnan verkosto,
antti.poikola@otavanopisto.fi, +358 44 337 5439


{% endfilter %}
{% endblock %}

