{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans "Add organization" %}{% endblock %}
{% block content %}
  <div id="org_add_content">
{% if modify %}  <h1>{% trans "Modify an organization" %}</h1>
{% else %}  <h1>{% trans "Add a new organization" %}</h1>{% endif %}
  <h2>{% trans "Preview" %}</h2>
  <table id="org_add_preview">
    <tr><th><label>{% trans "Name" %}:</label></th><td>{{ org.name }}</td>
    <tr><th><label>{% trans "Name in service links" %}:</label></th><td>{% if modify %}{{ org.new_url_name }}{% else %}{{ org.url_name }}{% endif %}</td>
    <tr><th><label>{% trans "Description" %}:</label></th><td>{{ org.description|linebreaks }}</td>
    <tr><th><label>{% trans "Info link" %}:</label></th><td><a class="action_link" href="{{ org.info_link }}">{{ org.name }}</a></td>
    <tr><th><label>{% trans "Logo" %}:</label></th><td>
      <img id="org_add_big_logo" src="{% thumbnail org.logo 128x128 %}" />
      <img id="org_add_logo" src="{% thumbnail org.logo 32x32 %}" />
      <img id="org_add_logo_bg" src="{% thumbnail org.logo 32x32 %}" />
    </td>
  </table>
  <table id="org_add_form">
{% if modify %}    <form action="{% url 'orgs.views.modify_org' org.url_name %}" method="GET">
{% else %}    <form action="{% url 'orgs.views.add_org' %}" method="GET">{% endif %}
      <input type="submit" name="modify" value="{% trans 'Modify' %}">
    </form>
    <form action="" method="POST">
      <input type="submit" name="save" value="{% trans 'Save' %}">
     </form>
  </table>
  </div>
{% endblock %}
