{% extends "base.html" %}
{% load compress static thumbnail i18n %}

{% block title %}{% trans "Search results" %}{% endblock %}

{% block main_class %}search{% endblock %}

{% block content %}
<script type="text/javascript">
party_json = {{party_json|safe}};
FEED_ACTIONS = {{feed_actions_json|safe}};
</script>

{% include "_feed_content.html" %}

{% compress js inline %}
<script type="text/coffeescript">
$ ->
    root_el = $(document)
    relel = (selector) -> root_el.find(selector)
    search_list = new MemberActivitySearchList()
    
    state = hashstate.sub 'as'
    qstate = state.sub 'q'
    qstate.on (value) ->
        $("#main-search").val value ? ""

    setup = new ActivityFeedControl state
    setup.feed_view new ActivityFeedView
        el: relel ".activity-feed"
        collection: search_list
    setup.controls relel ".feed-filters"
    .date()


    $(".activity-tag-cloud-container").hide()
    $(".activity-graph").hide()
    #$(".filter-feed .feed-filtering").hide()
</script>
{% endcompress %}

{% endblock %}
