{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Search results" %}{% endblock %}
{% block content %}

<h1>{% trans "Search results" %}</h1>

{% if result_page %}

<ol class="search_results" start={{ result_page.start_index }}>
{% for hit in result_page.object_list %}
  <li style="margin-bottom: 8px;">{% if hit.url %}<a {% if hit.underline %}class="underline" {% endif %}href='{{ hit.url }}'>{% endif %}
    <h3 style="display: inline;">{{ hit.instance }}</h3>{% if hit.url %}</a>{% endif %}{% comment %} - {{ hit.percent }} % {% trans "match" %}{% endcomment %}
{% if hit.info %}
    <div style="font-size: 80%; width: 480px;">{{ hit.info|linebreaks }}</div>
{% endif %}
  </li>
{% endfor %}
</ol>

{% load pagination_nav %}
{% pagination_nav_qs result_page "" request.GET %}

{% else %}
<h2>{% trans "No results found" %}</h2>
{% endif %}

{% endblock %}
