{% extends "base.html" %}
{% load i18n compress static %}
{% block title %}{% trans "Plenary sessions" %}{% endblock %}

{% block content %}


<script type="text/template" id="plenary-session-template">
  <li class="plenary-session">
    <h5 class="title">Täysistunto<span class="id"><%= name %></span> <span class="date"><%= date_str %></h5>
    <ul></ul>
  </li>
</script>

<script type="text/template" id="plenary-session-item-template">
<li class="plenary-session-item">
  <!-- For available fields, see
       http://dev.kansanmuisti.fi/static/api_v1_doc/index.html#api-PlenarySessionItem
       -->
  <a href="<%= view_url %>"><h4 class="title">
    <%= default_description %></h4></a>

  <span class="nr_votes"><i class="typcn typcn-input-checked"></i><%= plenary_votes.length %></span>
  <!-- NOTE: nr_statements are sometimes broken
        (and shouldn't be separate variables anyway, but Tastypie. -->
  <span class="nr_statements"><i class="typcn typcn-message-typing"></i><%= nr_statements %></span>
  <ul></ul>
</li>
</script>

<div class="content content--sessions">
    <header class="page-heading">
        <h1>Täysistunnot</h1>
    </header>
</div>

<div class="row">
    <div class="col-md-15">
        <ul id="session-item-list"></ul>
        <div id="session-item-list-end"></div>
    </div>
</div>


{% compress js %}
<script type="text/coffeescript" src="{% static 'js/session.coffee' %}"></script>
{% endcompress %}

{% endblock %}

 