{% extends "sidebarbase.html" %}
{% load compress static i18n thumbnail parliament %}

{% block title %}{{doc.name}}: {{doc.subject}}{% endblock %}

{% block main_class %}document-details{% endblock %}

{% block sidebar %}
<div class="issue-card">
    <div class="document-summary">      
        <h1>{{doc.get_type_display}}</h1>
        <h2 class="document-number">{{doc.name}}</h2>
    </div>
    {% include "_share_button.html" %}
</div>
<div class="box hide similar-documents related-sidebar">
    <h4>{% trans "Similar documents" %}</h4>
    <ol></ol>
</div>
{% endblock %}

{% block main_content %}
<div class="row">
    <div>
        <div class="proposal-content content">
          <header>
            <h1>{{doc.subject}}</h1>
            <span class="type">{{doc.get_type_display}}</span>
            <small class="number">{{doc.name}}</small>
            <br>
            <a class="document-download" href="{{ doc.get_origin_url }}"><i class="typcn typcn-download"></i>{% trans "Link to the original document" %}</a>
            <div class="details">
              {% if doc.author %}
              <div class="document-author">
                <span class="author-label">{% trans "Author" %}</span>
                <a href="{{doc.author.get_absolute_url}}">{{doc.author.get_print_name}}</a>
                {% thumbnail doc.author.photo "64x96" as tn %}
                <a href="{{doc.author.get_absolute_url}}"><img src="{{tn.url}}"></a>
                {% endthumbnail %}
              </div>
              {% endif %}
              <div class="labels">
                  {% for kw in doc.keywords.all %}
                  <a class="issue-tag-small" 
                    href="{% url "parliament.views.show_topic" topic=kw.pk slug=kw.get_slug %}"
                    >{{kw.name}}</a>
                  {% endfor %}
              </div>
            </div>
          </header>
            {% if doc.summary %}
            <h4>{% trans "Proposal content" %}</h4>
            <div class="proposal-summary">{{doc.summary|linebreaks}}</div>
            {% endif %}
          
            {% if doc.question %}
            {% with member=doc.author %}
            <div class="proposal-statement media side-opposition">
                <a class="statement-portrait" href="{{member.get_absolute_url}}">
                    {% thumbnail member.photo "64x64" as tn %}
                    <img class="media-object" src="{{tn.url}}">
                    {% endthumbnail %}
                </a>
                <div class="media-body proposal-statement-content">
                    <h5 class="media-heading">{{member}} /{{member.party.abbreviation}}</h5>
                    <div class="proposal-statement-text">
                        {{doc.question|linebreaks}}
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endif %}

            {% if doc.answer %}
            <div class="proposal-statement media side-government">
                <div class="media-body proposal-statement-content">
                    <h5 class="media-heading">{{doc.answerer_title}} {{doc.answerer_name}}</h5>
                    <div class="proposal-statement-text">
                        {{doc.answer|linebreaks}}
                    </div>
                </div>
            </div>
            {% endif %}
            <h2>Käsittelyt</h2>
            <ul class="proposal-progresses">
                  {% for stage in doc.processing_stages %}
                  <li class="progress-phase {% if stage.date %}passed{% else %}unpassed{% endif %}">
                      <h4><i class="typcn {% if stage.date %}typcn-input-checked{% else %}typcn-media-stop-outline{% endif %}"></i>{{stage.name|safe}}</h4>
                      {% for item in stage.items %}
                      <div class="progress-session media">
                        <i class="typcn typcn-group media-left"></i> 
                        <div class="media-body">
                        <h5><a href="{{ item.get_absolute_url }}">Täysistunto {{ item.plsess.date }}</a></h5>
                        <span class="nr_votes"><i class="typcn typcn-tabs-outline" title="{% trans "Plenary votes" %}"></i>{{ item.nr_votes }}</span>
                        <span class="nr_statements"><i class="typcn typcn-message-typing" title="{% trans "Statements" %}"></i>{{ item.nr_statements }}</span>
                          </div>
                      </div>
                      {% endfor %}
                  </li>
                  {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script type="text/template" id="similar-document-item-template">
<li>
    <a href='<%= url %>'><%= name %>: <%= title %></a>
</li>
</script>

<script type="text/javascript">
document_json = {{document_json|safe}};
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static 'js/document-details.coffee' %}"></script>
{% endcompress %}

{% endblock %}
