{% extends "base.html" %}
{% load compress static i18n thumbnail %}

{% block title %}{{doc.name}}: {{doc.subject}}{% endblock %}

{% block main_class %}document-details{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="box hide similar-citizens-initiatives">
            <h4>{% trans "Similar Citizens' Initiatives" %}</h4>
            <ol></ol>
        </div>
        <div class="box hide similar-documents">
            <h4>{% trans "Similar documents" %}</h4>
            <ol></li>
        </div>
    </div>
    <div class="col-md-11">
        <div class="proposal-content content">
            <header>
                <h1>{{doc.subject}}</h1>
                <div class="details">
                    <span class="type">{{doc.get_type_display}}</span>
                    <small class="number">{{doc.name}}</small>
                    <div class="labels">
                        {% for kw in doc.keywords.all %}
                        <span class="label label-default">{{kw.name}}</span>
                        {% endfor %}
                    </div>
                </div>
                <ol class="proposal-progress">
                    {% for stage in doc.processing_stages %}
                    <li class="{% if stage.date %}passed{% else %}unpassed{% endif %}">
                        <span class="phase">{{stage.name|safe}} <!-- <span class="arrow"></span> --></span>
                    </li>
                    {% endfor %}
                </ol>
            </header>
            <h4>{% trans "Proposal content" %}</h4>
            <div class="proposal-summary">{{doc.summary|linebreaks}}</div>

            <h4>{% trans "Statements" %}</h4>
            <div class="proposal-statements">
            {% for item in session_items %}
              <h5>{% trans "Plenary session" %} {{ item.plsess.date }}</h5>
              {% for statement in item.statement_set.all %}
                <div class="proposal-statement media">
                <a class="pull-left" href="{{statement.member.get_absolute_url}}">
                  {% thumbnail statement.member.photo "64x64" as tn %}
                  <img class="media-object" src="{{tn.url}}">
                  {% endthumbnail %}
                </a>
                <div class="media-body proposal-statement-content">
                <h5 class="media-heading">{{statement.member}} /{{statement.member.party.name}}
                {% if statement.type == 'speaker' %} ({% trans "speaker" %}) {% endif %}
                </h5>
                <div class="proposal-statement-text">
                  {{statement.text}}
                </div>
                </div>
                </div>
              {% endfor %}
            {% endfor %}
            <h4>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
document_json = {{document_json|safe}};
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static 'js/models.coffee' %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/coffeescript" src="{% static 'js/document-details.coffee' %}"></script>
{% endcompress %}

{% endblock %}
