{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ org.name }}{% endblock %}
{% block content %}
{% load basic %}
{% load thumbnail %}

  <h1>{{ org.name }}</h1>
  <div id="show_org_info">
    <div>
      <img src='{% thumbnail org.logo 128x128 %}'>
      {{ org.description|safe|linebreaks }}
    </div>
  </div>
  <div id="show_org_scores">
{% if scores %}
    <h2>{% trans "Session scores" %}</h2>
    <table>
{% for score in scores %}
      <tr><td style="padding-right: 64px;">{{ score }}</td><td>{{ score.score }}</td></tr>
{% endfor %}
    </table>
{% else %}
    <h2>{% trans "No sessions scored" %}</h2>
    {% if is_admin %}{% blocktrans %}
    You may add a score here through the page for the voting session.
    {% endblocktrans %}{% endif %}
{% endif %}
  </div>
  {% if is_admin %}<a class="action_link" href="{% url orgs.views.modify_org org=org.url_name %}">{% trans "Modify" %}</a>{% endif %}

{% endblock %}
