{% extends "base.html" %}
{% load compress static i18n static %}

{% block title %}{% trans "Topic" %}: {{topic.name}}{% endblock %}

{% block main_class %}member-details{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-5">
        <div class="issue-card">
            <div class="page-heading">
                <h1>{{topic.name}}</h1>
            </div>
        </div>
        <div class="content feature-tagcloud">
            <h4>{% trans "Related keywords" %}</h4>
            <div class="tagcloud tagcloud-navi">
            </div>
        </div>
    </div>
    <div class="col-lg-10">
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="box most-active-parties">
              <h4>{% trans "Which parties are active with this issue?" %}</h4>
              <!-- ehdotus: Aktiivisimmat puolueet tässä asiassa -->
              <ol>
              </ol>
            </div>
          </div>
          <div class="col-md-9">
            <div class="box most-active-members">
              <h4>{% trans "Who are active with this issue?" %}</h4>
              <!-- ehdotus: Aktiivisimmat edustajat tässä asiassa -->
              <ol>
              </ol>
            </div>
          </div>
        </div>
        <div class="feed-filters">
          <form class="form-horizontal">
            <fieldset>
              <legend>Aktiivisuus</legend>
              <div id="topic-activity-graph" class="activity-graph"></div>
            </fieldset>
            <fieldset>
              <legend>Rajaus</legend>
              <!-- <div>
                      <input type="text" class="form-control" placeholder="Hae sisällöstä">
                    </div> -->
              <br>
              <div class="btn-toolbar">
                <!-- Filter buttons rendered here -->
              </div>
            </fieldset>
          </form>
        </div>
        <h3>{% blocktrans with topic=topic.name %}Documents related to topic "{{topic}}"{% endblocktrans %}</h3>
        <ul class="activity-feed"></ul>
      </div>
      </div>
</div>

{% include "_feed_item_template.html" %}

<script type="text/template" id="most-active-party-template">
    <li title="<%= full_name %>">
      <div class="party-thumbnail">
        <a href="<%= view_url %>">
          <img src="<%= thumbnail_url %>">
        </a>
        <div class="thumbnail-activity">
          <div class="thumbnail-activity-bar" style="width: <%= party_activity_percentage %>%"></div>
        </div>
      </div>
    </li>
</script>

<script type="text/template" id="most-active-member-template">
    <li title="<%= name %>">
      <div class="member-thumbnail">
        <a href="<%= view_url %>">
          <img src="<%= thumbnail_url %>">
        </a>
        <div class="thumbnail-activity">
          <div class="thumbnail-activity-bar" style="width: <%= member_activity_percentage %>%"></div>
        </div>
      </div>
    </li>
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static "js/feed.coffee" %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
{% endcompress %}

<script type="text/javascript">
    topic = new Keyword({{keyword_json|safe}});
    FEED_ACTIONS = {{feed_actions_json|safe}};
    FEED_FILTERS = {{feed_filters_json|safe}};
    FEED_FILTER_ALL = {
        name: "{% trans 'All documents' %}",
    }
    keyword_json = {{keyword_json|safe}};
    topic_activity_end_date = "{{keyword_activity_end_date|safe}}"
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static "js/plots.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/activity_scores.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/topic-details.coffee" %}"></script>
{% endcompress %}

{% compress js inline %}
<script type="text/coffeescript">
    graph = new TopicActivityScoresView topic, \
                    end_date:topic_activity_end_date,
                    el:"#topic-activity-graph"
</script>
{% endcompress %}

{% endblock %}
