{% extends "base.html" %}
{% load i18n thumbnail comments opinions %}
{% block title %}{{ member.name }}{% endblock %}
{% block head %}
<meta property="og:title" content="{{ member.get_print_name }}" />
<meta property="og:type" content="politician" />
<meta property="og:image" content="http://{{ fb_host }}{% thumbnail member.photo 64x96 %}" />
<meta property="og:url" content="http://{{ fb_host }}{{ member.get_absolute_url }}" />
<script type="text/javascript">
  $(document).ready(function() {
    $('[title]').tooltip({
      delay: 50,
      fade: 100,
      track: true,
      showURL: false,
    });

{% if user.is_authenticated %}
    var vote_func = function() {
      var up_count = $('.user_vote_up .user_vote_count');
      var down_count = $('.user_vote_down .user_vote_count');

      var success_func = function(resp) {
	up_count.text(resp.up);
	down_count.text(resp.down);
      };
      if ($(this).parent().hasClass('user_vote_up')) {
	data = "vote=up";
      } else {
	data = "vote=down";
      }
      $.ajax({
	type: "POST",
	data: data,
	dataType: "json",
	url: "{% url votes.views.set_member_user_vote member=member.url_name %}",
	success: success_func,
      });

      return false;
    };
{% else %}
    var vote_func = function() {
        alert("{% trans 'Please log in first!' %}");
    }
{% endif %}
    $('.user_vote_button').click(vote_func);
  });
</script>
{% endblock %}

{% block sidebar %}
<p><a class="action_link{% ifequal section 'basic' %} action_link_active{% endifequal %}" href="{% url votes.views.show_member member=member.url_name %}">{% trans "General" %}</a></p>
<p><a class="action_link{% ifequal section 'votes' %} action_link_active{% endifequal %}" href="{% url votes.views.show_member member=member.url_name section='votes' %}">{% trans "Votes" %}</a></p>
<p class="action_link_disabled">{% trans "Register of interest" %}</p>
<p><a class="action_link{% ifequal section 'statements' %} action_link_active{% endifequal %}" href="{% url votes.views.show_member member=member.url_name section='statements' %}">{% trans "Statements" %}</a></p>
{% comment %}<p><a class="action_link{% ifequal section 'comments' %} action_link_active{% endifequal %}" href="{% url votes.views.show_member member=member.url_name section='comments' %}">{% trans "Comments" %}</a></p> {% endcomment %}
<p><a class="action_link{% ifequal section 'opinions' %} action_link_active{% endifequal %}" href="{% url votes.views.show_member member=member.url_name section='opinions' %}">{% trans "Opinions" %}</a></p>

{% endblock %}

{% block content %}
    <h1>{{ member.get_print_name }}</h1>

{% comment %}---------------- BASIC ----------------{% endcomment %}
{% ifequal section "basic" %}
    <div id="member_info">
    <div id="member_basic_info">
    <a href="{{ member.info_link }}"><img class="member_portrait" src="{% thumbnail member.photo 128x192 %}" /></a>
        <img class="member_party_logo" src="{% thumbnail member.party.logo 96x96 %}" />
    <table>
    <tr><td class='member_info_field_name'>{% trans "Surname" %}</td><td>{{ member.surname }}</td></tr>
    <tr><td class='member_info_field_name'>{% trans "Given names" %}</td><td>{{ member.given_names }}</td></tr>
    <tr><td class='member_info_field_name'>{% trans "Birthdate" %}</td><td>{{ member.birth_date|date }}</td></tr>
    <tr></tr>
{% if member.email %}
    <tr><td class='member_info_field_name'>{% trans "Email address" %}</td><td>{{ member.email }}</td></tr>
{% endif %}
{% if member.phone %}
    <tr><td class='member_info_field_name'>{% trans "Telephone" %}</td><td>{{ member.phone }}</td></tr>
{% endif %}
{% if member.da_list.count %}
      <tr><td class='member_info_field_name'>{% trans "Electoral districts" %}</td>
      <td><ul>
{% for da in member.da_list %}
	<li>{{ da.name }} {{ da.begin|date }}&#8211;{% if da.end %}{{ da.end|date }}{% endif %}</li>
{% endfor %}
      </ul></td></tr>
{% endif %}
{% if member.pa_list.count %}
      <tr><td class='member_info_field_name'>{% trans "Party associations" %}</td>
      <td><ul>
{% for pa in member.pa_list %}
	<li>{{ pa.party.full_name }} {{ pa.begin|date }}&#8211;{% if pa.end %}{{ pa.end|date }}{% endif %}</li>
{% endfor %}
      </ul></td></tr>
{% endif %}
    </table>
    </div>{% comment %}member_basic_info{% endcomment %}
    <div id="member_user_vote">
    <span style="margin-right: 16px; float: left;" class="user_vote">
      <span class="user_vote_up"><a href="#" style="float: left;" class="yes_vote user_vote_button"></a><p class="user_vote_count">{{ user_votes.up }}</p></span>
      <span class="user_vote_down"><a href="#" style="float: left;" class="no_vote user_vote_button"></a><p class="user_vote_count">{{ user_votes.down }}</p></span>
    </span>
{% if fb_enabled %}
{% include "_facebook.html" %}
    <span class="fb_like"><fb:like show_faces=false font="verdana"></fb:like></span>
{% endif %}
    </div>
    </div>{% comment %}member_info{% endcomment %}
    <div id="stats">
{% with stats_table as table %}
{% include "_table.html" %}
{% endwith %}
    </div>
{% endifequal %}

{% comment %}---------------- VOTES ----------------{% endcomment %}
{% ifequal section "votes" %}
{% if vote_page %}
    <table id="member_vote_list">
      <tr>
        <th>{% trans "Session" %} &#x25bc;</th>
        <th>{% trans "Vote" %}</th>
      </tr>
    {% for vote in vote_page.object_list %}
    {% with vote.session as sess %}
       <tr>
          <td class="member_info_session"><a href="{% url votes.views.show_session plsess=sess.plenary_session.url_name,sess=sess.number %}">{{ vote.session.plenary_session.name }}/{{ vote.session.number }}</a></td>
    {% ifequal vote.vote 'Y' %}
          <td class="yes_vote member_info_vote" title='{% trans "Yay" %}'></td>
    {% endifequal %}
    {% ifequal vote.vote 'N' %}
          <td class="no_vote member_info_vote" title='{% trans "Nay" %}'></td>
    {% endifequal %}
    {% ifequal vote.vote 'E' %}
          <td class="empty_vote member_info_vote" title='{% trans "Empty" %}'></td>
    {% endifequal %}
          <td style="padding-left: 8px; font-size: 80%">{{ sess.info|truncatewords:8 }}</td>
        </tr>
    {% endwith %}
    {% endfor %}
    </table>
{% load pagination_nav %}
{% pagination_nav_qs vote_page "" request.GET %}
{% else %}
    <h2>{% trans "No votes in database" %}</h2>
{% endif %}
{% endifequal %}

{% comment %}---------------- COMMENTS ----------------{% endcomment %}
{% ifequal section "comments" %}
{% get_comment_list for member as comment_list %}
{% for comment in comment_list %}
<div class="comment">
  <div class="user_portrait">
    <img src="{{ MEDIA_URL }}images/icons/anon.png" />
  </div>
  <div class="comment_body">{{ comment.comment|linebreaks }}</div>
  <div class="comment_meta">
    <div class="comment_author">{{ comment.user_name }}</div>
    <div class="comment_date">{{ comment.submit_date|timesince }} {% trans "ago" %}</div>
  </div>
  <div class="clear"></div>
</div>
{% endfor %}
<br />
<div id="new_comment">
  <h3>{% trans "Leave a new comment" %}</h3>
  {% render_comment_form for member %}
</div>
{% endifequal %}

{% comment %}---------------- STATEMENTS ----------------{% endcomment %}
{% ifequal section "statements" %}
{% if statement_page %}
{% load pagination_nav %}

{% for st in statement_page.object_list %}
{% ifchanged %}<h3>{{ st.plenary_session }}</h3>
<span class="news_item_date">{{ st.plenary_session.date|date }}</span>{% endifchanged %}
<div class="statement">
<a href="{% url votes.views.show_plsession plsess=st.plenary_session.url_name,dsc=st.dsc_number %}#statement-{{ st.index }}">{{ st.html|safe }}</a>
</div>
{% endfor %}


{% pagination_nav_qs statement_page "" request.GET %}

{% else %}
  <h2>{% trans "No statements found" %}</h2>
{% endif %}
{% endifequal %}

{% ifequal section "opinions" %}
{% for answer in answers %}
<div class="opinion_answer">
  <div class="question">
    <span class="source">
      {{answer.option.question.source.name}}
      {{answer.option.question.source.year}}
    </span>
    {{answer.option.question.text}}
  </div>
  {% with answer.option.question.option_set.all as options %}
  <ul class="options">
  {% for option in options %}
    <li
       class="option{% ifequal option answer.option %} selected{% endifequal %}"
    >
	{{option.name}}</li>
  {% endfor %}
  </ul>
  {% if answer.explanation %}
    <div class="opinion_explanation">
      "{{answer.explanation}}"
    </div>
  {% endif %}
  {% if answer.congruence != None %}
    <div class="answer_congruence">
      {%comment%}
      <span class="answer_congruence_average">
        {% trans "Average congruence of this answer:" %}
        {{answer.congruence|congruence_to_percentage}}%
      </span>
      {%endcomment%}
      <table class="answer_relevant_votes">
        <tr>
          <th class="relevant_vote_session">
            {% trans "Relevant voting session" %}
          <th class="relevant_vote_vote">
            {% trans "Vote" %}
          </th>
          <th class="relevant_vote_congruence">
            {% trans "Congruence" %}
          </th>
        </tr>
        {% for v in answer.relevant_votes %}
          <tr>
            <td class="relevant_vote_session">
              <a href="{% url votes.views.show_session plsess=v.session.plenary_session.url_name sess=v.session.number %} ">
                {{v.session.get_short_summary}}
              </a>
            </td>

            {% if v.vote == 'Y' %}
            <td class="relevant_vote_vote yes_vote" title={% trans 'Yay' %}></td>
            {% endif %}

            {% if v.vote == 'N' %}
            <td class="relevant_vote_vote no_vote" title={% trans 'Nay' %}></td>
            {% endif %}

            {% if v.vote != 'Y' and v.vote != 'N' %}
            {% comment %}
              This shouln't occur. Oh, and BTW Django's template
              system is a piece of shit
            {% endcomment %}
            <td class="relevant_vote_vote"></td>
            {% endif %}
            
            </td>
            <td class="relevant_vote_congruence">
              <a href="{% url opinions.views.show_question answer.option.question.source.url_name answer.option.question.order %}">
                {{v.congruence|congruence_to_percentage}}%
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}

  {% endwith %}
</div>
{% endfor %}
{% endifequal %}

{% endblock %}

