{% load i18n %}

<div class="tag_cloud">
    <h1 class="tag_cloud">{% trans "Keywords from the latest votes" %}</h1>
    <div id="tag_cloud_items">
    </div>
</div>

<script type="text/javascript">
    var kw_arr = [];

    {% for kw in keyword_tagcloud %}
        kw_arr.push({
            name:"{{ kw.name }}",
            count:{{ kw.count }},
            url:"{{ kw.url }}",
        });
    {% endfor %}

    $(function() {
        var min_count;
        var max_count;
        var min_font_size;
        var max_font_size;
        var font_size_delta;


        min_count = Infinity;
        max_count = 0;

        for (i = 0; i < kw_arr.length; i++) {
            var count = kw_arr[i].count;

            if (count < min_count)
                min_count = count;
            if (count > max_count)
                max_count = count;
        }

        min_count = Math.log(min_count);
        max_count = Math.log(max_count);

        min_opacity = 0.6;
        min_font_size = 10;
        max_font_size = 20;
        font_size_delta = max_font_size - min_font_size;

        weight_scale = max_count - min_count;

        for (i = 0; i < kw_arr.length; i++) {
            var kw = kw_arr[i];
            var weight;
            var font_size;
            var opacity;
            var li;

            weight = (Math.log(kw.count) - min_count);
            weight /= weight_scale;

            font_size = min_font_size;
            font_size += Math.round(font_size_delta * weight);

            $("<ul>").attr("id", "tag_list").appendTo("#tag_cloud_items");

            li = $("<li>");
            opacity = min_opacity + (1.0 - min_opacity) * weight;

            $("<a>").
                text(kw.name).
                attr({
                        title:"" + kw.count,
                        href:kw.url,
                        }).
                css("opacity", opacity).
                appendTo(li);

            li.children().css("fontSize", font_size + "px");
            li.appendTo("#tag_list");
        }
    });
</script>
