{% extends "base.html" %}
{% load i18n thumbnail tagging_tags basic comments %}
{% block title %}{% trans "Votes" %} - {{ psession.name }}/{{ session.number }}{% endblock %}
{% block sidebar %}
<div style='margin-bottom: 32px'>
  <p><a class="action_link{% ifequal section 'basic' %} action_link_active{% endifequal %}" href="{% url votes.views.show_session plsess=psession.url_name,sess=session.number %}">{% trans "General" %}</a></p>
  {% comment %}<p><a class="action_link{% ifequal section 'comments' %} action_link_active{% endifequal %}" href="{% url votes.views.show_session plsess=psession.url_name,sess=session.number,section='comments' %}">{% trans "Comments" %}</a></p>{% endcomment %}
</div>
{% endblock %}
{% block content %}
  <h1>{% trans "Plenary session" %} {{ psession.name }}, {% trans "vote" %} {{ session.number }},
    {{ psession.date|i18n_date:"long-month" }}, {% trans "time" %} {{ session.time|time }}
  </h1>
{% ifequal section "basic" %}
  <div class='session_info h2_section'>
    {{ session.info|linebreaks }}
  {% if session.subject %}
    <p><i>{{ session.subject }}</i></p>
  {% endif %}
  {% if session.kw_list %}
    <ul class='session_keyword'>{% for kw in session.kw_list %}
      <a href='{% url votes.views.search_by_keyword %}?query={{ kw|urlencode }}'><li class='session_keyword'>{{ kw }}</li></a>{% if not forloop.last %} |{% endif %}
    {% endfor %}</ul></p>
  {% endif %}
  </div>

{% comment %}
  <div class="h2_section">
  <h2>{% trans "Tags" %}</h2>
{% tags_for_object session as tags %}
{% for tag in tags %}
  <a href="/tag/{{ tag.name|urlencode }}">{{ tag.name }}</a>
{% endfor %}
  <h3>{% trans "Add tag" %}</h3>
  <form action="tag/" method="post">
    <input type="text" maxlength="50" name="tag" />
  </form>
  </div>
{% endcomment %}

{% if score_table %}
  <div class="h2_section">
  <h2>{% trans "Scoring" %}</h2>
{% with score_table as table %}
{% include "_table.html" %}
{% endwith %}
  </div>
{% endif %}

{% if 1 %}
  <div class="h2_section">
  <h2>{% trans "Session documents" %}</h2>
  <div id='session_doc_list'>
  <ul>
    <li><a class="action_link" href="{{ psession.info_link }}">{% trans "Plenary session minutes" %}</a>
{% for doc in session.docs %}
    <li><a class='action_link' href='{{ doc.info_link }}'>{{ doc.name }}</a></li>
{% endfor %}
  </ul>
  </div>
  </div>
{% endif %}

  <div class='session_votes'>
  <h2>{% trans "Votes" %}</h2>
{% for table in tables %}
  <table class='vote_list {{ table.class }}'>
  <tr>
{% for col in table.col_hdr %}
  <th class="{{ col.class }}" title="{{ col.title }}">
{% if col.sort_key %}
{% ifequal request.GET.sort col.sort_key %}
    <a href="{% query_string "" "sort" %}&sort=-{{ col.sort_key }}">
{% else %}
    <a href="{% query_string "" "sort" %}&sort={{ col.sort_key }}">
{% endifequal %}
{% endif %}
{% if col.img %}
    <img src='{% thumbnail col.img 32x32 %}' />
{% else %}
  {{ col.name }}
{% endif %}
{% if col.sort_key %}
    </a>
{% ifequal request.GET.sort col.sort_key %}
    &#x25bc;
{% else %}
{% ifequal request.GET.sort|cut:"-" col.sort_key %}
    &#x25b2;
{% endifequal %}
{% endifequal %}
{% endif %}
  </th>
{% endfor %}
  </tr>
{{ table.html|safe }}
  </table>
{% endfor %}
  </div>
{% endifequal %}

{% comment %}---------------- COMMENTS ----------------{% endcomment %}
{% ifequal section "comments" %}
{% get_comment_list for session as comment_list %}
{% for comment in comment_list %}
<div class="comment">
  <div class="user_portrait">
    <img src="/static/images/icons/anon.png" />
  </div>
  <div class="comment_body">{{ comment.comment|linebreaks }}</div>
  <div class="comment_meta">
    <div class="comment_author">{{ comment.user_name }}</div>
    <div class="comment_date">{{ comment.submit_date|timesince }} {% trans "ago" %}</div>
  </div>
  <div class="clear"></div>
</div>
{% endfor %}
<br />
<div id="new_comment">
  <h3>{% trans "Leave a new comment" %}</h3>
  {% render_comment_form for session %}
</div>
{% endifequal %}
{% endblock %}

